/*
    Contents
        1. typography classes
*/


/*Typography
    1. section heading
    2. card heading
    3. page heading
    4. page subheading

    1. card body
    2. button text
    3. body text

    usage: cb-a-b ;
*/
 

 
.cb-section-heading {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -.02em;
}

.cb-card-heading {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .035em;
}

.cb-page-heading {
    font-size: 36px;
    font-weight: 700;
    letter-spacing: -.02em;
}

.cb-page-subheading {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: -.02em;
}

.cb-card-body {
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 400;
}

.cb-body {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.5em;
    font-weight: 400;
}

.cb-button-text {
    font-size: 12px;
    letter-spacing: .02em;
}

.cb-body-text {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -.004em;
}

.justify {
    text-align: justify;
}

@media only screen and (max-width: 500px) {
    .cb-body {
        font-size: 13px;
        letter-spacing: 0;
        font-weight: 400;
    }
}