<md-dialog aria-label="Dog name" class="_md md-default-theme md-transition-in dialog-login" role="dialog">
    <button style="position: absolute;right: 0px" class="md-button md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="close-circle" style="color: #fff;" aria-label="Alarm Icon"></md-icon>
    </button>
    <md-dialog-content ng-controller="loginDialogController" ng-show="loginVar" class="md-dialog-content">
        <center>
            <img ng-src="{{user.imageUrl}}" alt="" style="border-radius: 50%; height: auto;width: 20%">
            <p >Log into your account</p>
        </center>
        <div class="" layout="column">
            <div>{{problem}}</div>
            <div layout="row" ng-hide="!loading" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div flex layout="column" ng-show="!loading">
                <!-- REQUIRED FOR WEBAPP -->
                <md-button style="color: rgb(63, 81, 181);" ng-click="authenticate('facebook')" class="md-raised ">
                    <md-icon style="color: rgb(63, 81, 181);" md-svg-icon="facebook"></md-icon>Continue with facebook
                </md-button>
                <!-- END -->
                <!-- REQUIRED FOR CORDOVA -->
                <!-- <md-button style="color: rgb(63, 81, 181);" ng-click="authenticateFromCordova('facebook')" class="md-raised ">
                    <md-icon style="color: rgb(63, 81, 181);" md-svg-icon="facebook"></md-icon>Continue with facebook
                </md-button> -->
                <!-- END -->
                <!-- REQUIRED FOR WEBAPP -->
                <md-button style="background: #fff;color: rgb(244, 67, 54);" g-login class="md-raised  red">
                    <md-icon style="color: rgb(244, 67, 54);" md-svg-icon="google"></md-icon>+ Continue with google
                </md-button>
                <!-- END -->
                <!-- REQUIRED FOR CORDOVA -->
                <!-- <md-button style="background: #fff;color: rgb(244, 67, 54);" ng-click="googleSignIn()" class="md-raised  red">
                    <md-icon style="color: rgb(244, 67, 54);" md-svg-icon="google"></md-icon>+ Continue with google
                </md-button> -->
                <!-- END -->
            </div>
            <center>
                <p>Don't have an account yet ?
            </center>
            <md-button ng-click="showSignUp()" class="md-raised">Get Started Now</md-button>
        </div>
    </md-dialog-content>
    <md-dialog-content ng-show="signup" style="overflow-x: hidden;" ng-controller="SignUpDialogController">
        <div class=" md-whiteframe-z1 " flex style="min-width: 50%" flex-sm layout="column">
            <!-- <md-progress-linear md-mode="determinate" value="{{currentState*33}}"></md-progress-linear> -->
            <div ng-show="currentState==1" class="md-p adding autocomplete" layout="column">
                <center>
                    <span class="md-subtitle" ng-show="message" style="color: #F44336;">{{message}}</span>
                    <p > Signing up for new account.</p>
                    <p >Select atleast 3 topics to
                        <br>personalise your content stream.</p>
                </center>
                <form>
                    <center>
                        <div flex hide-sm hide-xs layout="row" layout-align="center center" ng-repeat="itemgroup in items">
                            <span ng-repeat="item in itemgroup track by $index">                        
                            <md-button  ng-class="item.intrested?'interest_selected':'interest-login'" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">                        
                                {{ item.title }}
                            </md-button>
                   
                    </span>
                        </div>
                        <div hide-gt-sm flex layout="row" layout-align="center center" ng-repeat="itemgroup in itemsMobile">
                            <span ng-repeat="item in itemgroup track by $index">                        
                            <md-button  ng-class="item.intrested?'interest_selected':'interest-login'" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">                        
                                {{ item.title }}
                            </md-button>
                   
                    </span>
                        </div>
                    </center>
                </form>
                <!--                 <div layout="row" flex>
                    <md-button flex="60" flex-offset="20" ng-disabled="interests.length<3" style="float:right" ng-click="currentState=3;" class="md-raised continue-button">
                        Continue
                    </md-button>
                </div> -->
                <center>
                    <p class="md-subtitle" style="color: rgba(255, 255, 255, 0.81);">Already have an account ? <span ng-click="showLogin('hi')" style="cursor: pointer;color:#fff;text-decoration: underline;"> Login here </span> </p>
                </center>
                <div layout="column">
                    <!-- REQUIRED FOR WEBAPP -->
                    <md-button ng-hide="interests.length<3" style="background: #fff;text-transform: none;color: : rgb(244, 67, 54); width: 50%; margin: auto; margin-top: 4px;" ng-click="authenticate('facebook');" class="md-raised ">
                    <!-- END -->
                    <!-- REQUIRED FOR CORDOVA -->
                    <!-- <md-button ng-hide="interests.length<3" style="background: #fff;text-transform: none;color: : rgb(244, 67, 54); width: 50%; margin: auto; margin-top: 4px;" ng-click="authenticateFromCordova('facebook');" class="md-raised "> -->
                    <!-- END -->
                        <md-icon md-svg-icon="facebook" style="background: #fff;"></md-icon>Complete with Facebook
                    </md-button>
                    <!-- REQUIRED FOR WEBAPP -->
                    <md-button ng-hide="interests.length<3" style="color: : rgb(244, 67, 54);text-transform: none; width: 50%; margin: auto; margin-top: 4px;background: #fff" g-login class="md-raised ">
                    <!-- END -->
                    <!-- REQUIRED FOR CORDOVA -->
                    <!-- <md-button ng-hide="interests.length<3" style="color: : rgb(244, 67, 54);text-transform: none; width: 50%; margin: auto; margin-top: 4px;background: #fff" ng-click="googleSignUp()" class="md-raised "> -->
                    <!-- END -->
                        <md-icon style="background: #fff;" md-svg-icon="google"></md-icon>+ Complete with Google+
                    </md-button>
                </div>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
