.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    color: transparent!important;
    background: linear-gradient(to right, #f6f7f8 8%, #eee 18%, #f6f7f8 33%);
    background-size: 800px 104px;
    position: relative;
}

.cb-card {
    background-color: white;
    border-radius: 2px;
    margin: 16px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .02);
}

.cb-card-mobile {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.cb-body-container {
    max-width: 720px;
    margin: auto;
}

@media only screen and (max-width: 500px) {}