// COLORS
$main-bg-color: #fff;
$text-color: #282c35;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;
// VARIABLES
$left-sidenav-width: 110px;
$widget-height: 310px;
$font-weight-bold: 600;
$font-size-large: 22px;
// LAYOUT
md-card {
    overflow: hidden;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .02);
}

md-card-header.layout-align-start-center.layout-row {
    background: #fff;
}

.capitalize.grey_text.md-button.active md-icon {
    fill: #0570c0;
}

.capitalize.grey_text.md-button md-icon {
    fill: #6A6E71;
}

.capitalize.grey_text.md-button .md-tile-content {
    color: #6A6E71;
}

// .active.capitalize.grey_text.bottom-menu-item{
.capitalize.grey_text.md-button.active .md-tile-content {
    color: #0570c0;
}

.dialog-login {
    background-color: #0570c0 !important;
    color: #fff !important;
}

.md-not-raised {
    background: #f1f1f1;
}

body {
    color: $text-color;
}

.weight-500 {
    font-weight: 500 !important;
}

.pink {
    fill: rgb(233, 30, 99) !important;
}

md-card md-card-title md-card-title-media .md-media-lg {
    height: 140px;
    width: 140px;
}

.badge {
    margin: 0 0 0 8px;
    background-color: #aaa;
    color: white;
    padding: 2px 4px;
    border-radius: 2px;
}

.your-custom-chip {
    font-weight: 400 !important;
    font-style: normal !important;
    color: rgba(0, 0, 0, .44) !important;
    font-size: 13px !important;
    letter-spacing: 0px !important;
    text-decoration: none !important;
    background: #fafafa;
    border-radius: 3px !important;
    border: 1px solid #f0f0f0 !important;
}

.pointer {
    cursor: pointer;
}

.bottom-menu-item {
    margin: 0;
    padding: 0;
    overflow: visible;
    line-height: 28px;
}

.bottom-menu-item .md-tile-content {
    font-size: 12px;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    height: 400px;
    /*min-height: 12vh;*/
    max-height: 400px !important;
}

.grey {
    fill: #9E9E9E !important;
}

.grey_text {
    color: #6A6E71 !important;
}

.blue_text {
    color: #0570c0 !important;
}

.blue-bg {
    color: #0570c0 !important;
}

.capitalize {
    text-transform: capitalize;
}

.toolbar-button {
    min-width: 20px;
}

.share-label {
    vertical-align: middle;
    margin-left: 10px;
}

.widget-progress {
    width: 95% !important;
    margin-left: 10px;
}

div.pageContainer {
    height: auto;
}

// UTILS
.capitalize {
    text-transform: capitalize;
}

.img-circle {
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
}

// COMPONENTS
.messages {
    position: relative;
    &-content {
        height: 100vh;
    }
}

.notifications-label {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    font-size: 12px;
    top: 2px;
    right: 2px;
    background-color: $warning-color;
}

// panel-widget
.panel-widget {
    background-color: white;
    &-toolbar {
        box-shadow: none;
        margin: 0;
    }
    &-tittle {
        color: $text-color;
    }
}

.options {
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.options.ng-hide {
    opacity: 0;
}

.fixed-height-widget {
    height: $widget-height;
}

// charts
.donut-chart-title {
    text-align: center;
}

.custom-tooltip {
    font-size: $font-size-large;
    color: $text-color;
    text-align: center;
}

// OVERRIDES
// angular material overrides
md-radio-group {
    border: none;
}

md-icon {
    height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
    width: $left-sidenav-width;
    min-width: $left-sidenav-width;
    max-width: $left-sidenav-width;
}

a.md-button.md-warn.md-raised,
a.md-button.md-warn.md-fab,
.md-button.md-warn.md-raised,
.md-button.md-warn.md-fab {
    color: white;
}

md-radio-button.md-accent.md-checked .md-label span {
    color: $accent-color;
}

.md-toolbar-tools h1 {
    font-size: $font-size-large;
}

md-backdrop.md-sidenav-backdrop {
    position: fixed;
}

// libs overrides
.material-icons {
    vertical-align: middle;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.nvd3.nv-pie .nv-pie-title {
    fill: rgb(68, 68, 68);
    font-weight: $font-weight-bold;
    font-size: $font-size-large !important;
}

.nvtooltip {
    background-color: transparent;
    border: none;
    font-weight: $font-weight-bold;
}

.orange .md-bar2 {
    background-color: orange;
}

.orange .md-container {
    background-color: rgb(255, 236, 201)
}

//events page 
.flexy-16 {
    -webkit-flex: 1 1 16%;
    -ms-flex: 1 1 16%;
    flex: 1 1 16%;
    box-sizing: border-box;
}

.flexy-20 {
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    box-sizing: border-box;
}

.flexy-30 {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.eventListItem .md-button {
    padding: 0 !important;
}

.eventListItem md-card {
    margin: 3px;
}

md-list-item:last-child md-divider {
    display: none;
}

.shimmer {
    /* the shimmer magic */
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@-ms-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}


/*colllege filter start*/

.selectdemoSelectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}

.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectdemoSelectHeader md-content._md {
    max-height: 240px;
}

.pink {
    fill: rgb(233, 30, 99) !important;
}

.blue {
    fill: #0570c0 !important;
}


/*college filter end*/

.cssload-tetrominos {
    position: absolute;
    left: 50%;
    transform: translate(-109px, -94px);
    -o-transform: translate(-109px, -94px);
    -ms-transform: translate(-109px, -94px);
    -webkit-transform: translate(-109px, -94px);
    -moz-transform: translate(-109px, -94px);
}

.cssload-tetromino {
    width: 94px;
    height: 109px;
    position: absolute;
    transition: all ease 0.35s;
    -o-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
    background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%230570C0" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%324324" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}


/*
Optional adjustments for md-autocomplete in mobile screens
*/

#place-autocomplete > md-autocomplete md-input-container {
    margin-top: -10px;
}

#place-autocomplete > md-autocomplete input {
    color: black;
}


/*Media query for tablets and above */

@media screen and (min-width: 480px) {
    #place-autocomplete > md-autocomplete md-input-container {
        padding-bottom: 0;
    }
}


/*image upload start*/

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

md-progress-circular.md-default-theme path,
md-progress-circular path {
    stroke: #fd5c63;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.continue-button[disabled] {
    background-color: rgba(255, 255, 255, .6)!important;
}

.medium-editor-placeholder::after {
    color: #b3b3b1;
}

.md-button.md-primary.md-raised[disabled] {
    background-color: rgba(30, 136, 229, 0.56);
    color: #fff;
}

#trix-toolbar-1 {
    background-color: white;
    position: fixed;
    bottom: 1%;
    width: 100%;
    left: 0;
    z-index: 2;
}

#trix-editor-1 {
    max-height: 30vh;
}

/*image upload end*/

// sign up page 
.interest:hover {
    background-color: rgba(0, 0, 0, 0.2)!important;
}

.interest {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    text-transform: none !important;
    padding: 0px 14px;
    min-width: 0px;
}

.interest-login {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 18px;
    text-transform: none !important;
    padding: 0px 14px;
    min-width: 0px;
}

.interest_selected {
    background-color: #f96262 !important;
    border-radius: 18px;
    padding: 0px 14px;
    text-transform: none !important;
    color: #fff;
    min-width: 0px;
}

.hint {
    /* Position the hint */
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: #aaa;
}

.login-box {
    background: #fff;
}

// show blog page 
.content-text p {
    margin: 0px;
    letter-spacing: 0.02em;
    line-height: 1.58;
    font-size: 21px;
    color: rgba(0, 0, 0, .8);
}

// add blog page 
.angular-medium-editor.medium-editor-element p {
    margin: 0px;
    letter-spacing: 0.02em;
    line-height: 1.58;
    font-size: 21px;
    color: rgba(0, 0, 0, .8);
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.medium-editor-placeholder:after {
    position: relative;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.uploadedImage {
    height: 100%;
    width: 100%;
    /*opacity: 0;*/
}

.categoryChip {
    cursor: default;
    background: #fff;
    border-radius: 5px;
    font-size: 12px;
    line-height: 32px;
    margin: 8px 8px 0 0;
    padding: 0 7px 0 7px;
    float: left;
    box-sizing: border-box;
    max-width: 100%;
    position: relative;
}


/*pasted from multiple images*/

.your-custom-chip {
    font-weight: 400 !important;
    font-style: normal !important;
    color: rgba(0, 0, 0, .44) !important;
    font-size: 13px !important;
    letter-spacing: 0px !important;
    text-decoration: none !important;
    background: #fafafa;
    border-radius: 3px !important;
    border: 1px solid #f0f0f0 !important;
}

md-chips.md-default-theme md-chip.mdfocused,
md-chips md-chip.md-focused {
    background-color: #fafafa !important;
    color: rgba(0, 0, 0, .44);
    border: 1px solid rgb(97, 97, 97) !important;
}

md-chips.md-default-theme md-chip,
md-chips md-chip,
md-chips md-chip.md-focused {
    /*border-color: rgba(2, 184, 117, 0.8);*/
    border: 1px solid rgb(97, 97, 97) !important;
}

md-chips.md-default-theme md-chip.md-focused md-icon,
md-chips md-chip.md-focused,
md-chips md-chip.md-focused md-icon {
    color: rgba(0, 0, 0, .44) !important;
}

md-icon.cross>svg {
    color: rgba(0, 0, 0, .44) !important;
    height: 15px;
    width: 15px;
    margin-top: 4px;
    margin-left: auto;
}

.publish-button {
    float: right;
    border: 1px solid #039BE5;
    color: #2899d1;
    text-transform: capitalize;
}

// shimmer loading effect 
@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0
    }
    100% {
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    color: transparent!important;
    background: linear-gradient(to right, #f6f7f8 8%, #eee 18%, #f6f7f8 33%);
    background-size: 800px 104px;
    position: relative;
}

// button styles 
.appreciate-button {
    text-transform: capitalize;
    color: rgb(233, 30, 99);
}

.rsvp-button {
    text-transform: capitalize;
    color: #0570c0;
}

.appreciate-button.appreciated {
    background: rgb(233, 30, 99);
    color: white;
    border-color: rgb(233, 30, 99);
}

.white-bg {
    background-color: #fff;
}

.white-text {
    color: #fff;
}

.content-card {
    width: 280px;
    height: 343px;
    box-shadow: 0 4px 16px -2px rgba(0, 0, 0, .1), 0 0 0 1px rgba(0, 0, 0, .02);
    margin-bottom: 24px;
    margin-left: 16px;
}

.play-button {
    fill: white;
    border-style: solid;
    border-color: white;
    border-radius: 100%;
    background: rgba(72, 69, 69, 0.47);
    text-shadow: 2px 2px 2px black;
    position: absolute;
    top: 25%;
    right: 42%;
    height: 60px;
    width: 60px;
}

.creativity-description {
    max-width: 688px;
    font-size: 16px;
    line-height: 1.58;
    margin-right: 30px;
    letter-spacing: -.022em;
    word-spacing: 0.1em;
    font-weight: 300;
    color: rgba(99, 108, 116, 0.87);
    font-style: normal;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.creativity-description-list {
    margin-top: 0px;
    margin-bottom: 0px;
}

.creativity-description-list br {
    display: none;
}

.creativity-description-single {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 688px;
    margin-top: 29px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 22px;
}

.creativity-description-single p {
    color: rgba(0, 0, 0, 0.8) !important;
    font-size: 22px !important;
}

.creativity-description p {
    margin: 0px;
    color: rgba(99, 108, 116, 0.87);
    font-size: 18px;
    line-height: 1.5;
    // line-height: 1.4;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    font-weight: 300;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.creativity-title {
    margin-left: auto;
    margin-right: auto;
    max-width: 688px;
    margin-top: 28px;
    font-size: 20px;
    line-height: 1.3;
    text-decoration: none;
    letter-spacing: -.028em;
    font-weight: 700;
    color: rgba(0, 0, 0, .8);
}

.creativity-title-single {
    font-size: 29px !important;
    line-height: 1.04 !important;
}

.creativity-cover-full {
    height: 275px !important;
}

.creativity-cover {
    cursor: pointer;
    height: 144px;
    object-fit: cover;
    width: 100%;
}

.event-cover-small {
    height: 170px !important;
}

.event-cover {
    height: 275px;
    cursor: pointer;
    height: 144px;
    object-fit: cover;
    width: 100%;
    background-color: #eee;
}

.read-more {
    color: rgba(0, 0, 0, .44);
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
    transition: .1s background-color, .1s border-color, .1s color, .1s fill;
}

.static-background {
    background: linear-gradient(#0570c0, #0570c0 70%, #f1f0f0 70.001%);
}

.creativity-page {
    // margin-top: 40px;
}

.page-content {
    overflow: auto;
}

@media only screen and (max-width: 500px) {
    .play-button {
        margin-left: 40%;
        margin-top: -31%;
    }
    .manageXs {
        padding-bottom: 66px;
    }
    .creativity-page {
        margin-top: 0px;
    }
    .page-content {
        padding: 0px;
        margin-bottom: 55px;
    }
    .static-background {
        background: #0570c0;
    }
    .read-more {
        color: rgba(0, 0, 0, .44);
        font-size: 16px;
        cursor: pointer;
        margin-top: 0px;
        transition: .1s background-color, .1s border-color, .1s color, .1s fill;
    }
    .creativity-card {
        margin: 0px;
    }
    .creativity-cover {
        cursor: pointer;
        height: 150px;
        max-width: 100%;
        object-fit: cover;
        width: 100%;
    }
    .creativity-title {
        margin-top: 31px;
        font-size: 32px !important;
        line-height: 1.3;
        margin-right: 20px;
        text-decoration: none;
    }
    .creativity-description {
        margin-top: 8px;
        max-width: 688px;
        font-size: 16px;
        line-height: 1.4em;
        letter-spacing: .022em;
        word-spacing: 0.1em;
        font-weight: 300;
        color: rgba(99, 108, 116, 0.87);
        font-style: normal;
        font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    }
    .creativity-description p,
    .creativity-description span {
        margin: 0px;
        color: rgba(99, 108, 116, 0.87);
        font-size: 18px;
        // line-height: 1.4em;
        line-height: 1.5em;
        letter-spacing: 0.01em;
        word-spacing: 0.1em;
        font-weight: 300;
        font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
    }
    .creativity-title-single {
        margin-right: 10px;
        margin-left: 10px;
    }
    .creativity-description-single {
        margin-top: 29px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
    .creativity-description-single {
        margin-left: 10px;
        margin-right: 10px;
        max-width: 688px;
        margin-top: 29px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.8);
        // font-size: 22px !important;
    }
    .likesNumber {
        cursor: pointer;
        color: rgba(0, 0, 0, .44);
    }
    .likesNumber:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, .6);
    }
    .interest {
        padding: 0px 7px;
        min-width: 0px;
        font-size: 12px;
        margin: 7px 2px;
    }
    .page-content {
        padding: 8px 0px !important;
    }
}
