// COLORS
$main-bg-color: #fafafa;
$text-color: #282c35;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;


// VARIABLES
$left-sidenav-width: 110px;
$widget-height: 310px;
$font-weight-bold: 600;
$font-size-large: 22px;


// LAYOUT
body {
  color: $text-color;
}

.toolbar-button {
  min-width: 20px;
}

.share-label {
  vertical-align: middle;
  margin-left: 10px;
}

.page-content {
  background-color: $main-bg-color;
}

.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}
div.pageContainer{
  height:auto;
}

// UTILS
.capitalize {
  text-transform: capitalize;
}

.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}


// COMPONENTS
.messages {
  position: relative;

  &-content {
    height: 100vh;
  }
}

.notifications-label {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
  background-color: $warning-color;
}

// panel-widget
.panel-widget {
  background-color: white;

  &-toolbar {
    box-shadow: none;
    margin: 0;
  }

  &-tittle {
    color: $text-color;
  }
}

.options {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.options.ng-hide {
  opacity:0;
}

.fixed-height-widget {
  height: $widget-height;
}

// charts
.donut-chart-title{
  text-align: center;
}

.custom-tooltip {
  font-size: $font-size-large;
  color: $text-color;
  text-align: center;
}


// OVERRIDES
// angular material overrides
md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: $left-sidenav-width;
  min-width: $left-sidenav-width;
  max-width: $left-sidenav-width;
}

a.md-button.md-warn.md-raised, a.md-button.md-warn.md-fab, .md-button.md-warn.md-raised, .md-button.md-warn.md-fab {
  color: white;
}

md-radio-button.md-accent.md-checked .md-label span {
  color: $accent-color;
}

.md-toolbar-tools h1 {
  font-size: $font-size-large;
}


md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

// libs overrides
.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.nvd3.nv-pie .nv-pie-title {
  fill: rgb(68, 68, 68);
  font-weight: $font-weight-bold;
  font-size: $font-size-large !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: $font-weight-bold;
}

.orange .md-bar2 {
  background-color: orange;
}

.orange .md-container {
  background-color: rgb(255, 236, 201)
}


//events page 

.flexy-16 {
    -webkit-flex: 1 1 16%;
    -ms-flex: 1 1 16%;
    flex: 1 1 16%;
    box-sizing: border-box;
}

.flexy-20 {
    -webkit-flex: 1 1 20%;
    -ms-flex: 1 1 20%;
    flex: 1 1 20%;
    box-sizing: border-box;
}

.flexy-30 {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.eventListItem .md-button {
  padding: 0 !important;
}
.eventListItem md-card {
  margin: 1px;
}
.shimmer {
    /* the shimmer magic */
    background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 125px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    -webkit-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #222;
}

@-moz-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@-webkit-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@-o-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@-ms-keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}

@keyframes shimmer {
    0% {
        background-position: top left;
    }
    100% {
        background-position: top right;
    }
}


/*colllege filter start*/

.selectdemoSelectHeader {
    /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}

.selectdemoSelectHeader .demo-header-searchbox {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
    padding-left: 10.667px;
    height: 48px;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    width: auto;
}

.selectdemoSelectHeader md-content._md {
    max-height: 240px;
}

.pink {
    fill: rgb(233, 30, 99) !important;
}

.blue {
    fill: #0570c0 !important;
}


/*college filter end*/


/*search autocomplete start*/

.autocomplete-custom-template li {
    border-bottom: 1px solid #ccc;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}

.autocomplete-custom-template li:last-child {
    border-bottom-width: 0;
}

.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}

.autocomplete-custom-template .item-title md-icon {
    height: 18px;
    width: 18px;
}

/*search autocomplete start*/
.cssload-tetrominos {
  position: absolute;
  left: 50%;
  transform: translate(-109px, -94px);
    -o-transform: translate(-109px, -94px);
    -ms-transform: translate(-109px, -94px);
    -webkit-transform: translate(-109px, -94px);
    -moz-transform: translate(-109px, -94px);
}

.cssload-tetromino {
  width: 94px;
  height: 109px;
  position: absolute;
  transition: all ease 0.35s;
    -o-transition: all ease 0.35s;
    -ms-transition: all ease 0.35s;
    -webkit-transition: all ease 0.35s;
    -moz-transition: all ease 0.35s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%230570C0" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%324324" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

.cssload-box1 {
  animation: cssload-tetromino1 1.73s ease-out infinite;
    -o-animation: cssload-tetromino1 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino1 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino1 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino1 1.73s ease-out infinite;
}

.cssload-box2 {
  animation: cssload-tetromino2 1.73s ease-out infinite;
    -o-animation: cssload-tetromino2 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino2 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino2 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino2 1.73s ease-out infinite;
}

.cssload-box3 {
  animation: cssload-tetromino3 1.73s ease-out infinite;
    -o-animation: cssload-tetromino3 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino3 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino3 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino3 1.73s ease-out infinite;
  z-index: 2;
}

.cssload-box4 {
  animation: cssload-tetromino4 1.73s ease-out infinite;
    -o-animation: cssload-tetromino4 1.73s ease-out infinite;
    -ms-animation: cssload-tetromino4 1.73s ease-out infinite;
    -webkit-animation: cssload-tetromino4 1.73s ease-out infinite;
    -moz-animation: cssload-tetromino4 1.73s ease-out infinite;
}









@keyframes cssload-tetromino1 {
  0%, 40% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(47px, -26px);
  }
  60%, 100% {
    transform: translate(94px, 0);
  }
}

@-o-keyframes cssload-tetromino1 {
  0%, 40% {
    -o-transform: translate(0, 0);
  }
  50% {
    -o-transform: translate(47px, -26px);
  }
  60%, 100% {
    -o-transform: translate(94px, 0);
  }
}

@-ms-keyframes cssload-tetromino1 {
  0%, 40% {
    -ms-transform: translate(0, 0);
  }
  50% {
    -ms-transform: translate(47px, -26px);
  }
  60%, 100% {
    -ms-transform: translate(94px, 0);
  }
}

@-webkit-keyframes cssload-tetromino1 {
  0%, 40% {
    -webkit-transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(47px, -26px);
  }
  60%, 100% {
    -webkit-transform: translate(94px, 0);
  }
}

@-moz-keyframes cssload-tetromino1 {
  0%, 40% {
    -moz-transform: translate(0, 0);
  }
  50% {
    -moz-transform: translate(47px, -26px);
  }
  60%, 100% {
    -moz-transform: translate(94px, 0);
  }
}

@keyframes cssload-tetromino2 {
  0%, 20% {
    transform: translate(94px, 0px);
  }
  40%, 100% {
    transform: translate(140px, 26px);
  }
}

@-o-keyframes cssload-tetromino2 {
  0%, 20% {
    -o-transform: translate(94px, 0px);
  }
  40%, 100% {
    -o-transform: translate(140px, 26px);
  }
}

@-ms-keyframes cssload-tetromino2 {
  0%, 20% {
    -ms-transform: translate(94px, 0px);
  }
  40%, 100% {
    -ms-transform: translate(140px, 26px);
  }
}

@-webkit-keyframes cssload-tetromino2 {
  0%, 20% {
    -webkit-transform: translate(94px, 0px);
  }
  40%, 100% {
    -webkit-transform: translate(140px, 26px);
  }
}

@-moz-keyframes cssload-tetromino2 {
  0%, 20% {
    -moz-transform: translate(94px, 0px);
  }
  40%, 100% {
    -moz-transform: translate(140px, 26px);
  }
}

@keyframes cssload-tetromino3 {
  0% {
    transform: translate(140px, 26px);
  }
  20%, 60% {
    transform: translate(94px, 53px);
  }
  90%, 100% {
    transform: translate(47px, 26px);
  }
}

@-o-keyframes cssload-tetromino3 {
  0% {
    -o-transform: translate(140px, 26px);
  }
  20%, 60% {
    -o-transform: translate(94px, 53px);
  }
  90%, 100% {
    -o-transform: translate(47px, 26px);
  }
}

@-ms-keyframes cssload-tetromino3 {
  0% {
    -ms-transform: translate(140px, 26px);
  }
  20%, 60% {
    -ms-transform: translate(94px, 53px);
  }
  90%, 100% {
    -ms-transform: translate(47px, 26px);
  }
}

@-webkit-keyframes cssload-tetromino3 {
  0% {
    -webkit-transform: translate(140px, 26px);
  }
  20%, 60% {
    -webkit-transform: translate(94px, 53px);
  }
  90%, 100% {
    -webkit-transform: translate(47px, 26px);
  }
}

@-moz-keyframes cssload-tetromino3 {
  0% {
    -moz-transform: translate(140px, 26px);
  }
  20%, 60% {
    -moz-transform: translate(94px, 53px);
  }
  90%, 100% {
    -moz-transform: translate(47px, 26px);
  }
}

@keyframes cssload-tetromino4 {
  0%, 60% {
    transform: translate(47px, 26px);
  }
  90%, 100% {
    transform: translate(0, 0);
  }
}

@-o-keyframes cssload-tetromino4 {
  0%, 60% {
    -o-transform: translate(47px, 26px);
  }
  90%, 100% {
    -o-transform: translate(0, 0);
  }
}

@-ms-keyframes cssload-tetromino4 {
  0%, 60% {
    -ms-transform: translate(47px, 26px);
  }
  90%, 100% {
    -ms-transform: translate(0, 0);
  }
}

@-webkit-keyframes cssload-tetromino4 {
  0%, 60% {
    -webkit-transform: translate(47px, 26px);
  }
  90%, 100% {
    -webkit-transform: translate(0, 0);
  }
}

@-moz-keyframes cssload-tetromino4 {
  0%, 60% {
    -moz-transform: translate(47px, 26px);
  }
  90%, 100% {
    -moz-transform: translate(0, 0);
  }
}
/*
Optional adjustments for md-autocomplete in mobile screens
*/

#place-autocomplete > md-autocomplete md-input-container {
    margin-top: -10px;
}


/*Media query for tablets and above */

@media screen and (min-width: 480px) {
    #place-autocomplete > md-autocomplete md-input-container {
        padding-bottom: 0;
    }
}
/*image upload start*/
.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}


/*image upload end*/


// sign up page 
.interest {
    background-color: rgba(158, 158, 158, 0.2);
    border-radius: 15px;
    text-transform: none !important;
    padding: 0px 16px;
    min-width: 0px;
}

.interest_selected {
    background-color: #f96262 !important;
    border-radius: 15px;
    text-transform: none !important;
    color: #fff;
    min-width: 60px;
}

.hint {
    /* Position the hint */
    /* Copy styles from ng-messages */
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    /* Set our own color */
    color: #aaa;
}

.login-box {
    min-width: 50%;
    background: #fff;
}
// show blog page 
.content-text p {
    margin: 0px;
        letter-spacing: 0.02em;
    line-height: 1.58;
    font-size: 21px;
    color: rgba(0,0,0,.8);
}
// add blog page 
.angular-medium-editor.medium-editor-element p {
    margin: 0px;
        letter-spacing: 0.02em;
    line-height: 1.58;
    font-size: 21px;
    color: rgba(0,0,0,.8);
}

.medium-editor-placeholder:after {
    position: relative;
}

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.uploadedImage {
    height: 100%;
    width: 100%;
    /*opacity: 0;*/
}


/*pasted from multiple images*/

.your-custom-chip {
    font-weight: 400 !important;
    font-style: normal !important;
    color: rgba(0, 0, 0, .44) !important;
    font-size: 13px !important;
    letter-spacing: 0px !important;
    text-decoration: none !important;
    background: #fafafa;
    border-radius: 3px !important;
    border: 1px solid #f0f0f0 !important;
}

md-chips.md-default-theme md-chip.mdfocused,
md-chips md-chip.md-focused {
    background-color: #fafafa !important;
    color: rgba(0, 0, 0, .44);
    border: 1px solid rgba(2, 184, 117, 0.8) !important;
}

md-chips.md-default-theme md-chip,
md-chips md-chip,
md-chips md-chip.md-focused {
    /*border-color: rgba(2, 184, 117, 0.8);*/
    border: 1px solid rgba(2, 184, 117, 0.8) !important;
}

md-chips.md-default-theme md-chip.md-focused md-icon,
md-chips md-chip.md-focused,
md-chips md-chip.md-focused md-icon {
    color: rgba(0, 0, 0, .44) !important;
}

md-icon.cross>svg {
    color: rgba(0, 0, 0, .44) !important;
    height: 15px;
    width: 15px;
    margin-top: 4px;
    margin-left: auto;
}

.publish-button {
    float: right;
    border: 1px solid #039BE5;
    color: #2899d1;
    text-transform: capitalize;
}


// shimmer loading effect 
    @keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    color: transparent;
    background: linear-gradient(to right, #f6f7f8 8%, #eee 18%, #f6f7f8 33%);
    background-size: 800px 104px;
    position: relative;
}