.event-action-button {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.event-month {
    font-size: 18px;
    font-weight: 700;
}

.event-date {
    font-size: 16px;
    font-weight: 400;
}

.event-desc {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}
