<div>
    <div ui-sref="home.singleEvent({eventId: event.id})" style="position: relative;">
        <img class="event-cover-vertical" ng-src="{{event.image}}" alt="{{event.title}}">
        <div layout="row" class="event-info-strip-bg pt-1 pb-1">
            <div class="ml-2">
                <md-icon class="event-icon" md-svg-icon="currency-inr"></md-icon>
                <span class="cb-white">{{event.price?event.price:" No Fees"}}</span>
            </div>
            <div flex></div>
            <div class="mr-2">
                <md-icon class="event-icon" ng-show="event.location.type" md-svg-icon="map-marker"></md-icon>
                <md-icon class="event-icon" ng-hide="event.location.type" md-svg-icon="earth"></md-icon>
                <span class="cb-white">{{event.location.data}}</span>
            </div>
        </div>
    </div>
    <div ui-sref="home.singleEvent({eventId: event.id})" class="p-4" layout="column">
        <span class="cb-card-heading " md-truncate> {{event.title}}</span>
        <div class="mt-2" layout="row">
            <div class="mr-4">
                <span class="event-month-vertical cb-red">{{event.timings.month}}</span>
                <span class="event-date-vertical cb-grey-card">{{event.timings.day}}</span>
            </div>
            <span class="event-desc-vertical cb-card-body cb-grey-card">{{event.subtitle| limitTo : 100}}</span>
        </div>
    </div>
    <event-actions ng-if="bar" style="margin-top:-10px;" layout="row" layout-align="space-between end"></event-actions>
</div>