<div style="height: 100%;">
    <div ui-sref="home.singleEvent({eventId: event.id})" style="position: relative;">
        <img style="width: 100% ;opacity: 0.9" class="event-cover" ng-src="{{event.image}}" alt="{{event.title}}">
        <div style="position: absolute;bottom: 2px;width: 100%;color: #fff;background: rgba(12,12,12,0.5);border-style: solid;border-width:0px;border-color: #fff;padding: 4px;">
            <span class="md-caption" style="">
                <md-icon  style="fill: #fff;" md-svg-icon="currency-inr"></md-icon>
                {{event.price?event.price:" No Fees"}}
                </span>
            <span class="md-subhead" style="float: right; padding-right: 13px">
            <md-icon style="fill: #fff;" ng-show="event.location.type" md-svg-icon="map-marker"></md-icon>
            <md-icon style="fill: #fff;" ng-hide="event.location.type" md-svg-icon="earth"></md-icon>
            {{event.location.data}}
        </span>
        </div>
    </div>
    <div class="p-4" layout="row">
        <div class="pr-3" layout="column">
            <!-- <span style="padding-top:10px;text-align: center;font-weight: 500" flex="20" class="md-headline" md-colors="{color: 'red'}"> -->
            <span class="event-month">{{event.timings.month}}</span>
            <span class="event-date">{{event.timings.day}}</span>
        </div>
        <div layout="column" layout-wrap>
            <span > {{event.title}}</span>
            <span class="event-desc cb-grey-card pt-1">{{event.subtitle| limitTo : 100}}</span>
        </div>
    </div>
    <!-- <md-card-title ui-sref="home.singleEvent({eventId: event.id})" style="padding:8px 0px 0px 20px;">
    </md-card-title>
    <md-card-content flex ui-sref="home.singleEvent({eventId: event.id})">
        <div layout="row" layout-wrap>
        </div>
    </md-card-content> -->
    <event-actions ng-if="bar" style="margin-top:-10px;" layout="row" layout-align="space-between end"></event-actions>
</div>
