<div>
    <div ui-sref="home.singleEvent({eventId: event.id})" style="position: relative;">
        <img class="event-cover-vertical" ng-src="{{event.image}}" alt="{{event.title}}">
        <div layout="row" class="event-info-container-vertical">
            <div layout="row">
                <md-icon class="event-icon cb-white-fill" md-svg-icon="currency-inr"></md-icon>
                <p class="cb-info-text-white">{{event.price?event.price:" No Fees"}}</p>
            </div>
            <div flex></div>
            <div layout="row">
                <md-icon class="event-icon cb-white-fill" ng-show="event.location.type" md-svg-icon="map-marker"></md-icon>
                <md-icon class="event-icon cb-white-fill" ng-hide="event.location.type" md-svg-icon="earth"></md-icon>
                <p class="cb-info-text-white">{{event.location.data}}</p>
            </div>
        </div>
    </div>
    <div ui-sref="home.singleEvent({eventId: event.id})" layout="column">
        <span class="cb-card-title" md-truncate> {{event.title}}</span>
        <div layout="row">
            <div class="event-date-container-vertical">
                <span class="event-month-vertical cb-red">{{event.timings.month}}</span>
                <span class="event-date-vertical cb-grey-card">{{event.timings.day}}</span>
            </div>
            <span class="text-limit-lines-3 cb-card-body">{{event.subtitle| limitTo : 100}}</span>
        </div>
    </div>
    <event-actions ng-if="bar" style="margin-top:-10px;" layout="row" layout-align="space-between end"></event-actions>
</div>