<div class="creativity-container" layout-gt-sm="row" layout-xs="column">
    <div class="mobile-filter-container" ng-if="screenIsSmall">
        <div layout-align="start center" layout="row">
            <md-button class="filter-button" ng-click="filterToggle()">
                <md-icon class="cb-grey-fill filter-button-icon" md-svg-icon="filter-outline"></md-icon>
                Filter
            </md-button>
        </div>
        <div layout="row" ng-if="filterShow" layout-wrap>
            <md-button ng-repeat="type in types" ng-class="type.intrested?'interest_selected':'interest'" ng-checked="exists(type, selected)" ng-click="toggle(type, selected)">
                {{ type.title }}
            </md-button>
            <span flex></span>
            <md-button class="filter-button" ng-click="filterToggle();" class="md-primary">
                Done
            </md-button>
        </div>
    </div>
    <div class="creativity-content-container" flex flex-gt-sm="75" layout-align="start" layout="row" layout-wrap>
        <creativity-card ng-if="!isEmptyDataSet" ng-repeat="content in finalContents track by $index" data="content" showcategory="true" actions="true"></creativity-card>
        <p ng-if="isEmptyDataSet">Awesome 404 page</p>
        <loading-creativity in-view="myPagingFunction()" in-view-options="{ generateParts: true,offset : 300,generateDirection:true }" ng-if="moreItems && creativityLoading" layout-wrap layout="row" layout-align="start"></loading-creativity>
    </div>
    <div layout="column" ng-if="!screenIsSmall" flex-gt-xs="25">
        <div layout="column" class="personal-profile-card">
            <div class="personal-profile-name-container" layout="row" layout-align="start center">
                <img class="user-avatar" ng-src="{{user.image}}">
                <p class="cb-card-title">{{user.name}}</p>
            </div>
            <p class="cb-card-body">{{user.description}}</p>
            <md-divider></md-divider>
            <md-button class="personal-profile-action-button" ng-click="home.myProfile">View profile</md-button>
        </div>
        <div layout-align="space-between" layout-wrap>
            <md-button ng-repeat="type in types" ng-class="type.intrested?'interest_selected':'interest'" ng-checked="exists(type, selected)" ng-click="toggle(type, selected)">
                {{ type.title }}
            </md-button>
        </div>
    </div>
</div>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>