<div layout-gt-xs="row" layout-xs="column">
    <div hide-gt-xs>
        <div layout-align="start center" layout="row">
            <md-button ng-click="filterToggle()">
                <md-icon md-svg-icon="filter-outline"></md-icon>
                Filter
            </md-button>
        </div>
        <div layout="row" ng-if="filterShow" layout-wrap>
            <md-button ng-repeat="type in types" ng-class="type.intrested?'interest_selected':'interest'" ng-checked="exists(type, selected)" ng-click="toggle(type, selected)">
                {{ type.title }}
            </md-button>
            <span flex></span>
            <md-button ng-click="filterToggle();" class="md-primary">
                Done
            </md-button>
        </div>
    </div>
    <div flex flex-gt-xs="75" layout-align="start" layout="row" layout-wrap>
        <creativity-card ng-if="!isEmptyDataSet" ng-repeat="content in finalContents track by $index" data="content" showcategory="true" actions="true"></creativity-card>
        <p ng-if="isEmptyDataSet">Awesome 404 page</p>
        <loading-creativity in-view="myPagingFunction()" in-view-options="{ generateParts: true,offset : 300,generateDirection:true }" ng-if="moreItems && creativityLoading" layout-wrap layout="row" layout-align="space-around"></loading-creativity>
    </div>
    <div layout="column" hide-xs flex-gt-xs="25">
        <div layout="column" class="profile-card">
            <div class="profile-name-container" layout="row" layout-align="start center">
                <img class="user-avatar" ng-src="{{user.image}}">
                <p>{{user.name}}</p>
            </div>
            <p>{{user.description}}</p>
            <md-divider></md-divider>
            <md-button class="profile-card-action-button" ng-click="home.myProfile">View profile</md-button>
        </div>
        <div layout-align="space-between" layout-wrap>
            <md-button ng-repeat="type in types" ng-class="type.intrested?'interest_selected':'interest'" ng-checked="exists(type, selected)" ng-click="toggle(type, selected)">
                {{ type.title }}
            </md-button>
        </div>
    </div>
</div>
<script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>