<style>
/*image upload start*/

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 100%;
    height: 350px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}


/*image upload end*/
</style>
<div ng-controller="BlogsController" ng-init="uploaded = false; addImage = false">
    <div id="MyID">
    </div>
    <md-content layout-padding layout-wrap>
        <md-list-item class="md-2-line">
            <img ng-src="assets/images/lakshit.jpg" class="md-avatar" alt="{{todos[0].who}}" />
            <div class="md-list-item-text">
                <h3>Lakshit Anand</h3>
                <p>Draft</p>
            </div>
        </md-list-item>
        <div flex-offset="10" flex="90" layout="column">
            <p class="md-display-3" style="outline: none;" ng-model="title" medium-editor data-placeholder="Title"></p>
        </div>
        <md-button class="md-primary" ng-hide="addImage" class="md-padding" ng-click="addImage = true;">Add image</md-button>
        <div layout="row">
        </div>
        <div layout="row" ng-show="addImage">
            <form name="myForm" style="width:100%;">
                <div layout="row" layout-align="center center">
                    <div ngf-drop ng-model="picFile" style="margin: 0 auto;" ngf-pattern="image/*" class="cropArea" ng-show="!uploaded">
                        <center>
                            <h2 class="md-subhead">Add a picture to support your article </h2>
                            <md-button ng-click="uploaded = false" class="md-primary" ngf-select ng-model="picFile" accept="image/*">
                                Select Picture</md-button>
                        </center>
                        <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" area-type="square">
                        </img-crop>
                    </div>
                    <div layout="row" style="margin: 0 auto;" layout-align="center center" ng-show="uploaded">
                        <img ng-src="{{croppedDataUrl}}" style="opacity: {{progress/100}}" />
                    </div>
                </div>
                <button ng-click="upload(croppedDataUrl, picFile.name); uploaded = true;" ng-show="!uploaded">Submit</button>
                <span class="progress" ng-show="progress >= 0">
              <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
            </span>
                <div layout="row" ng-show="uploaded">
                    <md-button ng-click="uploaded = false" class="md-primary" ngf-select ng-model="picFile" accept="image/*">Change Picture</md-button>
                    <md-button ng-click="upload(croppedDataUrl, picFile.name); uploaded = true;" ng-show="!uploaded">Submit</md-button>
                </div>
                <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
            </form>
        </div>
        <div>
            <form name="skillsForm">
                <md-chips name="skills" ng-model="selectedVegetables" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-max-chips="5" readonly="readonly" md-removable="removable" md-require-match="autocompleteDemoRequireMatch">
                    <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Enter top 5 Tags">
                        <span md-highlight-text="searchText">{{item.name}}</span>
                    </md-autocomplete>
                    <md-chip-template>
                        <span>
                  <strong>{{$chip.name}}</strong>
                </span>
                    </md-chip-template>
                </md-chips>
            </form>
        </div>
        <div layout="row">
        </div>
        <div flex-offset="10" flex="90" layout="column">
            <p class="md-title" style="outline: none;font-family: serif;" ng-model="body" medium-editor data-placeholder="Tell your story..."></p>
        </div>
</div>
</md-content>
<md-button style="float: right; background-color: #039BE5; color: #FFFFFF">Publish</md-button>
</div>
