<div style="position: absolute;width: 100%; height: 98%;overflow: scroll;">
    <div ng-init="uploaded = false; addImage = false">
        <div layout-gt-sm="row" layout-xs="column" layout-sm="column" layout-align="start start">
            <div style=" padding:0px;width:100%;" layout-padding layout-wrap flex-gt-xs="60" flex-offset-gt-xs="20">
                <md-list>
                    <md-list-item class="md-2-line">
                        <img ng-src="{{user.image}}" class="md-avatar" alt="{{user.name}}" />
                        <div class="md-list-item-text">
                            <h3>{{user.name}}</h3>
                            <p>Draft</p>
                        </div>
                        <md-button class="md-primary md-raised" ng-disabled="(!(title && (mediumEditor || trix) && (mediumEditor.length>20 || trix.length>20) ) || loading)" ng-click="publish($event)" ng-hide="loading">Publish</md-button>
                        <!-- <div class="spinner" ng-show="loading" style="width: 40px;height: 40px;background-color: #fd5c63;"></div> -->
                        <md-tooltip ng-show="!(title && (mediumEditor || trix) && (mediumEditor.length>20 || trix.length>20) )" md-direction="bottom">Type min 20 characters.</md-tooltip>
                    </md-list-item>
                </md-list>
                <item-card ng-show="creativity.type"></item-card>
                <div flex-offset-gt-sm="10" flex-gt-sm="80" layout="column">
                    <p hide-xs show-gt-xs class="md-title" ng-hide="progress<1" style="outline: none; font-family: Georgia, Cambria, 'Times New Roman',Times,serif;letter-spacing: -.003em;" ng-model="mediumEditor" medium-editor data-placeholder="Tell your story..."></p>
                    <div show-xs hide-gt-xs ng-hide="progress<1" ng-init="focus=false">
                        <trix-editor angular-trix id="trix-editor-1" ng-model="trix" placeholder="Tell your story..." class="trix-content md-title" style="border: none; font-family: Georgia, Cambria, 'Times New Roman',Times,serif;letter-spacing: -.003em;"></trix-editor>
                    </div>
                    <center ng-repeat="item in creativity.items" style="margin-top: 40px;" ng-if="item.mediaType=='image'">
                        <img style="max-width: 100%" ngf-thumbnail="item.image" />
                    </center>
                </div>
                <center ng-show="progress<1">
                    <img ng-src="{{user.imageUrl}}" alt="" style="border-radius: 50%; height: auto;width: 20%">
                    <p class="md-title">Choose the most appropriate category</p>
                </center>
                <div hide-xs style=" padding:0px" ng-repeat="itemgroup in items" flex layout="row" layout-align="center center" ng-show="progress<1">
                    <span ng-repeat="item in itemgroup track by $index">                        
                        <md-button class="interest" ng-checked="exists(item, selected)" ng-click="progress=1;selectType(item)">                        
                            {{ item.title }}
                        </md-button>    

                    </span>
                </div>
                <div hide-gt-xs style=" padding:0px" ng-repeat="itemgroup in itemsMobile" flex layout="row" layout-align="center center" ng-show="progress<1">
                    <span ng-repeat="item in itemgroup track by $index">                        
                        <md-button class="interest" ng-checked="exists(item, selected)" ng-click="progress=1;selectType(item)">                        
                            {{ item.title }}
                        </md-button>    

                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
