<style>
.pink {
    fill: rgb(233, 30, 99) !important;
}

.yellow {
    fill: rgb(255, 235, 59) !important;
}
</style>
<div layout="column" layout-fill layout-padding>
    <!-- <md-button class="md-primary" ng-click="openUrlAdd()">Add url</md-button> -->
    <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="fetchType('')" name="page1">
            All
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page2')" name="page2">
            Page Two
        </md-nav-item>
        <md-nav-item md-nav-click="goto('page3')" name="page3">
            Page Three
        </md-nav-item>
    </md-nav-bar>
    <div flex layout="row" layout-wrap layout-align="center center">
        <md-card flex-gt-sm="60" ng-repeat="blog in blogs track by $index">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" ng-src="{{blog.created.by.image}}" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-subhead"><span  ui-sref="home.profile" style="color: #0570c0">{{blog.created.by.name}} </span> in <span ui-sref="home.profile" style="color: #0570c0">{{blog.type?blog.type:"Article"}} </span></span>
                    <span class="md-title">{{blog.created.at}} · 2 min read</span>
                </md-card-header-text>
            </md-card-header>
            <img class="md-card-image" ng-if="$index%2!=0" ng-src="https://cdn-images-1.medium.com/fit/t/800/240/1*FVxaOt4HZJ7JDT6IfvtS-w.jpeg" alt="Washed Out">
            <md-card-title>
                <span class="md-headline">{{blog.title}}</span>
            </md-card-title>
            <md-card-content>
                <p class="md-body-2 " style="white-space: pre-wrap;margin-left: 10px;font-weight: 300; margin:0px; font-size: 18px; line-height: 1.58; ">{{blog.content.description | limitTo : $index%2==0?150:200}}...</p>
                <p class="md-subhead" style="color: #8f8faf;">
                    Read More
                </p>
            </md-card-content>
            <div layout="row " layout-align="start center ">
                <md-button class="md-icon-button" ng-click="heart(blog, $index)" aria-label="Favorite ">
                    <md-icon ng-class="blog.Actions.Appriciate.status? 'pink':''" md-svg-icon="{{blog.Actions.Appriciate.status? 'heart' : 'heart-outline' }}"></md-icon>
                </md-button>
                <span>{{blog.Actions.Appriciate.total}}</span>
                <span flex></span>
                <md-card-icon-actions>
                <md-button class="md-icon-button" ng-click="bookmark(blog, $index)" aria-label="Favorite ">
                    <md-icon ng-class="blog.Actions.Bookmarked.status? 'yellow':''" md-svg-icon="{{blog.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
                </md-button>
                    <md-button class="" aria-label="toggle ">
                        <md-icon md-svg-icon="share"></md-icon>Share
                    </md-button>
                </md-card-icon-actions>
            </div>
        </md-card>
    </div>
</div>
