<style>
.pink {
    fill: rgb(233, 30, 99) !important;
}

.yellow {
    fill: rgb(255, 235, 59) !important;
}
</style>
<div layout="column" layout-fill layout-padding>
    <!-- <md-button class="md-primary" ng-click="openUrlAdd()">Add url</md-button> -->
    <md-tabs flex md-dynamic-height>
        <md-tab label="All">
            <div layout="row" layout-wrap layout-align="center center">
                  <md-card flex-gt-sm="60" ng-repeat="blog in blogs track by $index">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="{{blog.created.by.image}}" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-subhead"><span  ui-sref="home.profile" style="color: #0570c0">{{blog.created.by.name}} </span> in <span ui-sref="home.profile" style="color: #0570c0">{{blog.type?blog.type:"Article"}} </span></span>
                            <span class="md-subhead"></span>
                            <span class="md-title">{{blog.created.at}} · 2 min read</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img class="md-card-image" ng-if="$index%2!=0" ng-src="https://cdn-images-1.medium.com/fit/t/800/240/1*mgYax-dqFtSSi9tIndyb1Q.jpeg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <span class="md-headline">{{blog.title}}</span>
                    </md-card-title>
                    <md-card-content>
                        <p class="md-body-2 " style="white-space: pre-wrap;color: #8f8faf;margin-left: 10px;font-weight: 300; margin:0px; font-size: 18px; line-height: 1.58; ">{{blog.content.description | limitTo : $index%2==0?150:200}}...</p>
                        <p class="md-subhead" style="color: #8f8faf;">
                            Read More
                        </p>
                    </md-card-content>
                    <div layout="row " layout-align="start center ">
                        <md-button class="md-icon-button" ng-click="heart(blog, $index)" aria-label="Favorite ">
                            <md-icon ng-class="blog.Actions.Appriciate.status? 'pink':''" md-svg-icon="{{blog.Actions.Appriciate.status? 'heart' : 'heart-outline' }}"></md-icon>
                        </md-button>
                        <span>{{blog.Actions.Appriciate.total}}</span>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="bookmark(blog, $index)" aria-label="Favorite ">
                            <md-icon ng-class="blog.Actions.Bookmarked.status? 'yellow':''" md-svg-icon="{{blog.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
                        </md-button>
                        <md-card-icon-actions>
                            <md-button class="md-icon-button " aria-label="toggle ">
                                <md-icon md-svg-icon="md-toggle-arrow "></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                    </div>
                </md-card>
            </div>
        </md-tab>
        <md-tab label="Art ">
            <div layout="column" layout-wrap layout-align="center center">
                <md-card flex-gt-md="70" ng-repeat="a in [1,2,3,4] ">
                    <div layout="row " layout-align="left left ">
                        <span class="md-body-1 " style="color: #8f8faf; "><md-icon md-svg-icon="tag " style="fill: #8f8faf;margin:10px; "></md-icon>Life</span>
                    </div>
                    <md-card-header style="padding-bottom: : 0px;">
                        <md-card-avatar>
                            <img style="max-height: 300px;" class="md-user-avatar" src="https://avatars2.githubusercontent.com/u/14099191?v=3&u=e03e9a657eb1e4de7da062cc5a5611092f0f2d7e&s=400" />
                        </md-card-avatar>
                        <md-card-header-text style="margin: 5px;">
                            <span class="md-title">Rohan Goel</span>
                            <span class="md-subhead md-caption">Feb 27 | 5 min read</span>
                        </md-card-header-text>
                    </md-card-header>
                    <md-card-content>
                        <p class="md-display-1" style="color: #373737;font-size: 28px;margin:0px; ">My new collection</p>
                        <md-card-title-text>
                            <img src="https://media.licdn.com/media/AAEAAQAAAAAAAArZAAAAJDE4ZmRlMGI3LTFkMmQtNDYwMC04MWJkLTU3YzIzNzA1MDczZA.jpg " style="max-height: 300px;padding-left: 25px;padding-right: 25px; " class="md-card-image " alt="Washed Out ">
                        </md-card-title-text>
                        <p class="md-caption " style="color:#8f8faf; ">
                            Read more...
                        </p>
                    </md-card-content>
                    <div layout="row " layout-align="start center ">
                        <md-button class="md-icon-button ">
                            <md-icon md-svg-icon="heart-outline "></md-icon>
                        </md-button>
                        <span>100</span>
                        <span flex></span>
                        <md-button style="float:right; " class="md-icon-button ">
                            <md-icon md-svg-icon="bookmark-outline "></md-icon>
                        </md-button>
                        <md-card-icon-actions>
                            <md-button class="md-icon-button " aria-label="toggle ">
                                <md-icon md-svg-icon="md-toggle-arrow "></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                    </div>
                </md-card>
            </div>
        </md-tab>
        <md-tab label="Litrery ">
        </md-tab>
        <md-tab label="Music ">
        </md-tab>
        <md-tab label="Videos ">
        </md-tab>
    </md-tabs>
</div>
