<style>
.pink {
    fill: rgb(233, 30, 99) !important;
}

.yellow {
    fill: rgb(255, 235, 59) !important;
}
</style>
<div layout="column" layout-fill ng-controller="CreativityController">
    <div flex layout="row" layout-wrap layout-align="center center">
        <md-card ng-show="loading" flex="100" flex-gt-sm="60" ng-repeat="content in [1,2,3,4]">
            <md-card-header>
                <md-card-avatar style="background: #f6f7f8">
                    <img class="md-user-avatar" />
                </md-card-avatar>
                <md-card-header-text>
                    <span style="width: 30%" class=" animated-background">Anything here </span>
                </md-card-header-text>
            </md-card-header>
            <span class="md-headline animated-background" flex="90" flex-offset="10" style="padding: 40px; margin-bottom: 50px">and again</span>
        </md-card>
        <md-card flex-gt-sm="60" flex="100" ng-repeat="content in finalContents track by $index">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" ng-src="{{content.created.by.image}}" />
                </md-card-avatar>
                <md-card-header-text ui-sref="home.singleContent({contentId: content.id})" style="cursor: pointer">
                    <span class="md-subhead"><span  ui-sref="home.profile" style="color: #0570c0">{{content.created.by.name}} </span> in <span ui-sref="home.profile" style="color: #0570c0">{{content.type?content.type:"Article"}} </span></span>
                    <span class="md-title">{{content.created.at  | date: 'd MMM'}}</span>
                </md-card-header-text>
            </md-card-header>
            
            <md-card-title ui-sref="home.singleContent({contentId: content.id})" style="cursor: pointer">
                <span class="md-headline" >{{content.title}}</span>
            </md-card-title>
            <div>
                <div flex="80" flex-offset="10"  ng-if="(content.type == 'cover') || (content.type == 'youtube') || (content.type == 'vimeo') || (content.type == 'soundcloud') " layout-align="center center">
                    <!-- <iframe ng-show="(content.type == 'youtube')" width="100%" height="315" src="{{content.url}}" frameborder="0" allowfullscreen></iframe> -->
                    <iframe ng-show="(content.type == 'soundcloud')" width="100%" height="166" scrolling="no" frameborder="0" src="{{content.url}}" allowfullscreen></iframe>
                    <iframe ng-show="(content.type == 'vimeo')" width="640" height="360" src="{{content.url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    <img ng-show="(content.type == 'cover')" src="{{content.url}}" ui-sref="home.singleContent({contentId: content.id})" style="cursor: pointer" alt="">
                </div>
                <p class="md-body-1" ui-sref="home.singleContent({contentId: content.id})" style="cursor: pointer" ng-bind-html="content.description" style="white-space: pre-wrap; color:rgba(0,0,0,.8); margin-left: 10px;font-weight: 300; margin:0px; font-size: 21px;line-height: 1.58;letter-spacing: -.003em;">
                </p>
            </div>
            
            <md-card-content>
                <p class="md-subhead" style="color: #8f8faf;">
                    Read More
                </p>
            </md-card-content>
            <div layout="row" layout-align="start center">
                <md-button class="md-icon-button" ng-click="heart(content, $index)" aria-label="Favorite">
                    <md-icon ng-class="content.Actions.Appriciate.status? 'pink':''" md-svg-icon="{{content.Actions.Appriciate.status? 'heart' : 'heart-outline' }}"></md-icon>
                </md-button>
                <span>{{content.Actions.Appriciate.total}}</span>
                <span flex></span>
                <md-card-icon-actions>
                    <md-button class="md-icon-button" ng-click="bookmark(content, $index)" aria-label="Favorite">
                        <md-icon ng-class="content.Actions.Bookmarked.status? 'yellow':''" md-svg-icon="{{content.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
                    </md-button>
                    <md-button class="" aria-label="toggle">
                        <md-icon md-svg-icon="share"></md-icon>Share
                    </md-button>
                </md-card-icon-actions>
            </div>
        </md-card>
        <div infinite-scroll="myPagingFunction()" infinite-scroll-disabled='loading' infinite-scroll-distance="4">
        </div>
    </div>
</div>
