<div layout="row" layout-align="center" ng-controller="DashboardController" style="max-width: 1200px;">
    <div layout="column" class="md-padding" flex-gt-sm="70" flex="100">
        <h1 class="md-headline">
            Events for you
        </h1>
        <div layout="row" layout-wrap layout-align="center center">
            <md-list>
                <md-list-item style="margin-bottom: 10px;" ng-click="showEvent(event, $index)" class="secondary-button-padding eventListItem" ng-repeat="event in events | limitTo :3 track by $index">
                    <md-card flex>
                        <md-card-title style="padding: 0px;">
                            <div class="md-media-sm" style="width: 200px;height:140px;">
                                <img style="width: 200px; position: absolute;    clip: rect(00px,200px,140px,0px); margin-right: " ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{event.id}}.jpg" alt="">
                            </div>
                            <div style="padding: 10px 18px;" flex layout="column">
                                <span class="md-body-2">{{event.timings.date.start? event.timings.date.start:"Fri, Mar 24 2:00 PM" }}</span>
                                <div class="md-subhead" style="font-weight: 600">
                                    {{event.title}}
                                </div>
                                <span class="md-subhead">

                            <p class="md-body-1">{{event.details.description}}</p>
                                </span>
                            </div>
                        </md-card-title>
                        <md-divider></md-divider>
                        <div layou="row">
                            <md-card-actions layout="row" layout-align="start center">
                                <md-button ng-repeat="tag in event.tags" class="md-subhead">{{tag.name}}</md-button>
                                <md-button class="md-body-2">#FUCKEDUP</md-button>
                                <md-button class="md-body-2">#BtAwesome</md-button>
                                <span flex></span>
                                <md-button class="md-icon-button" ng-click="heart(event, $index)" aria-label="Favorite ">
                                    <md-icon ng-class="event.Actions.Bookmarked.status? 'pink':''" md-svg-icon="{{event.Actions.Bookmarked.status? 'heart' : 'heart-outline' }}"></md-icon>
                                </md-button>
                                <span>{{event.Actions.Bookmarked.total}}</span>
                                <md-button class="md-icon-button" ng-click="update(event, $index)" aria-label="Favorite ">
                                    <md-icon ng-class="event.Actions.Participants.status? 'yellow':''" md-svg-icon="{{event.Actions.Participants.status? 'bell-ring' : 'bell-outline' }}"></md-icon>
                                </md-button>
                            </md-card-actions>
                        </div>
                    </md-card>
                </md-list-item>
            </md-list>
            <div>
            <h1 class="md-headline">
                Creative works by other students
            </h1>
                <md-card ng-repeat="blog in blogs track by $index">
                    <md-card-header>
                        <md-card-avatar>
                            <img class="md-user-avatar" ng-src="{{blog.created.by.image}}" />
                        </md-card-avatar>
                        <md-card-header-text>
                            <span class="md-subhead"><span  ui-sref="home.profile" style="color: #0570c0">{{blog.created.by.name}} </span> in <span ui-sref="home.profile" style="color: #0570c0">{{blog.type?blog.type:"Article"}} </span></span>
                            <span class="md-subhead"></span>
                            <span class="md-title">{{blog.created.at}} · 2 min read</span>
                        </md-card-header-text>
                    </md-card-header>
                    <img class="md-card-image" ng-if="$index%2==0" ng-src="https://cdn-images-1.medium.com/fit/t/800/240/1*FVxaOt4HZJ7JDT6IfvtS-w.jpeg" class="md-card-image" alt="Washed Out">
                    <md-card-title>
                        <span class="md-headline">{{blog.title}}</span>
                    </md-card-title>
                    <md-card-content>
                        <p class="md-body-2 " style="white-space: pre-wrap;color: #8f8faf;margin-left: 10px;font-weight: 300; margin:0px; font-size: 18px; line-height: 1.58; ">{{blog.content.description | limitTo : $index%2==0?150:200}}...</p>
                        <p class="md-subhead" style="color: #8f8faf;">
                            Read More
                        </p>
                    </md-card-content>
                    <div layout="row " layout-align="start center ">
                        <md-button class="md-icon-button" ng-click="heart(blog, $index)" aria-label="Favorite ">
                            <md-icon ng-class="blog.Actions.Appriciate.status? 'pink':''" md-svg-icon="{{blog.Actions.Appriciate.status? 'heart' : 'heart-outline' }}"></md-icon>
                        </md-button>
                        <span>{{blog.Actions.Appriciate.total}}</span>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="bookmark(blog, $index)" aria-label="Favorite ">
                            <md-icon ng-class="blog.Actions.Bookmarked.status? 'yellow':''" md-svg-icon="{{blog.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
                        </md-button>
                        <md-card-icon-actions>
                            <md-button class="md-icon-button " aria-label="toggle ">
                                <md-icon md-svg-icon="md-toggle-arrow "></md-icon>
                            </md-button>
                        </md-card-icon-actions>
                    </div>
                </md-card>
            </div>
            <div>
                 <h1 class="md-headline">
                Other interesting stuff
            </h1>
            </div>
        </div>
    </div>
    <div layout="column" class="md-padding" flex-gt-sm="30" hide show-gt-sm>
        <div layout="column">
            <h5 class="md-subhead">Top stories <br>
            <small style="color: rgba(0,0,0,.44);" class="md-caption">Most popular this week</small>
            <md-divider></md-divider>
            </h5>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="blog in blogs | limitTo :3 track by $index " >
                    <img ng-src="{{blog.created.by.image}}" class="md-avatar" alt="{{todos[0].who}}" />
                    <div class="md-list-item-text">
                        <h3>{{blog.title}}</h3>
                        <p>{{blog.created.by.name}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <div layout="column">
            <h5 class="md-subhead">Top Events<br><small style="color: rgba(0,0,0,.44);" class="md-caption">Most popular this week</small></h5>
            <md-divider></md-divider>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="event in events | limitTo:3">
                    <img ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{event.image}}" class="md-avatar" alt="{{item.who}}">
                    <div class="md-list-item-text">
                        <h3>{{event.name}}</h3>
                        <p>Date | Venue</p>
                    </div>
                    <md-divider md-inset ng-if="!$last"></md-divider>
                </md-list-item>
            </md-list>
        </div>
        <div layout="column">
            <h5 class="md-subhead" style="color:rgba(0,0,0,.44);">Tags you follow </h5>
            <md-divider></md-divider>
            <ul style="list-style: none; display:inline-block; margin-top: 0px; padding-left:0px;">
                <li ng-repeat="tag in tags" style="cursor: default;border-radius: 5px;font-size:12px;line-height: 32px;margin: 8px 8px 0 0;padding: 0 7px 0 7px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(66,66,66);">{{tag}}</li>
            </ul>
        </div>
    </div>
</div>
