<div layout="row" layout-align="end">
    <md-slider hide-xs hide-sm aria-label="size" ng-show="grid" ng-model="width" value="18.5" step="0.5" name="points" min="18" max="33"></md-slider>
    <md-button class="md-icon-button " ng-click="grid=true" aria-label="Favorite ">
        <md-icon md-svg-icon="view-grid "></md-icon>
    </md-button>
    <md-button class="md-icon-button " ng-click="grid=false" aria-label="Favorite ">
        <md-icon md-svg-icon="view-list "></md-icon>
    </md-button>
</div>
<div layout-gt-sm="row" layout="column" layout-align-gt-xs="center start" layout-align-xs="center strech">
    <md-card hide-gt-xs flex-xs="100">
        <md-card-content flex layout="column" layout-align="space-between">
            <div class="md-headline">
                Filters
            </div>
            <!--You can use md-no-sticky class-->
            <md-divider></md-divider>
            <md-input-container>
                <md-icon md-svg-icon="filter-outline"></md-icon>
                <md-select ng-model="type" placeholder="Choose a type" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="type" ng-model="filter.type" ng-repeat="type in ['All', 'Performance', 'Competition', 'Conference', 'Workshop', 'Seminar', 'Exhibition', 'Others'] | orderBy">{{ type }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="view-list"></md-icon>
                <md-select ng-model="type" ng-model="filter.type" placeholder="Event Type" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="type" ng-repeat="type in [1,2.3.4] | orderBy">{{ type }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="calendar"></md-icon>
                <md-select ng-model="category" ng-model="" placeholder="All Timings" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="category" ng-repeat="category in ['Today', 'Tommorrow', 'This Week', 'This Month', 'Custom'] | orderBy">{{ category }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="domain"></md-icon>
                <md-select  ng-model="filter.college"  aria-label="search" md-on-close="clearSearchTerm()" placeholder="College" class="md-no-underline" data-md-container-class="selectdemoSelectHeader">
                    <md-select-header class="demo-select-header">
                        <input aria-label="search" ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-optgroup label="College">
                        <md-option ng-value="college" ng-repeat="college in ['My College','IIT Hyderabad', 'IIIT Hyderabad', 'Bits Hyderabad', 'JNTU Hyderabad'] |
              filter:searchTerm | orderBy ">{{ college }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="showAdvanced()">Apply filters</md-button>
            <!-- <md-button class="md-primary" ng-click="showAdvanced()">Add event</md-button> -->
        </md-card-content>
    </md-card>
    <md-card flex-gt-sm="20" hide-xs hide-sm flex="100">
        <md-card-content flex layout="column" layout-align="space-between">
            <div class="md-headline">
                Filters
            </div>
            <!--You can use md-no-sticky class-->
            <md-divider></md-divider>
            <md-input-container>
                <md-icon md-svg-icon="filter-outline"></md-icon>
                <md-select ng-model="type" placeholder="Choose a type" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="type" ng-model="filter.type" ng-repeat="type in ['All', 'Performance', 'Competition', 'Conference', 'Workshop', 'Seminar', 'Exhibition', 'Others'] | orderBy">{{ type }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="view-list"></md-icon>
                <md-select ng-model="type" ng-model="filter.type" placeholder="Event Type" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="type" ng-repeat="type in [1,2.3.4] | orderBy">{{ type }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="calendar"></md-icon>
                <md-select ng-model="category" ng-model="" placeholder="All Timings" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="category" ng-repeat="category in ['Today', 'Tommorrow', 'This Week', 'This Month', 'Custom'] | orderBy">{{ category }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="domain"></md-icon>
                <md-select  ng-model="filter.college"  aria-label="search" md-on-close="clearSearchTerm()" placeholder="College" class="md-no-underline" data-md-container-class="selectdemoSelectHeader">
                    <md-select-header class="demo-select-header">
                        <input aria-label="search" ng-model="searchTerm" type="search" class="demo-header-searchbox md-text">
                    </md-select-header>
                    <md-optgroup label="College">
                        <md-option ng-value="college" ng-repeat="college in ['My College','IIT Hyderabad', 'IIIT Hyderabad', 'Bits Hyderabad', 'JNTU Hyderabad'] |
              filter:searchTerm | orderBy ">{{ college }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="showAdvanced()">Apply filters</md-button>
            <!-- <md-button class="md-primary" ng-click="showAdvanced()">Add event</md-button> -->
        </md-card-content>
    </md-card>

    <div layout="column" flex-offset="{{grid?0:5}}" flex-gt-sm="{{grid?80:60}}">
        <div flex layout="row" layout-align="space-around" layout-wrap infinite-scroll="myPagingFunction()" infinite-scroll-disabled='serverBusy' infinite-scroll-distance="4">
            <md-card ng-show="grid" ng-click="openEvent(event)" style="float:left ; display:inline-flex; !important;" ng-repeat="event in events track by $index">
                <img style="height:{{width*10}}px !important; min-height: 200px; background: #aaa; width:auto;" ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{event.id}}.jpg " class="md-card-image " alt="Washed Out ">
                <md-card-title>
                    <md-card-title-text>
                        <span>{{event.title  | limitTo : 25}}</span>
                        <span>{{event.title  | limitTo : 40:25}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                </md-card-content>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button ng-click="showEvent(event, $index)" class="md-primary" md-colors="{color: 'indigo'}">View</md-button>
                    <md-button class="md-icon-button" ng-click="heart(event, $index)" aria-label="Favorite ">
                        <md-icon ng-class="event.Actions.Bookmarked.status? 'pink':''" md-svg-icon="{{event.Actions.Bookmarked.status? 'heart' : 'heart-outline' }}"></md-icon>
                    </md-button>
                    <span>{{event.Actions.Bookmarked.total}}</span>
                    <md-button class="md-icon-button" ng-click="update(event, $index)" aria-label="Favorite ">
                        <md-icon ng-class="event.Actions.Participants.status? 'blue':''" md-svg-icon="{{event.Actions.Participants.status? 'account-plus' : 'account-check' }}"></md-icon>
                    </md-button>
                    <md-menu md-offset="0 3">
                        <md-button aria-label="menu" class="md-icon-button " aria-label="Settings " ng-click="$mdOpenMenu(event)">
                            <md-icon md-svg-icon="dots-vertical "></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="" ui-sref="home.myEvents ">
                                    <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                        <md-icon md-svg-icon="delete"></md-icon>
                                        <p flex=" " class="flex ">Less events like this</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="" ui-sref="home.myEvents ">
                                    <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                        <md-icon md-svg-icon="delete-forever"></md-icon>
                                        <p flex=" " class="flex ">Less from Hackathons</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click=" " ui-sref="home.profile ">
                                    <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                        <md-icon md-svg-icon="flag-outline"></md-icon>
                                        <p flex=" " class="flex ">Report</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-card-actions>
            </md-card>
        </div>
        <md-list ng-show="!grid">
            <md-list-item style="margin-bottom: 10px;"  ng-click="openEvent(event)" class="secondary-button-padding eventListItem" ng-repeat="event in events  track by $index">
                <md-card flex>
                    <md-card-title style="padding: 0px;">
                        <div class="md-media-sm" style="width: 200px;height:140px;">
                            <img style="width: 200px;  position: absolute;    clip: rect(00px,200px,140px,0px); margin-right: " ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{event.id}}.jpg" alt="">
                        </div>
                        <div style="padding: 10px 18px;" flex layout="column">
                            <span class="md-body-2">{{event.timings.date.start? event.timings.date.start:"Fri, Mar 24 2:00 PM" }}</span>
                            <div class="md-subhead" style="font-weight: 600">
                                {{event.title}}
                            </div>
                            <span class="md-subhead">

                            <p class="md-body-2">{{event.details.description}}</p>
                                </span>
                        </div>
                    </md-card-title>
                    <md-divider></md-divider>
                    <div layou="row">
                        <md-card-actions layout="row" layout-align="start center">
                            <span class="md-body-2">#FUCKEDUP </span>
                            <span class="md-body-2"> #BtAwesome</span>
                            <md-button ng-repeat="tag in event.tags" class="md-subhead">{{tag.name}}</md-button>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="heart(event, $index)" aria-label="Favorite ">
                                <md-icon ng-class="event.Actions.Bookmarked.status? 'pink':''" md-svg-icon="{{event.Actions.Bookmarked.status? 'heart' : 'heart-outline' }}"></md-icon>
                            </md-button>
                            <span>{{event.Actions.Bookmarked.total}}</span>
                            <md-button class="md-icon-button" ng-click="update(event, $index)" aria-label="Favorite ">
                                <md-icon ng-class="!event.Actions.Participants.status? 'blue':''" md-svg-icon="{{!event.Actions.Participants.status? 'account-plus' : 'account-check' }}"></md-icon>
                            </md-button>
                        </md-card-actions>
                    </div>
                </md-card>
            </md-list-item>
        </md-list>
        <md-card ng-if="!serverBusy" flex layout="row " ng-hide="vm.tableData[0].id>0" style="min-height: 171px" layout-sm="column" layout-align="center center">
            <div class="cssload-tetrominos">
                <div class="cssload-tetromino cssload-box1"></div>
                <div class="cssload-tetromino cssload-box2"></div>
                <div class="cssload-tetromino cssload-box3"></div>
                <div class="cssload-tetromino cssload-box4"></div>
            </div>
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </md-card>
    </div>
</div>
<!-- all the code before editing -->
<!-- all the code before editing -->
<md-button style="position: fixed;left:-9%;top:47%;" id="left">
    <md-button>
        </md-dialog>
        <md-button aria-label="left" style="position: fixed;right:0;top:47%;" id="right">
        </md-button>
    </md-button>
</md-button>
