<div layout="row" ng-init="width=23">
    <md-button ng-init="filters=false" ng-click="filters=!filters" hide-gt-xs class="md-mini" aria-label="filters">
        <md-icon md-svg-icon="filter-outline"></md-icon>
        Filters</md-button>
    <div flex></div>
</div>
<div layout-gt-sm="row" layout="column" layout-align-gt-xs="start start" layout-align-xs="center strech">
    <md-card hide-gt-sm flex-xs="100" ng-show="filters">
        <md-card-content flex layout="column" layout-align="space-between">
            <md-input-container>
                <md-icon md-svg-icon="filter-outline"></md-icon>
                <md-select ng-model="filter.type" placeholder="Choose a type" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="type.id" ng-model="filter.type" ng-repeat="type in types | orderBy">{{type.title}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="currency-inr"></md-icon>
                <md-select ng-model="filter.fees" placeholder="Event Fees" class="md-no-underline">
                    <md-optgroup label="Entry Fees">
                        <md-option ng-value="type" ng-repeat="type in ['All','Free','Paid'] | orderBy">{{ type }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="calendar"></md-icon>
                <md-select ng-model="filter.time" placeholder="Choose Timings" class="md-no-underline">
                    <md-optgroup label="Time">
                        <md-option ng-value="time.id" ng-repeat="time in timings| orderBy">{{ time.title }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="domain"></md-icon>
                <md-select ng-model="filter.college" aria-label="search" md-on-close="clearSearchTerm()" placeholder="College" class="md-no-underline" data-md-container-class="selectdemoSelectHeader">
                    <md-optgroup label="College">
                        <md-option ng-value="college.id" ng-repeat="college in colleges | orderBy ">{{ college.title }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="filters=!filters;showAdvanced()">Apply filters</md-button>
            <!-- <md-button class="md-primary" ng-click="showAdvanced()">Add event</md-button> -->
        </md-card-content>
    </md-card>
    <md-card flex-gt-sm="20" hide-xs hide-sm flex="100">
        <md-card-content flex layout="column" layout-align="space-between">
            <md-input-container>
                <md-icon md-svg-icon="filter-outline"></md-icon>
                <md-select ng-model="filter.type" placeholder="Choose a type" class="md-no-underline">
                    <md-optgroup label="Type">
                        <md-option ng-value="type.id" ng-model="filter.type" ng-repeat="type in types | orderBy">{{type.title}}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="currency-inr"></md-icon>
                <md-select ng-model="filter.fees" placeholder="Event Fees" class="md-no-underline">
                    <md-optgroup label="Entry Fees">
                        <md-option ng-value="type" ng-repeat="type in ['All','Free','Paid'] | orderBy">{{ type }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="calendar"></md-icon>
                <md-select ng-model="filter.time" placeholder="Choose Timings" class="md-no-underline">
                    <md-optgroup label="Time">
                        <md-option ng-value="time.id" ng-repeat="time in timings| orderBy">{{ time.title }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-input-container>
                <md-icon md-svg-icon="domain"></md-icon>
                <md-select ng-model="filter.college" aria-label="search" md-on-close="clearSearchTerm()" placeholder="College" class="md-no-underline" data-md-container-class="selectdemoSelectHeader">
                    <md-optgroup label="College">
                        <md-option ng-value="college.id" ng-repeat="college in colleges | orderBy ">{{ college.title }}</md-option>
                    </md-optgroup>
                </md-select>
            </md-input-container>
            <md-button class="md-primary md-raised" ng-click="filters=!filters;applyFilters(filter);">Apply filters</md-button>
            <!-- <md-button class="md-primary" ng-click="showAdvanced()">Add event</md-button> -->
        </md-card-content>
    </md-card>
    <div layout="column" flex-offset="{{grid?0:5}}" flex-gt-sm="{{grid?80:60}}">
        <!-- <div flex layout="row" layout-align="space-around" layout-wrap>
            <md-card ng-show="grid" ui-sref="home.singleEvent({eventId: event.id})" style="width: {{width}}%" ng-repeat="event in events track by $index">
                <img style="height:auto !important;  background: #eee; width:100%" ng-src="{{event.image}}" class="md-card-image ">
                <md-card-title>
                    <md-card-title-text>
                        <span>{{event.title  | limitTo : 25}}</span>
                        <span>{{event.title  | limitTo : 40:25}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                </md-card-content>
                <md-card-actions layout="row " layout-align="end center ">
                    <md-button ng-click="showEvent(event, $index)" class="md-primary" md-colors="{color: 'indigo'}">View</md-button>
                    <md-button style="text-transform: capitalize;" ng-click="heart(event, $index)" aria-label="Favorite ">
                        <md-icon md-svg-icon="heart-outline"></md-icon> Appreciate
                    </md-button>
                    <md-button class="rsvp-button" ng-class="(event.Actions.Participants.status)? 'md-raised md-primary' : ''" ng-click="rsvpEvent(event, $index, 'events')" aria-label="Favorite">
                        <md-icon ng-class="(event.Actions.Participants.status)? '':'blue'" md-svg-icon="{{!event.Actions.Participants.status? 'account-check' : 'plus-one' }}"></md-icon> {{!event.Actions.Participants.status? 'attending' : 'RSVP' }}
                    </md-button>
                    <md-menu md-offset="0 3">
                        <md-button aria-label="menu" class="md-icon-button " aria-label="Settings " ng-click="$mdMenu.open(event)">
                            <md-icon md-svg-icon="dots-vertical"></md-icon>
                        </md-button>
                        <md-menu-content width="3">
                            <md-menu-item>
                                <md-button ng-click="" ui-sref="home.myEvents ">
                                    <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                        <md-icon md-svg-icon="delete"></md-icon>
                                        <p flex=" " class="flex ">Less events like this</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="" ui-sref="home.myEvents ">
                                    <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                        <md-icon md-svg-icon="delete-forever"></md-icon>
                                        <p flex=" " class="flex ">Less from Hackathons</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click=" " ui-sref="home.profile ">
                                    <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                        <md-icon md-svg-icon="flag-outline"></md-icon>
                                        <p flex=" " class="flex ">Report</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </md-card-actions>
            </md-card>
        </div> -->
        <md-list ng-show="!grid">
            <md-list-item style="margin-bottom: 10px;" ng-repeat="event in events" ui-sref="home.singleEvent({eventId: event.id})" class="secondary-button-padding eventListItem">
                <md-card flex>
                    <p hide-gt-xs class="md-title" style="font-weight: 600;margin: 0px;padding-left: 12px">
                        {{event.title | limitTo : 30}}
                    </p>
                    <md-card-title style="padding: 0px;">
                        <div class="md-media-sm" layout="column" layout-align="center" flex-gt-xs="25" flex-xs="30">
                            <img style="width: 100% ;" ng-src="{{event.image}}" alt="">
                        </div>
                        <div style="padding:  5px 0px 0px 12px;" flex layout="column">
                            <!-- <span class="md-body-2">{{event.timings.date.start? event.timings.date.start:"Fri, Mar 24 2:00 PM" }}</span> -->
                            <span hide-xs style="margin-top: 0px; color: #555555;text-align: right;margin-right: 28px;" class="md-body-2">{{event.timings.from.date | date: ' d MMM'}} <!-- · {{event.timings.from.time}}{{event.timings.from.period}} --> - {{event.timings.to.date==event.timings.from.date?null:event.timings.to.date | date: ' d MMM'}} <!-- · {{ event.timings.to.time}}{{event.timings.to.period}} --></span>
                            <p hide-xs class="md-title" style="font-weight: 600;margin: 0px; margin-top: -15px;">
                                {{event.title | limitTo : 30}}
                            </p>
                            <p style="margin-top: 0px; color: #555555;width: 85%" class="md-body-2">
                                {{event.subtitle?event.subtitle:"We will showcase all the features of CampusBox ver 0.1.3 and give away goodies to everyone" | limitTo : 100}}
                            </p>
                            <div flex></div>
                            <md-card-actions layout="row" layout-align="start center">
                                <span hide-gt-xs style="margin-top: 0px; color: #555555;text-align: right;margin-right: 28px;" class="md-body-2">{{event.timings.from.date | date: ' d MMM'}} <!-- · {{event.timings.from.time}}{{event.timings.from.period}} --> - {{event.timings.to.date==event.timings.from.date?null:event.timings.to.date | date: ' d MMM'}} <!-- · {{ event.timings.to.time}}{{event.timings.to.period}} --></span>
                                <!-- <md-button hide-xs class="md-icon-button" aria-label="Favorite">
                                        <a target="_blank" ng-href="{{event.link}}">
                                            <md-icon ng-class="!event.Actions.Participants.status? 'blue':''" md-svg-icon="link-variant"></md-icon>
                                        </a>
                                    </md-button> -->
                                <p hide-xs style="margin:0;color:#555555" class="md-caption">{{event.details.venue}}</p>
                                <!-- <span class="md-body-2" ng-repeat="tag in tags">#{{ tag.name }}                  </span> -->
                                <span flex></span>
                                <md-button hide-xs class="appriciate-button" ng-click="heartEvent(event, $index, 'events')" aria-label="Favorite">
                                    <md-icon class="pink" md-svg-icon="{{event.Actions.Bookmarked.status? 'heart' : 'heart-outline' }}"></md-icon> {{event.Actions.Bookmarked.status? 'Appreciated' : 'Appreciate' }}
                                </md-button>
                                <md-button hide-xs class="rsvp-button" ng-class="(event.Actions.Participants.status)? 'md-raised md-primary' : ''" ng-click="rsvpEvent(event, $index, 'events')" aria-label="Favorite">
                                    <md-icon ng-class="(event.Actions.Participants.status)? '':'blue'" md-svg-icon="{{!event.Actions.Participants.status? 'account-check' : 'plus-one' }}"></md-icon> {{!event.Actions.Participants.status? 'attending' : 'RSVP' }}
                                </md-button>
                            </md-card-actions>
                        </div>
                    </md-card-title>
                    <center hide-gt-xs style="margin:0;color:#555555" class="md-caption">
                        <!--  <md-button hide-xs class="md-icon-button" class="md-icon-button" aria-label="Favorite">
                                        <a target="_blank" ng-href="{{event.link}}">
                                            <md-icon ng-class="!event.Actions.Participants.status? 'blue':''" md-svg-icon="link-variant"></md-icon>
                                        </a>
                                    </md-button> -->
                        {{event.details.venue}}</center>
                    <div layout="row">
                        <md-button flex hide-gt-xs class="appriciate-button" ng-click="heartEvent(event, $index, 'events')" aria-label="Favorite">
                            <md-icon class="pink" md-svg-icon="{{event.Actions.Bookmarked.status? 'heart' : 'heart-outline' }}"></md-icon> {{event.Actions.Bookmarked.status? 'Appreciated' : 'Appreciate' }}
                        </md-button>
                        <md-button flex hide-gt-xs class="rsvp-button" ng-class="(event.Actions.Participants.status)? 'md-raised md-primary' : ''" ng-click="rsvpEvent(event, $index, 'events')" aria-label="Favorite">
                            <md-icon ng-class="(event.Actions.Participants.status)? '':'blue'" md-svg-icon="{{!event.Actions.Participants.status? 'account-check' : 'plus-one' }}"></md-icon> {{!event.Actions.Participants.status? 'attending' : 'RSVP' }}
                        </md-button>
                    </div>
                </md-card>
            </md-list-item>
            <md-list-item ng-show="loading" flex style="margin-bottom: 15px;" ng-repeat="event in [1,2,3]" class="secondary-button-padding eventListItem">
                <md-card flex>
                    <md-card-title style="padding: 0px;">
                        <div class="md-media-sm" style="width: 150px;height:150px; background-color: #eee">
                            <img class="" style="width: 150px;height:150px;background-color: #f1f1f1" alt="">
                        </div>
                        <div style="padding:  14px 23px 0px 33px;" flex layout="column">
                            <!-- <span class="md-body-2">{{event.timings.date.start? event.timings.date.start:"Fri, Mar 24 2:00 PM" }}</span> -->
                            <p class="animated-background" style="margin-top: 0px;">Date · Time </p>
                            <br>
                            <p class="md-title animated-background" style="font-weight: 600;margin: 0px; background-color: #eee;color: transparent;">
                                CampusBox launch
                            </p>
                            <p style="margin:0;background-color: #eee;color: transparent;" class="md-caption animated-background">Main Auditorium, Thapar University</p>
                        </div>
                    </md-card-title>
                </md-card>
            </md-list-item>
        </md-list>
        <div infinite-scroll="myPagingFunction();" infinite-scroll-distance="4">
        </div>
    </div>
</div>
