<style>
.button-grey {
    color: #555555;
}
</style>
<div class="main-bg">
    <div layout-gt-sm="row" layout="column" layout-align-gt-xs="center" layout-align-xs="center strech">
        <div layout="row" layout-align="center">
            <div hide-xs flex layout-align="start" layout="row" layout-wrap flex-gt-xs="80">
                <md-card ng-repeat="event in events" flex-lg="30" flex-md="45" flex-sm="45" flex="100">
                    <event-card data="event" bar="true" ng-if="!eventLoading" hide-xs></event-card>
                </md-card>
            </div>
            <div show-xs hide-gt-sm layout="column" flex-xs="100">
                <md-list>
                    <md-list-item style="margin-bottom: 10px;" ng-repeat="event in events" class="secondary-button-padding eventListItem">
                        <md-card flex>
                            <event-card-mobile data="event" bar="true" hide-gt-xs></event-card-mobile>
                        </md-card>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>
