<!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
<div layout="row" ng-hide="!vm.activated" layout-sm="column" layout-align="space-around">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<h1 ng-model="title" medium-editor bind-options="{disableReturn: true, disableExtraSpaces: true, toolbar: false}" data-placeholder="Enter a title"></h1>
<p ng-model="description" medium-editor bind-options="{'toolbar': {'buttons': ['bold', 'italic', 'underline']}}" data-placeholder="Enter a description">
    
</p>
<md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools">
        <h2 class="md-toolbar-tools">
      <span>Blogs Uploaded by You</span>
    </h2>
        <md-button aria-label="Favorite" ng-click="showAdvanced($event)">
            <ng-md-icon icon="search"></ng-md-icon>
            Add Blog
        </md-button>
    </div>
</md-toolbar>
<md-content>
    <md-list>
        <md-list-item ng-click="showAdvanced($event)" class="secondary-button-padding" ng-repeat="event in vm.tableData ">
            <p>{{event.name}}</p>
            <md-button class=" md-icon-button" aria-label="description" ng-click="showAdvanced($event)" md-no-ink="true|false" md-ripple-size="full">

                <md-icon md-svg-icon="pencil"></md-icon>
            <md-divider md-inset ng-if="!$last"></md-divider>
        </md-list-item>
    </md-list>
</md-content>
