<div layout="row" layout-xs="column" layout-align-gt-xs="center start" flex md-padding>
    <div layout="column" md-padding hide-xs ng-if="studentLoading" flex="15" flex-xs="100" flex-offset-gt-xs="5">
        <center>
            <img style="border-radius: 5px; width: 100%; margin-top:20px; background-color: #dfdfdf; padding-bottom: 33%" class="div layout=" column " md-padding-image">
            <div layout="column" layout-align="center center">
                <br>
                <span class=" animated-background">student.title</span>
                <br>
                <span class=" animated-background" style="padding:0px;color: rgba(0, 0, 0, 0.6);">student.college.name name name</span>
                <br>
            </div>
        </center>
        <div style="padding-top: 0px;">
            <center>
                <div style=" text-align:center;">
                    <ul style="list-style: none; display:inline-block; margin-top: 0px; padding-left:0px;">
                        <li ng-repeat="skill in [1,2,3]"  style="cursor: default;border-radius: 5px;font-size:12px;line-height: 32px;margin: 8px 8px 0 0;padding: 0 7px 0 7px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(224,224,224);">skill.name</li>
                    </ul>
                </div>
            </center>
            <section layout="row" layout-align="center center" layout-wrap>
                <md-list>
                    <md-button ng-href="{{social.link}}" ng-repeat="social in student.SocialAccounts.data">
                        <md-icon md-svg-icon="social.type" md-colors="social.type=='facebook' ? {color: 'indigo'} : {color: 'red'}"></md-icon>
                        social.type
                    </md-button>
                </md-list>
            </section>
        </div>
        <div layout="row" layout-align="end center">
        </div>
    </div>
    <div layout="column" md-padding hide-xs ng-if="!studentLoading" flex="20" flex-xs="100" style="min-width: 20%;">
        <img style="border-radius: 5px; width: 100%; margin-top:20px; background-color: #ccc;" ng-src="{{student.photo}}" class="div layout=" column " md-padding-image" alt="{{student.name}}">
        <div>
            <p >{{student.name}}</p>
        </div>
        <md-divider></md-divider>
        <div>
            <p >
                About
            </p>
            <div layout="row " layout-align="center " ng-hide="editCollege ">
                <span class="md-subhead ">{{student.college.name}}</span>
                <!--                         <md-button class="md-icon-button " ng-click="editCollege=true; ">
                            <md-icon md-svg-icon="pencil "></md-icon>
                        </md-button> -->
            </div>
            <div class=" " layout="column " ng-show="editCollege " style="background-color: #f1f1f1;border-radius: 2px;padding:8px; ">
                <input class=" md-padding " md-colors="{color: 'grey'} " ng-model="studentAbout.about ">
                </input>
                <div layout="row " style="padding-top: 8px; " layout-align="space-around center ">
                    <md-button class="md-raised " ng-click="editCollege=false; ">Cancel
                    </md-button>
                    <md-button class="md-raised md-primary " ng-click="editCollege=false; ">Update
                    </md-button>
                </div>
            </div>
            <div ng-hide="editAbout" layout="row " layout-align="center ">
                <p class=" ">
                    {{(student.subtitle === null)?"Write about yourself. ":student.subtitle}}
                </p>
                <md-button class="md-icon-button " ng-click="editAbout= true; ">
                    <md-icon md-svg-icon="pencil "></md-icon>
                </md-button>
            </div>
            <div class=" " layout="column " ng-show="editAbout" style="background-color: #f1f1f1;border-radius: 2px;padding:8px; ">
                <input class=" md-padding " md-colors="{color: 'grey'} " ng-model="studentAbout.about ">
                </input>
                <div layout="row " style="padding-top: 8px; " layout-align="space-around center ">
                    <md-button class="md-raised " ng-click="editAbout = false">Cancel
                    </md-button>
                    <md-button class="md-raised md-primary " ng-click="editAbout=false;about()">Update
                    </md-button>
                </div>
            </div>
            <md-divider></md-divider>
            <div layout="row" layout-margin>
                <p >
                    Skills
                </p>
                <span flex></span>
                <a href="" ng-init="readonly=true" ng-show="readonly " ng-click="readonly=false; ">Edit
                    </a>
            </div>
            <div style="margin-bottom: 8px;">
                <md-chips style="box-shadow: none;" ng-model="student.Skills.data" md-transform-chip="transformChip($chip)" readonly="true" md-removable="!readonly">
                    <md-chip-template>
                        <span>
                      <strong>{{$chip.name}}</strong>
                    </span>
                    </md-chip-template>
                </md-chips>
            </div>
            <div  layout="column" ng-hide="readonly" style="background-color: #f1f1f1;border-radius: 2px;padding:8px;">
                <input class=" md-padding" placeholder="Type a skill to brag about" md-colors="{color: 'grey'}" ng-model="add.skill">
                </input>
                <div layout="row " style="padding-top: 8px; " layout-align="space-around center">
                    <md-button class="md-raised " ng-click="readonly=true; ">Cancel
                    </md-button>
                    <md-button class="md-raised md-primary " ng-click="readonly=true;updateSkills()">Update
                    </md-button>
                </div>
            </div>
            <md-divider></md-divider>
            <p >
                Social Accounts
            </p>
            <md-list>
                <md-list-item class="md-2-line" ng-repeat="social in student.SocialAccounts.data" ng-href="{{social.link}}" target="_blank">
                    <md-icon md-svg-icon="{{social.type}}" md-colors="social.type=='facebook' ? {color: 'indigo'} : {color: 'red'}"></md-icon>
                    <div class="md-list-item-text" layout="column">
                        <h3 style="text-transform: capitalize;">
                            {{social.type}}
                        </h3>
                    </div>
                </md-list-item>
            </md-list>
            <md-divider></md-divider>
        </div>
    </div>
    <div layout="column" md-padding flex="55" flex-xs="100" flex-offset-gt-xs="5">
        <div>
            <div style="padding-bottom: 20px;">
                <div layout="row" style="width:100%;">
                    <md-nav-bar hide-xs md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" style="overflow: visible;">
                        <md-nav-item md-nav-click="goto('creativity')" name="creativity">
                            My Creativities
                            <!--  ({{student.CreativeContents.data.length}}) -->
                        </md-nav-item>
                        <md-nav-item md-nav-click="goto('Opportunity')" name="Opportunity">
                            My Opportunities
                            <!--  ({{student.Events.data.length}}) -->
                        </md-nav-item>
                        <md-nav-item md-nav-click="goto('recomended')" name="recomended">
                            Bookmarks
                            <!--  ({{student.BookmarkedContents.data.length}}) -->
                        </md-nav-item>
                        <md-nav-item md-nav-click="goto('RSVPs')" ng-show="student.AttendingEvents.data.length>0" name="RSVPs">
                            Rsvp
                            <!--  ({{student.AttendingEvents.data.length}}) -->
                        </md-nav-item>
                        <md-nav-item md-nav-click="goto('following')" name="following" ng-show="student.following.data.length > 0">
                            Following
                            <!-- ({{student.Following.data.length}}) -->
                        </md-nav-item>
                        <md-nav-item md-nav-click="goto('followers')" ng-show="student.Follower.data.length>0" name="followers">
                            Followers
                            <!--  ({{student.Follower.data.length}}) -->
                        </md-nav-item>
                    </md-nav-bar>
                    <div layout="row" hide-gt-xs style="width:100%;overflow-x: auto;">
                        <md-button ng-click="goto('profile')" style="min-width: 80px;">Profile</md-button>
                        <md-button ng-click="goto('creativity')" name="creativity" style="min-width: 130px;">
                            My Creativities
                            <!--  ({{student.CreativeContents.data.length}}) -->
                        </md-button>
                        <md-button ng-click="goto('Opportunity')" name="Opportunity" style="min-width: 155px;">
                            My Opportunities
                            <!--  ({{student.Events.data.length}}) -->
                        </md-button>
                        <md-button ng-click="goto('recomended')" name="recomended" style="min-width: 100px;">
                            Bookmarks
                            <!-- ({{student.BookmarkedContents.data.length}}) -->
                        </md-button>
                        <md-button ng-click="goto('RSVPs')" ng-show="student.AttendingEvents.data.length>0" name="RSVPs" style="min-width: 80px;">
                            Rsvp
                            <!--  ({{student.AttendingEvents.data.length}}) -->
                        </md-button>
                        <md-button ng-click="goto('following')" ng-show="student.Following.data.length>0" name="following" style="min-width: 100px;">
                            Following
                            <!--  ({{student.Following.data.length}}) -->
                        </md-button>
                        <md-button ng-click="goto('followers')" ng-show="student.Follower.data.length>0" name="followers" style="min-width: 100px;">
                            Followers
                            <!--  ({{student.Follower.data.length}}) -->
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>
                <div layout="column" md-padding show-xs hide-gt-xs ng-if="studentLoading">
                    <center>
                        <img style="border-radius: 5px; width: 100%; background-color: #dfdfdf; padding-bottom: 33%" class="div layout=" column " md-padding-image">
                        <div layout="column" layout-align="center center">
                            <br>
                            <span class=" animated-background">student.title </span>
                            <br>
                            <span class=" animated-background" style="padding:0px;color: rgba(0, 0, 0, 0.6);">student.college.name name name</span>
                            <br>
                        </div>
                    </center>
                    <div style="padding-top: 0px;">
                        <center>
                            <div style=" text-align:center;">
                                <ul style="list-style: none; display:inline-block; margin-top: 0px; padding-left:0px;">
                                    <li ng-repeat="skill in [1,2,3]"  style="cursor: default;border-radius: 5px;font-size:12px;line-height: 32px;margin: 8px 8px 0 0;padding: 0 7px 0 7px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(224,224,224);">skill.name</li>
                                </ul>
                            </div>
                        </center>
                        <section layout="row" layout-align="center center" layout-wrap>
                            <md-list>
                                <md-button ng-href="{{social.link}}" ng-repeat="social in student.SocialAccounts.data">
                                    <md-icon md-svg-icon="social.type" md-colors="social.type=='facebook' ? {color: 'indigo'} : {color: 'red'}"></md-icon>
                                    social.type
                                </md-button>
                            </md-list>
                        </section>
                    </div>
                    <div layout="row" layout-align="end center">
                    </div>
                </div>
                <div show-xs hide-gt-xs ng-if="!studentLoading" ng-hide="(currentNavItem!='profile')" style="padding: 16px;">
                    <div layout="row">
                        <div flex="35" layout="column">
                            <img class="profile-image" ng-src="{{student.photo}}" alt="{{student.name}}">
                        </div>
                        <div flex="65" layout="column" style="padding-left: 16px;">
                            <span class="md-subhead" style="font-size: 20px;">{{student.name}}</span>
                            <span class="md-subhead" style="color: #636C74; font-size: 14px;margin-top: 2px;">@{{student.username}}</span>
                        </div>
                    </div>
                    <div>
                        <div layout="row" style="margin-top: 16px;">
                            <span class="profile-section-title">About</span>
                            <span flex></span>
                            <span class="profile-edit-link" ng-hide="editAbout" ng-click="editAbout=true;">
                                Edit
                            </span>
                        </div>
                        <div style="margin-top: 16px;">
                            <div ng-hide="editAbout" layout="row" layout-align="start">
                                <span ng-hide=' ( student.subtitle == null || student.subtitle == "" ) ' class="profile-subtitle">{{student.subtitle}}</span>
                                <span ng-show='(student.subtitle == null || student.subtitle == "")' class="profile-subtitle" style="font-style: italic;color: rgba(99,108,116,.45);">Write about yourself.</span>
                            </div>
                            <div ng-show="editAbout"  layout="column" style="background-color: #f1f1f1;border-radius: 2px;padding:8px; ">
                                <input class=" md-padding " md-colors="{color: 'grey'} " ng-model="studentAbout.about ">
                                </input>
                                <div layout="row " style="padding-top: 8px; " layout-align="space-around center ">
                                    <md-button class="md-raised" ng-click="editAbout=false;">Cancel</md-button>
                                    <md-button class="md-raised md-primary" ng-click="editAbout=false;about() ">Update</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-divider style="margin-top:16px;"></md-divider>
                    <div>
                        <div layout="row" style="margin-top: 16px;">
                            <span class="profile-section-title">Skills</span>
                            <span flex></span>
                            <span class="profile-edit-link" ng-hide="editSkills" ng-click="editSkills=true;">
                                Edit
                            </span>
                        </div>
                        <div style="margin-top:16px;">
                            <md-chips readonly=!editSkills; ng-hide="student.Skills.data.length==0" md-removable="editSkills" style="box-shadow: none;" ng-model="student.Skills.data" md-transform-chip="transformChip($chip)" md-max-chips="5">
                                <md-chip-template>
                                    <a class="skill-item-text" ui-sref="home.searchAll({query: '{{$chip.name}}'})">
                                        <span>{{$chip.name}}</span>
                                    </a>
                                </md-chip-template>
                            </md-chips>
                            <span class="profile-text-data" ng-show="student.Skills.data.length==0">You haven't added any skills!</span>
                            <div ng-show="editSkills"  layout="column" style="background-color: #f1f1f1;border-radius: 2px;padding:8px;">
                                <input class=" md-padding" placeholder="Type a skill to brag about" md-colors="{color: 'grey'}" ng-model="add.skill">
                                </input>
                                <div layout="row " style="padding-top: 8px; " layout-align="space-around center">
                                    <md-button class="md-raised" ng-click="editSkills=false;">Close</md-button>
                                    <md-button class="md-raised md-primary" ng-click="updateSkills();">Update</md-button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <md-divider style="margin-top:16px;"></md-divider>
                    <div style="margin-top: 16px;">
                        <div layout="row">
                            <span class="profile-section-title">Info</span>
                            <span flex></span>
                            <!-- Uncomment when info editing/Adding is ready -->
                            <!-- <span class="profile-edit-link" ng-hide="editInfo" ng-click="editInfo=true;">
                                Add info
                            </span> -->
                        </div>
                        <div layout="row" layout-align="start start" ng-hide="student.college.name == 'No College Selected' || student.college.name == NULL" class="profile-text-data" style="margin-top: 16px;">
                            <div style="height: 18px; width: 18px; margin-right: 16px;">
                                <md-icon class="profile-icon" md-svg-icon="school" style="margin-right: 16px"></md-icon>
                            </div>{{student.college.name}}
                        </div>
                        <div layout="row" layout-align="start start" ng-hide="student.about.home_city == NULL" class="profile-text-data" style="margin-top: 16px;">
                            <div style="height: 18px; width: 18px; margin-right: 16px;">
                                <md-icon class="profile-icon" md-svg-icon="home" /></md-icon>
                            </div>{{student.about.home_city}}
                        </div>
                        <div layout="row" layout-align="start start" ng-hide="student.about.birthday == 'Not set'" class="profile-text-data" style="margin-top: 16px;">
                            <div style="height: 18px; width: 18px; margin-right: 16px;">
                                <md-icon class="profile-icon" class="profile-icon" md-svg-icon="cake"></md-icon>
                            </div>{{student.about.created_on}}
                        </div>
                        <div layout="row" layout-align="start start" class="profile-text-data" style="margin-top: 16px;">
                            <div style="height: 18px; width: 18px; margin-right: 16px;">
                                <md-icon class="profile-icon" md-svg-icon="face" style="margin-right: 16px"></md-icon>
                            </div>Member since {{student.about.created_on}}
                        </div>
                    </div>
                    <md-divider style="margin-top: 16px;"></md-divider>
                    <p class="profile-section-title">Social</p>
                    <div>
                        <a layout="row" ng-repeat="social in student.SocialAccounts.data" ng-href="{{social.link}}" style="text-decoration: none; margin-bottom: 16px" class="profile-text-data" target="_blank">
                            <div style="height: 18px; width: 18px; margin-right: 16px;">
                                <md-icon class="profile-icon" md-svg-icon="{{social.type}}" style="margin-right: 16px"></md-icon>
                            </div><span style="text-transform: capitalize;">{{social.type}}</span>
                        </a>
                    </div>
                    </md-card-content>
                </div>
            </div>
            <div label="creativity" ng-hide="(currentNavItem!='creativity')">
                <div class="md-padding" layout-fill>
                    <div layout="column" layout-align="center center" ng-show="student.CreativeContents.data.length == 0">
                        <center>
                            <p  style="color:rgba(0,0,0,.44);">Let's get started by creating your first idea</p>
                        </center>
                        <img style="height: 200px; width: 200px;opacity: 0.8;" src="assets/svg/girl.svg" alt="">
                        <md-button class="md-primary" ui-sref="home.addCreativity">
                            Add Creative Content</md-button>
                    </div>
                    <div flex layout="row" layout-wrap layout-align="center center" ng-repeat="content in [1,2,3,4]">
                        <md-card ng-show="loading" flex="100" flex-gt-sm="60">
                            <md-card-header>
                                <md-card-avatar style="background: #f6f7f8">
                                    <img class="md-user-avatar" />
                                </md-card-avatar>
                                <md-card-header-text>
                                    <span style="width: 30%" class=" animated-background">Anything here </span>
                                </md-card-header-text>
                            </md-card-header>
                            <span class=" animated-background" flex="90" flex-offset="10" style="padding: 40px; margin-bottom: 50px">and again</span>
                        </md-card>
                    </div>
                    <div flex layout="row" layout-wrap layout-align="center center">
                        <md-list flex>
                            <md-list-item class="md-2-line md-no-proxy" ui-sref="home.singleContent({contentId: content.id})" ng-repeat="content in student.CreativeContents.data track by $index">
                                <img ng-src="{{content.created.by.image}}" class="md-avatar" alt="{{content.created.by.name}}" />
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ content.title }}</h3>
                                    <h4>{{ content.created.at | date: ' d MMM'}}</h4>
                                </div>
                                <md-menu>
                                    <md-button aria-label="Option Menu Creativity" class="md-icon-button" ng-click="openMenu($mdMenu,$event);">
                                        <md-icon md-menu-origin md-svg-icon="menu-down"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <!--                                         <md-menu-item>
                                            <md-button class="md-warn" aria-label="participants" ng-click="" md-ripple-size="auto" style="color: #149370;">
                                                <md-icon md-svg-icon="pencil" style="color: #149370;"></md-icon>
                                                Edit
                                            </md-button>
                                        </md-menu-item> -->
                                        <md-menu-item>
                                            <md-button class="md-primary" aria-label="participants" ng-click="unPublishAndMoveToDraft(content, $index)" md-ripple-size="auto">
                                                <!--                                                 <md-icon md-svg-icon="edit"></md-icon>
 -->UnPublish
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-warn" aria-label="participants" ng-click="deleteContent($event, content, $index)" md-ripple-size="auto">
                                                <!--                                                 <md-icon md-svg-icon="delete"></md-icon>
 -->Delete
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </div>
                </div>
            </div>
            <div label="Opportunity" ng-hide="(currentNavItem!='Opportunity')">
                <div class="md-padding">
                    <div layout="column" ng-show="student.Events.data.length == 0" layout-align="center center">
                        <p  style="color:rgba(0,0,0,.44);">Opportunities don't happen, you create them</p>
                        <center>
                        </center>
                        <md-button class="md-primary" ui-sref="home.addEvent">
                            Add event</md-button>
                    </div>
                    <div layout="row" ng-hide="!vm.activated" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <md-list>
                        <md-list-item ui-sref="home.singleEvent({eventId: event.id})" class="secondary-button-padding md-no-proxy" ng-repeat="event in student.Events.data ">
                            <img ng-src="{{event.image}}" class="md-avatar" alt="{{item.who}}">
                            <p>{{event.title}}</p>
                            <!-- <md-button class="md-primary" aria-label="participants" ng-click="showParticipants(event)" md-ripple-size="auto">Participants</md-button> -->
                            <md-divider md-inset ng-if="!$last"></md-divider>
                            <!-- comment this when draft system is made -->
                            <md-button class="md-warn" aria-label="deleteEvent" ng-click="deleteEvent($event, event, $index)" md-ripple-size="auto">Delete</md-button>
                            <!-- Uncomment it when draft system is build  -->
                            <!-- <md-menu>
                                    <md-button aria-label="Option Menu Creativity" class="md-icon-button" ng-click="openMenu($mdMenu,$event);">
                                        <md-icon md-menu-origin md-svg-src="assets/svg/ic_down.svg"></md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                        <md-button class="md-warn" aria-label="deleteEvent" ng-click="deleteEvent($event,event, $index)" md-ripple-size="auto">Delete</md-button>
                                        </md-menu-item>
                                    <md-menu-item>
                                        <md-button class="md-primary"  md-colors="{color: 'grey'}" aria-label="draftEvent" ng-click="eventToDraft(event, $index)" md-ripple-size="auto">Save to Draft</md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button class="md-warn" aria-label="modifyEvent" ng-click="" md-ripple-size="auto" style="color: #149370;">
                                                Modify
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu> -->
                        </md-list-item>
                    </md-list>
                </div>
                <md-divider></md-divider>
            </div>
            <div label="recomended" ng-show="(currentNavItem=='recomended')">
                <div layout="column" layout-align="center center" ng-show="student.CreativeContents.data.length == 0">
                    <!-- Heart Balloon icon by Icons8 -->
                    <center>
                        <center>
                            <p  style="color:rgba(0,0,0,.44);">Your Bookmarks will live here</p>
                        </center>
                        <img style="height:200px; width: 200px; opacity: 0.8;" src="assets/svg/opportunist.svg" alt="">
                    </center>
                    <p  style="color:rgba(0,0,0,.44);">Your Bookmarks will live here</p>
                    <md-button class="md-primary" ui-sref="home.creativity" title="Explore all creative content">Start exploring</md-button>
                </div>
                <div flex layout="row" layout-wrap layout-align="center center" ng-repeat="content in [1,2,3,4]">
                    <md-card ng-show="loading" flex="100" flex-gt-sm="60">
                        <md-card-header>
                            <md-card-avatar style="background: #f6f7f8">
                                <img class="md-user-avatar" />
                            </md-card-avatar>
                            <md-card-header-text>
                                <span style="width: 30%" class=" animated-background">Anything here </span>
                            </md-card-header-text>
                        </md-card-header>
                        <span class=" animated-background" flex="90" flex-offset="10" style="padding: 40px; margin-bottom: 50px">and again</span>
                    </md-card>
                </div>
                <div flex layout="row" layout-wrap layout-align="center center">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="content in student.BookmarkedContents.data track by $index" ui-sref="home.singleContent({contentId: content.id})">
                            <img ng-src="{{content.created.by.image}}" class="md-avatar" alt="{{content.created.by.name}}" />
                            <div class="md-list-item-text" layout="column">
                                <h3>{{ content.title }}</h3>
                                <h4>{{ content.created.at | date: ' d MMM'}}</h4>
                                <p>
                                    <ul style="list-style: none; display:inline-block; margin-top: 0px; padding-left:0px;">
                                        <li ng-repeat="tag in content.Tags" style="cursor: default;border-radius: 5px;font-size:12px;line-height: 32px;margin: 8px 8px 0 0;padding: 0 7px 0 7px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(66,66,66);">{{tag.name}}</li>
                                    </ul>
                                </p>
                            </div>
                            <!-- <md-button style="float:right" class="md-no-proxy" ng-click="unBookmark(content,$index)" aria-label="Favorite ">
                                <md-icon ng-class="md-primary" md-svg-icon="bookmark"></md-icon>
                            </md-button> -->
                            <md-button style="float:right" class="md-warn" ng-click="unBookmark(content,$index)" aria-label="Favorite ">
                                Remove
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </div>
            </div>
            <div label="RSVPs" ng-show="(currentNavItem=='RSVPs')" ng-if="student.AttendingEvents.data.length">
                <div class="md-padding">
                    <div layout="row" ng-hide="!vm.activated" layout-sm="column" layout-align="space-around">
                        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                    </div>
                    <md-list>
                        <md-list-item ui-sref="home.singleEvent({eventId: event.id})" class="md-2-line" ng-repeat="event in student.AttendingEvents.data track by $index">
                            <img ng-src="{{event.image}}" class="md-avatar" alt="{{item.who}}">
                            <div class="md-list-item-text">
                                <h3>{{event.title}}</h3>
                                <p>{{event.timings.from.date | date: ' d MMM'}} {{event.timings.to.date==event.timings.from.date?null:event.timings.to.date | date: '- d MMM'}}</p>
                            </div>
                            <md-button class="md-warn" aria-label="participants" ng-click="cancelRsvp($event, event, $index)" md-ripple-size="auto">Cancel</md-button>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
            <div label="following" ng-show="(currentNavItem=='following')" ng-if="student.Following.data.length">
                <div class="md-padding">
                    <md-list-item class="md-3-line" ui-sref="home.profile({username: item.username})" ng-repeat="item in student.Following.data track by $index" ng-click="null">
                        <img ng-src="{{item.photo}}" class="md-avatar" alt="" />
                        <div class="md-list-item-text" layout="row">
                            <div layout="column">
                                <h3>{{ item.title }} </h3>
                                <p>{{ item.about }}</p>
                            </div>
                            <span flex></span>
                        </div>
                        <md-button class=" md-primary" aria-label="participants" ng-click="unfollow(item, $index)" md-ripple-size="auto" style="color: #149370;border-color:#149370;border: 1px;border-style: solid;text-transform: capitalize;">
                            UnFollow
                        </md-button>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </div>
            <div label="followers" ng-show="(currentNavItem=='followers')" ng-if="student.Follower.data.length">
                <div class="md-padding">
                    <md-list-item class="md-3-line" ui-sref="home.profile({username: item.username})" ng-repeat="item in student.Follower.data track by $index" ng-click="null">
                        <img ng-src="{{item.photo}}" class="md-avatar" alt="" />
                        <div class="md-list-item-text" layout="row">
                            <div layout="column">
                                <h3>{{ item.title }} </h3>
                                <p>{{ item.about }}</p>
                            </div>
                            <span flex></span>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
