<style>
.pink {
    fill: rgb(233, 30, 99) !important;
}

.yellow {
    fill: rgb(255, 235, 59) !important;
}
</style>
<div layout="row" layout-xs="column" layout-align="start">
    <md-card flex="30" flex-xs="100">
        <center>
            <img style="border-radius: 50%; width: 40%; margin-top:20px;" ng-src="{{profile.photo}}" class="md-card-image" alt="Washed Out">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{profile.name}}</span>
                    <span class="md-subhead">{{profile.college.name}}</span>
                    <md-button ng-class="demoFollow.status? 'md-primary' : 'md-raised md-primary'" ng-click="follow()">{{demoFollow.status?  'Following':'Follow' }}</md-button>
                </md-card-title-text>
            </md-card-title>
        </center>
        <md-card-content>
            <p class="md-body-2">
                {{profile.description}}
            </p>
            <md-divider></md-divider>
            <p class="md-title">
                Skills
            </p>
            <!-- <md-chips ng-model="profile.skills.data"></md-chips> -->
            <ul style="list-style: none; display:inline-block; margin-top: 0px; padding-left:0px;">
                <li ng-repeat="skill in profile.Skills.data" style="cursor: default;border-radius: 5px;font-size:12px;line-height: 32px;margin: 8px 8px 0 0;padding: 0 7px 0 7px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(66,66,66);">{{skill.name}}</li>
            </ul>
            <md-divider></md-divider>
            <p class="md-title">
                Social Accounts
            </p>
            <md-list>
            <a  ng-repeat="social in profile.SocialAccounts.data" href="{{social.link}}" target="_blank">
                <md-list-item>
                    <md-icon md-svg-icon="facebook"></md-icon>
                    <p>Facebook</p>
                </md-list-item>
                <md-icon md-svg-icon="{{item.icon}}"></md-icon>
            </md-list>
            </a>
        </md-card-content>
    </md-card>
    <md-card flex="70" flex-xs="100">
        <md-card-content>
            <md-tabs md-dynamic-height md-border-bottom md-selected="tab">
                <md-tab label="Overview">
                    <div flex layout="row" layout-align="space-around" layout-wrap>
                        <md-card flex="100" flex-gt-xs="40" ng-repeat="item in [1,2,3,4]" style="box-shadow: 0px 0px #FFF; border-radius: 3px; border : solid .5px rgba(10,10,10,0.3)" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
                            <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-body-2" style="color: #174f7d; font-weight: 900">Card with image</span>
                                    <span class="md-caption">24 Oct</span>
                                </md-card-title-text>
                            </md-card-title>
                            <md-card-content>
                                <p>
                                    The titles of Washed Out's breakthrough song and the first single from Paracosm share the two
                                </p>
                            </md-card-content>
                            <md-card-actions layout="row" layout-align="end center">
                                <md-button class="md-icon-button" aria-label="Favorite">
                                    <md-icon md-svg-icon="heart-outline"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Settings">
                                    <md-icon md-svg-icon="menu"></md-icon>
                                </md-button>
                                <md-button class="md-icon-button" aria-label="Share">
                                    <md-icon md-svg-icon="bookmark-outline"></md-icon>
                                </md-button>
                            </md-card-actions>
                        </md-card>
                    </div>
                    <h2> Activity </h2>
                    <br>
                    <h3>Top Events Created</h3>
                    <md-list>
                        <md-list-item ng-click="showEvent(event, $index)" class="md-2-line" ng-repeat="event in profile.Events.data | limitTo:6">
                            <img ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{event.id}}.jpg" class="md-avatar" alt="{{item.who}}">
                            <div class="md-list-item-text">
                                <h3>{{event.title}}</h3>
                                <p>Created: date</p>
                            </div>
                            <span><md-button class="md-icon-button" ng-click="heart(event, $index)" aria-label="Favorite ">
                                <md-icon ng-class="event.Actions.Bookmarked.status? 'pink':''"  md-svg-icon="{{event.Actions.Bookmarked.status? 'heart' : 'heart-outline' }}"></md-icon>
                            </md-button>{{event.Actions.Bookmarked.total}}</span>
                            <md-button class="md-icon-button" ng-click="update(event, $index)" aria-label="Favorite ">
                                <md-icon ng-class="event.Actions.Participants.status? 'yellow':''" md-svg-icon="{{event.Actions.Participants.status? 'bell-ring' : 'bell-outline' }}"></md-icon>
                            </md-button>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                    <br>
                    <h3>Liked Items</h3>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="event in profile.Events.data | limitTo:6">
                            <img ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{event.image}}" class="md-avatar" alt="{{item.who}}">
                            <div class="md-list-item-text">
                                <h3>{{event.title}}</h3>
                                <h4>Description</h4>
                                <p>Created: date - Rohan Goel</p>
                            </div>
                            <span><md-icon md-svg-icon="heart"></md-icon> 100</span>
                            <md-divider md-inset ng-if="!$last"></md-divider>
                        </md-list-item>
                    </md-list>
                </md-tab>
                <md-tab label="Creative Content">
                    <div layout="column" layout-wrap layout-align="center center">
                        <md-card flex-gt-md="70" ng-repeat="a in [1,2,3,4] ">
                            <div layout="row " layout-align="left left ">
                                <span class="md-body-1 " style="color: #8f8faf; "><md-icon md-svg-icon="tag " style="fill: #8f8faf;margin:10px; "></md-icon>Life</span>
                            </div>
                            <md-card-header style="padding-bottom: : 0px;">
                                <md-card-avatar>
                                    <img style="max-height: 300px;" class="md-user-avatar" src="https://avatars2.githubusercontent.com/u/14099191?v=3&u=e03e9a657eb1e4de7da062cc5a5611092f0f2d7e&s=400" />
                                </md-card-avatar>
                                <md-card-header-text style="margin: 5px;">
                                    <span class="md-title">Rohan Goel</span>
                                    <span class="md-subhead md-caption">Feb 27 | 5 min read</span>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content>
                                <p class="md-display-1" style="color: #373737;font-size: 28px;margin:0px; ">My new collection</p>
                                <md-card-title-text>
                                    <img src="https://media.licdn.com/media/AAEAAQAAAAAAAArZAAAAJDE4ZmRlMGI3LTFkMmQtNDYwMC04MWJkLTU3YzIzNzA1MDczZA.jpg " style="max-height: 300px;padding-left: 25px;padding-right: 25px; " class="md-card-image " alt="Washed Out ">
                                </md-card-title-text>
                                <p class="md-caption " style="color:#8f8faf; ">
                                    Read more...
                                </p>
                            </md-card-content>
                            <div layout="row " layout-align="start center ">
                                <md-button class="md-icon-button ">
                                    <md-icon md-svg-icon="heart-outline "></md-icon>
                                </md-button>
                                <span>100</span>
                                <span flex></span>
                                <md-button style="float:right; " class="md-icon-button ">
                                    <md-icon md-svg-icon="bookmark-outline "></md-icon>
                                </md-button>
                                <md-card-icon-actions>
                                    <md-button class="md-icon-button " aria-label="toggle ">
                                        <md-icon md-svg-icon="md-toggle-arrow "></md-icon>
                                    </md-button>
                                </md-card-icon-actions>
                            </div>
                        </md-card>
                    </div>
                </md-tab>
                <md-tab label="Events Created">
                    <md-content class="md-padding">
                        <md-list>
                            <md-list-item ng-click="showEvent(event, $index)" class="md-2-line" ng-repeat="event in profile.Events.data | limitTo:6">
                                <img ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{event.id}}.jpg" class="md-avatar" alt="{{item.who}}">
                                <div class="md-list-item-text">
                                    <h3>{{event.title}}</h3>
                                    <p>Created: date</p>
                                </div>
                                <span><md-button class="md-icon-button" ng-click="heart(event, $index)" aria-label="Favorite ">
                                                       <md-icon ng-class="event.Actions.Bookmarked.status? 'pink':''"  md-svg-icon="{{event.Actions.Bookmarked.status? 'heart' : 'heart-outline' }}"></md-icon>
                                                   </md-button>{{event.Actions.Bookmarked.total}}</span>
                                <md-button class="md-icon-button" ng-click="update(event, $index)" aria-label="Favorite ">
                                    <md-icon ng-class="event.Actions.Participants.status? 'yellow':''" md-svg-icon="{{event.Actions.Participants.status? 'bell-ring' : 'bell-outline' }}"></md-icon>
                                </md-button>
                                <md-divider md-inset ng-if="!$last"></md-divider>
                            </md-list-item>
                        </md-list>
                    </md-content>
                    </md-content>
                </md-tab>
                <md-tab label="following">
                    <md-list flex>
                        <md-list-item class="md-3-line" ng-repeat="item in profile.Followed.data" ng-click="null">
                            <img ng-src="{{item.image}}" class="md-avatar" alt="{{item.who}}" />
                            <div class="md-list-item-text" layout="row">
                                <div layout="column">
                                    <h3>{{ item.name }} </h3>
                                    <h4> {{ item.college }}</h4>
                                    <p>{{ item.about }}</p>
                                </div>
                                <span flex></span>
                                <md-button md-no-ink class="md-flat">Follow</md-button>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </md-tab>
                <md-tab label="Recomended">
                    <md-content class="md-padding">
                    </md-content>
                    </md-content>
                </md-tab>
            </md-tabs>
    </md-card>
</div>
