<md-content class="md-padding" ng-controller="SearchStudentsController">
    <md-nav-bar nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="searched('students', query)">Students</md-nav-item>
        <md-nav-item md-nav-click="searched('events', query)">Events</md-nav-item>
        <md-nav-item md-nav-click="searched('creativity', query)">Creativity</md-nav-item>        
    </md-nav-bar>
    <h2>Results for "{{query}}" in students</h2>
    <div layout="row" layout-wrap>
        <md-card ng-repeat="student in students" flex="30" flex-xs="100">
            <center>
                <img style="border-radius: 50%; width: 40%; margin-top:20px;" ng-src="{{student.photo}}" class="md-card-image" alt="Washed Out">
                <md-card-title style="padding: 0px;">
                    <md-card-title-text>
                        <span class="md-headline">{{student.title}} <span class="md-body-1" md-colors="{color: 'grey'}">{{student.username}}</span> </span>
                        <span class="md-subhead" style="padding:0px;">{{student.college.name}}</span>
                        <md-button class=" md-primary">Follow</md-button>
                    </md-card-title-text>
                </md-card-title>
            </center>
            <md-card-content style="padding-top: 0px;">
                <center>
                    <div style=" text-align:center;">
                        <ul style="list-style: none; display:inline-block; margin-top: 0px; padding-left:0px;">
                            <li ng-repeat="skill in student.Skills.data" style="cursor: default;border-radius: 5px;font-size:12px;line-height: 32px;margin: 8px 8px 0 0;padding: 0 7px 0 7px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(66,66,66);">{{skill.skill_name}}</li>
                        </ul>
                    </div>
                    <p class="md-body-1" style="margin-top:0px;">
                        {{student.about}}
                    </p>
                </center>
                <section layout="row" layout-align="center center" layout-wrap>
                    <md-list>
                        <md-button ng-href="{{social.link}}" ng-repeat="social in student.SocialAccounts.data">
                            <md-icon md-svg-icon="{{social.type}}" md-colors="social.type=='facebook' ? {color: 'indigo'} : {color: 'red'}"></md-icon>
                            {{social.type}}
                        </md-button>
                    </md-list>
                </section>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
            </md-card-actions>
        </md-card>
    </div>
</md-content>
