<div layout="row" style="background: white;">
    <div flex="10">
        <div layout="column" layout-align="center center" style="position: fixed;left: 15px;top: 45%;">
            <md-button class="md-icon-button" ng-click="heart(content)" aria-label="Favorite" sticky>
                <md-icon ng-class="content.Actions.Appriciate.status? 'pink':''" md-svg-icon="{{content.Actions.Appriciate.status? 'heart' : 'heart-outline' }}"></md-icon>
            </md-button>
            <span>{{content.Actions.Appriciate.total}}</span>
            <md-button class="md-icon-button" ng-click="bookmark(content)" aria-label="Favorite ">
                <md-icon ng-class="content.Actions.Bookmarked.status? 'yellow':''" md-svg-icon="{{content.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
            </md-button>
        </div>
    </div>
    <div flex="80">
        <md-list-item class="md-3-line" ng-click="null">
            <img ng-src="{{content.created.by.image}}" class="md-avatar" alt="{{content.created.by.name}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{ content.created.by.name }}</h3>
                <h4>{{ content.created.by.college }}</h4>
                <p>{{content.created.at}} · 2 min read</p>
            </div>
        </md-list-item>
        <md-divider></md-divider>
        <div>
            <h1 class="md-title" style="color:rgba(0,0,0,.8);line-height: 1.04;letter-spacing: -.028em;font-size: 40px;font-weight: 700;">
        	{{content.title}}
        </h1>
            <p class="md-body-1" style="white-space: pre-wrap; color:rgba(0,0,0,.8); margin-left: 10px;font-weight: 400; margin:0px; font-size: 21px;line-height: 1.58;letter-spacing: -.003em;">
                {{content.content.description}}
                <ul style="list-style: none; display:inline-block; margin-top: 0px; padding-left:0px;">
                    <a ng-href="{{tag.link}}">
                        <li ng-repeat="tag in content.tags" style="cursor: auto;border-radius: 5px;font-size:12px;line-height: 32px;margin: 8px 8px 0 0;padding: 0 7px 0 7px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(66,66,66);">
                            {{tag.name}}
                        </li>
                    </a>
                </ul>
                <md-button class="md-icon-button" ng-click="heart(content)" aria-label="Favorite" sticky>
                    <md-icon ng-class="content.Actions.Appriciate.status? 'pink':''" md-svg-icon="{{content.Actions.Appriciate.status? 'heart' : 'heart-outline' }}"></md-icon>
                </md-button>
                <span>{{content.Actions.Appriciate.total}}</span>
                <md-button class="md-icon-button" ng-click="bookmark(content)" aria-label="Favorite ">
                    <md-icon ng-class="content.Actions.Bookmarked.status? 'yellow':''" md-svg-icon="{{content.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
                </md-button>
            </p>
        </div>
    </div>
</div>
