<div ng-show="loading" layout="column" flex-gt-xs="80" flex-offset-gt-xs="10">
    <div layout-gt-xs="row" layout-xs="column" layout-align="start" layout-align-xs="strech start">
        <img flex-sm="40" flex-md="40" flex-lg="30" flex-xs="100" style="background-color: #eee;    min-height: 250px;" class="md-card-image">
        <div layout-gt-xs="column" layout-xs="row" flex flex-xs="100">
            <div layout="column" layout-align-xs="center" flex-xs flex-offset="5">
                <h1 style="width:80%;" class=" section-heading animated-background" style="padding: 0px 16px">
                    event.title</h1>
                <span style="width:80%;" class=" animated-background" style="padding: 0px 16px">
                         dfgsd</span>
                <div style="width:40%;">
                    <p class=" animated-background">
                        dfgsd</p>
                    <p class=" animated-background">
                        dfgsd</p>
                    <p class=" animated-background">
                        dfgsd</p>
                </div>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <div layout="row">
        <md-button ng-repeat="tag in [1,2,3]" style="cursor: default;border-radius: 5px;font-size:12px;float: left;box-sizing:border-box;max-width: 100%;position: relative;background-color:rgb(224, 224, 224);color: rgb(66,66,66);"> {{tag.name}}</md-button>
        <span flex></span>
    </div>
    <md-divider></md-divider>
</div>

<div layout="column" ng-show="!loading" class=" white-bg" flex-gt-xs="80" flex-offset-gt-xs="10">
    <div layout-gt-xs="row" layout-xs="column" layout-align="start center">
        <div flex-sm="40" flex-md="40" flex-lg="30" flex-xs="100">
            <img style="max-width: 100%;border-radius: 10px;" ng-src="{{event.image}}" alt="Event title">
        </div>
        <div layout-gt-xs="column" layout-xs="row" flex flex-xs="100">
            <div layout="column" layout-align-xs="center">
                <p class="cb-section-heading m-0" style="padding: 0px 16px">
                    {{event.title}}</p>
                <span class="pl-4">{{event.subtitle}}</span>
                <md-list layout="column" layout-align="start start">
                    <md-list-item layout="row">
                        <md-icon md-svg-icon="calendar-clock" class=" cb-grey-fill" aria-label="Alarm Icon"></md-icon>
                        <p class="m-0">
                            {{event.timings.from.date | date: ' d MMM'}} · {{event.timings.from.time}}{{event.timings.from.period}} - {{event.timings.to.date==event.timings.from.date?null:event.timings.to.date | date: ' d MMM'}} · {{ event.timings.to.time}}{{event.timings.to.period}}
                            </p>
                    </md-list-item>
                    <md-list-item ng-if="event.link">
                        <md-icon md-svg-icon="web" class="cb-grey-fill" aria-label="Website"></md-icon>
                        <p class="m-0">
                            <a href="{{event.link}}" target="_blank"> {{event.link}} </a>
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-svg-icon="map-marker" class="cb-grey-fill" aria-label="Alarm Icon"></md-icon>
                        <p class="m-0">
                            {{event.details.venue}}
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-svg-icon="account-circle" class="cb-grey-fill" aria-label="Alarm Icon"></md-icon>
                        <p class="m-0">
                            By : <a href="{{event.organiser.link}}" target="_blank"> {{event.organiser.name}} </a>({{event.organiser.phone}})
                        </p>
                    </md-list-item>
                    <md-list-item>
                        <md-icon md-svg-icon="currency-inr" class="cb-grey-fill" aria-label="Alarm Icon"></md-icon>
                        <p class="m-0">{{event.details.price? event.details.price+' /-' : 'Free'}}</p>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
    <event-actions layout="row" layout-align="space-around center"></event-actions>
    <md-divider></md-divider>
    <div class="cb-body-container">
        <p class="cb-body justify" ng-bind-html="event.details.description"></p>
    </div>
    <md-divider style="margin-top: 20px;"></md-divider>
</div>