<div layout="row" layout-align="start start" flex-gt-xs>
    <div class="login-box md-whiteframe-z1" flex-offset-gt-xs="10" flex-gt-xs="30" flex-xs layout="column">
        <center>
            <img ng-src="{{user.imageUrl}}" alt="" style="border-radius: 50%; height: auto;width: 20%">
            <p >Log into your account.</p>
        </center>
        <div class="" layout="column">
            <div>{{problem}}</div>
            <div layout="row" ng-hide="!loading" layout-sm="column" layout-align="space-around">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <div flex layout="column" ng-show="!loading">
                <md-button ng-click="authenticate('facebook')" md-colors="{background: 'indigo'}" class="md-raised md-primary">
                    <md-icon md-svg-icon="facebook"></md-icon>Continue with facebook
                </md-button>
                <md-button g-login md-colors="{background: 'red'}" class="md-raised md-primary">
                    <md-icon md-svg-icon="google"></md-icon>+ Continue with google
                </md-button>
                <!--  <md-button linked-in md-colors="{background: 'blue'}" class="md-raised md-primary">
                        <md-icon md-svg-icon="linkedin"></md-icon>
                    </md-button> -->
            </div>
            <center>
                <!-- <button ng-click="authenticate('google')">Sign in with Google</button> -->
                <!--    <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
                    <button ng-click="authenticate('github')">Sign in with GitHub</button>
                    <button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
                    <button ng-click="authenticate('instagram')">Sign in with Instagram</button>
                    <button ng-click="authenticate('twitter')">Sign in with Twitter</button>
                    <button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
                    <button ng-click="authenticate('yahoo')">Sign in with Yahoo</button>
                    <button ng-click="authenticate('live')">Sign in with Windows Live</button>
                    <button ng-click="authenticate('twitch')">Sign in with Twitch</button>
                    <button ng-click="authenticate('bitbucket')">Sign in with Bitbucket</button>
                    <button ng-click="authenticate('spotify')">Sign in with Spotify</button>
                    -->
                <p>Don't have an account yet ?
            </center>
            <md-button ui-sref='static.signUp' class="md-raised md-primary">Get Started Now</md-button>
        </div>
    </div>
    <div layout="column" layout-align="space-between " hide-xs  flex>
        <center>
            <p class="md-display-1"  style="font-weight: 300; color: white; margin-left: 50px">Welcome to CampusBox</p>
        </center>
        <!-- <p  style=" color: white">You are setting up a new student account.</p> -->
        <div class="minion" hide-xs hide-sm>
            <div class="hands">
                <div class="left"></div>
                <div class="right"></div>
                <div class="fingers-l"></div>
                <div class="fingers-r"></div>
                <div class="glove-l"></div>
                <div class="glove-r"></div>
            </div>
            <div class="glasses">
                <div class="glassesline1"></div>
                <div class="glassesline2"></div>
                <div class="glass1">
                    <div class="eye1"></div>
                </div>
                <div class="glass2">
                    <div class="eye2"></div>
                </div>
            </div>
            <div class="mouth">
                <ul class="teeth">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="belt-left"></div>
            <div class="belt-right"></div>
            <div class="pants"></div>
            <div class="legs">
                <div class="left"></div>
                <div class="right"></div>
                <div class="shoe-l"></div>
                <div class="shoe-r"></div>
            </div>
        </div>
    </div>
</div>
