<div layout="row" layout-align="start start">
    <div class="login-box md-whiteframe-z1" flex flex-offset-gt-sm="10" style="min-width: 50%" flex-sm layout="column">
        <md-progress-linear md-mode="determinate" value="{{currentState*33}}"></md-progress-linear>
        <!--  <md-toolbar ng-show="currentState==2">
            <h2 class="md-toolbar-tools">
        <span>Welcome {{user.name}}</span>
      </h2>
        </md-toolbar> -->
        <div ng-show="currentState==1" class="md-p adding autocomplete" layout="column">
            <center>
                <p > Signing up for new account.</p>
                <p >Select atleast 3 topics to
                    <br>personalise your content stream.</p>
            </center>
            <form>
                <center>
                    <div flex hide-sm hide-xs layout="row" layout-align="center center" ng-repeat="itemgroup in items">
                        <span ng-repeat="item in itemgroup track by $index">                        
                            <md-button  ng-class="item.intrested?'interest_selected':'interest'" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">                        
                                {{ item.title }}
                            </md-button>
                            <!-- <br ng-show="{{$index==3 || $index==8|| $index==12 ||$index==17 || $index==21  }}"> -->
                    </span>
                    </div>
                    <div hide-gt-sm flex layout="row" layout-align="center center" ng-repeat="itemgroup in itemsMobile">
                        <span ng-repeat="item in itemgroup track by $index">                        
                            <md-button  ng-class="item.intrested?'interest_selected':'interest'" ng-checked="exists(item, selected)" ng-click="toggle(item, selected)">                        
                                {{ item.title }}
                            </md-button>
                            <!-- <br ng-show="{{$index==3 || $index==8|| $index==12 ||$index==17 || $index==21  }}"> -->
                    </span>
                    </div>
                </center>
            </form>
            <!--  <div class="errors" ng-messages="register.fruitName.$error">
                    <div ng-message="md-max-chips">Maximum number of chips reached.</div>
                </div> -->
            <br>
            <center>
                <p>Already have an account ? <a ui-sref='static.login'>Login here</a></p>
            </center>
            <div layout="row" flex>
                <md-button flex="60" flex-offset="20" ng-disabled="interests.length<3" style="float:right" ng-click="currentState=3;" class="md-raised md-primary">
                    Continue
                </md-button>
            </div>
            <br>
            <br>
        </div>
        <div class="" layout="column" ng-show="currentState==3">
            <div>
                <md-button style="position: absolute;" ng-click="currentState=1;" class="md-primary">
                    <md-icon md-svg-icon="arrow-left"></md-icon>
                    Back
                </md-button>
            </div>
            <div flex layout="column" layout-align="center">
                <center>
                    <p > Your college </p>
                    <p >Add college details to
                        <br>your profile to get important updates.</p>
                </center>
                <form name="register">
                    <label>Name of your college</label>
                    <md-autocomplete md-no-cache="false" ng-model="signUp.college_id" required md-require-match md-selected-item="selectedItem" md-search-text-change="querySearch(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item.college_id)" md-items="item in searchData" md-item-text="item.name" md-min-length="0" placeholder="Full name of your college" md-menu-class="autocomplete-custom-template">
                        <md-item-template>
                            <md-list-item md-highlight-text="searchText">
                                {{ item.name }}
                            </md-list-item>
                            <md-not-found>
                                No matches found.
                            </md-not-found>
                        </md-item-template>
                    </md-autocomplete>
                    <!-- <div class="hint ">This will be visible on your profile.</div> -->
                    <md-input-container class="md-block ">
                        <label>Your Roll Number</label>
                        <input required=" " ng-disabled="college_id<0 " ng-model="signUp.roll " type="text " autocomplete=" " />
                        <!-- <div class="hint ">Must match your college_id id.</div> -->
                        <!-- <div ng-messages="userForm.name.$error " ng-if="!showHints ">
                            <div ng-message="required ">Name is required.</div>
                            <div ng-message="md-maxlength ">The name has to be less than 30 characters long.</div>
                        </div> -->
                    </md-input-container>
                    <div>
                        <center ng-show="signUp.roll && !loading && (signUp.college_id>0 || signUp.college_id_Name)">
                            <p>Complete setup with</p>
                            <md-button ng-click="authenticate('facebook');" md-colors="{background: 'indigo'}" class="md-raised md-primary">
                                <md-icon md-svg-icon="facebook"></md-icon>
                            </md-button>
                            <md-button g-login md-colors="{background: 'red'}" class="md-raised md-primary">
                                <md-icon md-svg-icon="google"></md-icon>+
                            </md-button>
                            <!-- <md-button ng-disabled="signUp.roll<100000" linked-in md-colors="{background: 'blue'}" class="md-raised md-primary">
                            <md-icon md-svg-icon="linkedin"></md-icon>
                        </md-button> -->
                        </center>
                        <div>{{problem}}</div>
                        <div layout="row" ng-show="loading" layout-sm="column" layout-align="space-around">
                            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                        </div>
                    </div>
                </form>
                <!-- <md-divider></md-divider> -->
            </div>
        </div>
    </div>
    <div layout="column" layout-align="space-between ">
        <p class="md-display-1" hide-xs hide-sm style="font-weight: 300; color: white; margin-left: 50px">Welcome to CampusBox</p>
        <!-- <p  style=" color: white">You are setting up a new student account.</p> -->
        <div class="minion" hide-xs hide-sm>
            <div class="hands">
                <div class="left"></div>
                <div class="right"></div>
                <div class="fingers-l"></div>
                <div class="fingers-r"></div>
                <div class="glove-l"></div>
                <div class="glove-r"></div>
            </div>
            <div class="glasses">
                <div class="glassesline1"></div>
                <div class="glassesline2"></div>
                <div class="glass1">
                    <div class="eye1"></div>
                </div>
                <div class="glass2">
                    <div class="eye2"></div>
                </div>
            </div>
            <div class="mouth">
                <ul class="teeth">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="belt-left"></div>
            <div class="belt-right"></div>
            <div class="pants"></div>
            <div class="legs">
                <div class="left"></div>
                <div class="right"></div>
                <div class="shoe-l"></div>
                <div class="shoe-r"></div>
            </div>
        </div>
    </div>
</div>
