   <div flex layout-align="space-between" layout="row" ng-repeat="category in categories">
                <md-card  class="content-card" flex ng-if="creativityLoading" ng-repeat="content in [1,2,3]">
                 <md-card-avatar class="event-cover" style="background: #f6f7f8;width: 100%">
                        <img  class="md-user-avatar" />
                    </md-card-avatar>
                     <span style="margin: 5px;height: 150px" class="animated-background">Anything here  </span>
                     <span style="margin: 5px;" class="md-headline animated-background">Anything here  </span>
                </md-card>
            </div>