<md-card-content style="padding: 0px">
    <md-card-header layout="column" flex>
        <a ui-sref="home.singleContent({contentId: content.id})" style="text-decoration: none;">
            <span class="creativity-title" ng-bind-html="content.title"></span>
        </a>
        <a ui-sref="home.singleContent({contentId: content.id})" style="text-decoration: none;text-overflow: ellipsis;">
            <p class="creativity-description md-body-2 creativity-description-list app-description" ui-sref="home.singleContent({contentId: content.id})" style="cursor: pointer" ng-bind-html="content.items.text">
            </p>
        </a>
    <div ui-sref="home.singleContent({contentId: content.id})">
        <img ng-src="{{content.items.icon}}" class="appIcon-cover" alt="{{content.title}}">
    </div>
    </md-card-header>
</md-card-content>