<div>
    <div class="p-4" layout="column" flex >
        <a ui-sref="home.singleContent({contentId: content.id})" style="text-decoration: none;">
            <span class="creativity-title" ng-bind-html="content.title"></span>
        </a>
        <a ui-sref="home.singleContent({contentId: content.id})" style="text-decoration: none;text-overflow: ellipsis;">
            <p class="cb-grey-card creativity-description md-body-2 creativity-description-list" ui-sref="home.singleContent({contentId: content.id})" style="cursor: pointer" ng-bind-html="content.items.text">
            </p>
        </a>
    </div>
</div>
