<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <img ng-src="assets/images/logo.png" style="max-width:200px">
    <p class="md-display-1" style="font-weight: 300">Sign Up for CampusBox</p>
    <form ng-submit="doLogin(login)">
        <div class="loginBox md-whiteframe-z1" layout="column">
            <md-content class="md-padding" layout="column">
                <div flex layout="row" layout-align="center center">
                    <md-button fb-login md-colors="{background: 'indigo'}" class="md-raised md-primary">
                        <md-icon md-svg-icon="facebook"></md-icon>
                    </md-button>
                    <md-button g-login md-colors="{background: 'red'}" class="md-raised md-primary">
                        <md-icon md-svg-icon="google"></md-icon>+
                    </md-button>
                    <md-button linked-in md-colors="{background: 'blue'}" class="md-raised md-primary">
                        <md-icon md-svg-icon="linkedin"></md-icon>
                    </md-button>
                </div>
                <center>
                    <p>Or</p>
                </center>
                <!-- <md-divider></md-divider> -->
                <md-input-container>
                    <label>Email</label>
                    <input required="" ng-model="login.roll" min="100000000" max="999999999" type="number" name="email" autocomplete="" />
                </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input required="" type="password" ng-model="login.password" />
                    <md-button md-colors="{color: 'blue'}">Forgot Password?</md-button>
                </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px">
                    <div flex="flex"></div>
                </div>
                <md-button ng-click="doLogin(login)" class="md-raised md-primary">Login</md-button>
            </md-content>
        </div>
    </form>
</div>
