.embed-card img {
    object-fit: cover;
    height: 271px;
    width: 100%;
}

.app-icon {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 4px;
    margin: auto;
    background-size: cover !important;
    background-position: center !important;
}

.creativity-cover {
    height: 213px;
    object-fit: cover;
    width: 100%;
    margin: auto;
    background-size: cover !important;
    background-position: center !important;
}

.creativity-overlay-button {
    fill: white;
    border-style: solid;
    border-color: white;
    border-radius: 100%;
    background: rgba(72, 69, 69, 0.47);
    text-shadow: 2px 2px 2px black;
    height: 60px;
    width: 60px;
}

.creativity-card-actions {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: $s-4;
    padding-top: $s-0;
    padding-bottom: $s-2;
}

.cb-icon-button {
    width: $s-6;
    height: $s-6;
    min-height: $s-6;
    min-width: $s-6;
    padding: $s-0;
    margin: $s-0;
    line-height: $s-6;
}