.embedCard img {
	object-fit: cover;
    height: 271px;
    width: 100%;
}
.appIcon-cover{
	cursor: pointer;
	object-fit: cover;
	height: 150px;
	width: 150px;
	border-radius: 4px;
}
.app-description{
	height: 75px !important;
}
.creativity-card{
	padding: 16px;
	padding-bottom: 0px;
}