.creativity-container {
    margin: auto;
    @media only screen and (min-width: 1680px) {
        width: 1680px;
    }
    @media only screen and (min-width: 1270px) and (max-width: 1680px) {
        width: 1270px;
    }
    @media only screen and (min-width: 960px) and (max-width: 1270px) {
        width: 860px;
    }
    @media only screen and (min-width: 644px) and (max-width: 952px) {
        width: 644px;
    }
    @media only screen and (min-width: 336px) and (max-width: 644px) {
        width: 336px;
    }
}

.creativity-content-container {
    padding-left: $s-7;
}

.filter-button {
    padding: $s-0;
    margin: $s-0;
    margin-left: -2px;
    min-width: $s-0;
    min-height: $s-0;
    text-transform: none !important;
}

.filter-button-icon {
    min-height: 18px;
    min-width: 18px;
    width: 18px;
    height: 18px;
}

.mobile-filter-container {
    margin-bottom: $s-4;
    padding-left: $s-7;
    padding-right: $s-7;
}

.embed-card img {
    object-fit: cover;
    height: 271px;
    width: 100%;
}

.app-icon {
    object-fit: cover;
    height: 150px;
    width: 150px;
    border-radius: 4px;
    margin: auto;
    background-size: cover !important;
    background-position: center !important;
}

.creativity-cover {
    height: 213px;
    object-fit: cover;
    width: 100%;
    margin: auto;
    background-size: cover !important;
    background-position: center !important;
}

.creativity-overlay-button {
    fill: white;
    border-style: solid;
    border-color: white;
    border-radius: 100%;
    background: rgba(72, 69, 69, 0.47);
    text-shadow: 2px 2px 2px black;
    height: 60px;
    width: 60px;
}

.creativity-card {
    height: 343px;
}

.creativity-card-actions {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: $s-4;
    padding-top: $s-0;
    padding-bottom: $s-2;
}

.cb-icon-button {
    width: $s-6;
    height: $s-6;
    min-height: $s-6;
    min-width: $s-6;
    padding: $s-0;
    margin: $s-0;
    line-height: $s-6;
}

.personal-profile-card {
    background: white;
    border-radius: $border-radius;
    box-shadow: $card-shadow;
    margin-bottom: $s-4;
}

.personal-profile-card {
    .user-avatar {
        margin-right: $s-0;
    }
}

.personal-profile-name-container {
    margin-left: $s-3;
}

.personal-profile-action-button {
    margin: $s-0;
    padding: $s-0;
    text-transform: none !important;
}

.creativity-loading-cover {
    height: 280px;
    width: 280px;
}

.creativity-loading-actions {
    position: absolute;
    width: 248px;
    height: 31px;
    bottom: 0;
    left: 0;
    margin: $s-4;
}