.btn-see-all {
    padding: $s-2;
    margin: $s-0;
    color: $text-color-red;
    text-transform: none !important;
    min-width: $s-0;
    min-height: $s-0;
    line-height: $s-0;
}

.dashboard-category-title-container {
    margin-bottom: $s-2;
    .cb-section-heading {
        margin-left: $s-4;
    }
}

.dashboard-container {
    margin: auto;
    @media only screen and (min-width: 1643px) {
        width: 1643px;
    }
    @media only screen and (min-width: 1232px) and (max-width: 1643px) {
        width: 1232px;
    }
    @media only screen and (min-width: 960px) and (max-width: 1232px) {
        width: 822px;
    }
    @media only screen and (max-width: 960px){
        width: 100%;
    }
}

@media only screen and (max-width: 960px) {
    .dashboard-content-container {
        padding-right: $s-4;
        .cb-card-vertical {
            margin-right: $s-4;
            margin-bottom: $s-4;
        }
    }
}