.toolbar{
    min-height: 57px;
    background-color: #fff;
}

.nav-button {
    height: auto;
    font-weight: 500;
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
    min-width: 0px;
    font-size: 13px;
}

.logo{
     text-transform: none;
     font-size: $f-2;
     font-weight: $extra-bold;
     color: $cb-green-color;
     margin-right: $s-4;
     margin-left: $s-4;
}