.toolbar {
    min-height: 57px;
    background-color: #fff;
    cursor: pointer;
}

.search {
    font-size: $f-7;
    padding: $s-2;
    width: 100%;
    border-radius: $border-radius;
    background: $bg-light-grey;
    color: $text-color-grey;
    border: solid 1px #ccc;
    font-weight: $semi-bold;
}

.nav-button {
    height: auto;
    font-weight: 500;
    line-height: 16px;
    margin-top: 3px;
    margin-bottom: 0px;
    min-width: 0px;
    font-size: 13px;
}

.logo {
    text-transform: none;
    font-size: $f-2;
    font-weight: $extra-bold;
    color: $cb-green-color;
    margin-right: $s-4;
    margin-left: $s-4;
}