/**
*   Css properties for top bar
**/

.topbar {
    max-width: 1720px;
    margin: auto;
    height: $topbar-height;
    background-color: #fff;
    cursor: pointer;
}

.search {
    font-size: $f-7;
    padding: $s-2;
    width: 100%;
    border-radius: $border-radius;
    background: $bg-light-grey;
    color: $text-color-grey;
    border: solid 1px #ccc;
    font-weight: $semi-bold;
}

.logo {
    text-transform: none;
    font-size: $f-2;
    font-weight: $extra-bold;
    color: $cb-green-color;
    margin-right: $s-4;
    margin-left: $s-4;
}

.topbar-cta-btn {
    margin: $s-0;
    margin-left: $s-6;
    margin-right: $s-2;
    min-width: $s-0;
    text-transform: none !important;
}

.topbar-cta-text {
    color: $cb-green-color;
    font-weight: $semi-bold;
    font-size: $f-4;
}

.topbar-item {
    max-height: $topbar-height;
    min-width: $s-0;
    text-transform: none !important;
    margin-right: $s-4;
    margin-left: $s-4;
    // Following are based on material design specs
    padding-top: $s-2;
    padding-bottom: $s-2 + 2;
}

.topbar-item-icon {
    margin: $s-0;
    fill: $text-color-grey !important;
    opacity: 0.6;
    height: 24px;
    width: 24px;
    margin-bottom: $s-1 - 2;
}

.topbar-item-text {
    font-size: $f-7;
    color: $text-color-light-grey;
    line-height: $f-7;
}


/**
*   Css properties for bottom bar
*   Refer: https://material.io/guidelines/components/bottom-navigation.html#bottom-navigation-specs
*   for the explaination of the paddings and sizes used.
**/

.bottombar {
    position: fixed;
    bottom: 0px;
    box-shadow: 0px 1px 8px 2px rgba(0, 0, 0, 0.2), 0px 3px 4px 2px rgba(0, 0, 0, 0.14), 0px 3px 3px 2px rgba(0, 0, 0, 0.12);
    height: $bottombar-height;
    padding: $s-0;
    margin: $s-0;
}

.bottombar-item {
    width: 100%;
    height: 100%;
    padding: $s-0;
    margin: $s-0;
    // Following are based on material design specs
    padding-top: $s-2;
    padding-bottom: $s-2 + 2;
}

.bottombar-item-text {
    font-size: $f-7;
    color: $text-color-light-grey;
}

.bottombar-item-icon {
    fill: $text-color-grey !important;
    opacity: 0.6;
    padding: $s-0;
    margin: $s-0;
    // Following are based on material design specs
    margin-bottom: $s-1 - 2;
}

.bottombar-item-user-icon {
    height: 24px;
    width: 24px;
    border-radius: 100px;
    // Following are based on material design specs
    margin-bottom: $s-1 - 2;
}

.active {
    .bottombar-item-icon {
        fill: $cb-green-color !important;
        // Following are based on material design specs
        margin-top: - 2px;
        margin-bottom: $s-1;
    }
    .bottombar-item-text {
        color: $cb-green-color !important;
    }
}


/**
*   CSS properties for sidebar
**/

.sidebar {
    .cb-section-heading {
        margin: $s-4
    }
}

.notif-profile-card {
    padding: $s-4;
    margin: $s-0;
    text-transform: none !important;
    line-height: $s-5;
    cursor: pointer;
    .cb-card-title {
        margin: $s-0;
        padding: $s-0;
    }
    .cb-card-body {
        margin: $s-1 $s-0 $s-0 $s-0 !important;
        padding: $s-0;
    }
    .user-avatar {
        margin-right: $s-4;
    }
}

.notif-error {
    margin-top: $s-10;
    margin-bottom: $s-7;
}

.notif-container {
    height: 100%;
    overflow-x: auto;
}

.notif-item-container {
    margin-bottom: $s-2;
}

.notif-item-icon {
    margin: $s-0 $s-4 $s-0 $s-0 !important;
    padding: $s-0;
    // Setting grey color of icons
    fill: $text-color-grey !important;
    opacity: 0.7;
}

.notif-item-text {
    line-height: normal;
    padding: $s-0;
    color: $text-color-grey;
}

.notif-action-btn {
    margin: $s-0;
    padding: $s-0;
}

.notif-action-btn-text {
    text-align: start;
    text-transform: none !important;
    color: $text-color-light-grey;
}

.notif-action-btn-icon {
    margin: $s-0 $s-4 $s-0 $s-4 !important;
    padding: $s-0;
    font-size: $f-5;
    fill: $text-color-grey !important;
    opacity: 0.6;
}