<div>
    <div  layout="column" ng-repeat="item in creativity.items track by $index" style="padding: 0px">
        <div>
            <div ng-if="item.iframe != '' && item.mediaType == 'embed'">
                <div ng-bind-html="item.embedIframe"></div>
                <center>
                    <span>{{creativity.items[$index].display.title}}</span>
                    <md-button ng-if="item.iframe != '' && item.mediaType == 'embed'" ng-click="removeArticleItem($index)" class="md-button md-warn">
                        <md-icon md-svg-icon="delete"></md-icon>
                        Remove
                    </md-button>
                </center>
            </div>

            <center  ng-if="item.mediaType=='image'" ng-init="item.css={};item.css.push(css);">
                <div layout="row" layout-align="center center" >
                    <img  ng-src="{{item.image}}" />
                    <md-button  ng-if="creativity.items.length > 1" ng-click="removeDrawing($index)" class="md-icon-button md-warn">
                        <md-icon md-svg-icon="close-circle-outline"></md-icon>
                    </md-button>
                </div>
            </center>
        </div>
    </div>
    <div  layout="column">
        <div layout="row" layout-align="space-between center">
            <div layout="row" layout-align="strech center">
                <md-button ngf-select="uploadFiles($files, $invalidFiles)" multiple name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 500, height: 500}" ngf-resize-if="$width > 500 || $height > 500">
                    <md-icon md-svg-icon="laptop"></md-icon>
                    Images
                </md-button>
                <md-button ng-click="activateMediaInput()">
                    <md-icon md-svg-icon="earth"></md-icon>
                    Link
                </md-button>
            </div>
        </div>
        <div layout="row">
            <div flex="100" ng-show="inputActive" layout="row" layout-align="space-between center">
                <form flex="100" ng-submit="addArticleMedia(url)">
                    <md-input-container md-no-float>
                        <md-icon md-svg-icon="link"></md-icon>
                        <input flex md-no-float md-autofocus="" ng-model="url" placeholder="Paste any url here" class=" ng-valid md-autofocus md-input ng-empty ng-touched" aria-label="url" id="input_8" aria-invalid="false">
                        <div class="md-errors-spacer"></div>
                        <span class="md-caption"  ng-hide="error == ''">{{error}}</span>
                    </md-input-container>
                </form>
                <button class="md-primary md-button" flex="20" ng-disabled="url == ''" ng-click="addArticleMedia(url)">Done</button>
            </div>
        </div>
    </div>
</div>
