<div ng-if="isAllowed(allowedArticle,creativity.type)">
    <div  layout="column" ng-repeat="item in creativity.items track by $index" style="padding: 0px">
        <div>
            <div ng-if="item.mediaType == 'embed'">
                <div ng-bind-html="item.embedIframe"></div>
                <center>
                    <span>{{creativity.items[$index].iframely.title}}</span>
                    <md-button ng-click="removeArticleItem($index)" class="md-button md-warn">
                        <md-icon md-svg-icon="delete"></md-icon>
                        Remove
                    </md-button>
                </center>
            </div>

            <center style="margin-top: 40px;" ng-if="item.mediaType=='image'" ng-init="item.css={};item.css.push(css);">
                <div layout="row" layout-align="center center" style="position: relative;background:#fafbfc;max-width: 500px;max-height: 500px;">
                    <img style="max-width: 100%" ng-src="{{item.image}}" />
                    <md-button style="position: absolute;top: 0px;right:0px;color: #fff;text-shadow: 0px 1px 3px black;background-color: white;" ng-if="creativity.items.length > 1" ng-click="removeDrawing($index)" class="md-icon-button md-warn">
                        <md-icon md-svg-icon="close-circle-outline"></md-icon>
                    </md-button>
                </div>
            </center>
        </div>
    </div>
    <div  layout="column">
        <div layout="row" layout-align="space-between center">
            <div layout="row" layout-align="strech center">
                <div style="cursor: pointer;" layout="row" layout-align="strech center" ng-click="showMenu()">
                    <md-button class="md-button" aria-label="Settings">
                        <md-icon md-svg-icon="image-area"></md-icon>
                        Add media
                    </md-button>
                </div>
                <md-button ng-show="addMenu" ngf-select="uploadFiles($files, $invalidFiles)" multiple name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 500, height: 500}" ngf-resize-if="$width > 500 || $height > 500">
                    <md-icon md-svg-icon="laptop"></md-icon>
                    Images
                </md-button>
                <md-button ng-show="addMenu && !inputActive" ng-click="activateMediaInput()">
                    <md-icon md-svg-icon="youtube-play"></md-icon>
                    Video
                </md-button>
                <md-button ng-show="addMenu && !inputActive" ng-click="activateMediaInput()">
                    <md-icon md-svg-icon="soundcloud"></md-icon>
                    Soundcloud
                </md-button>
            </div>
        </div>
        <div layout="row">
            <div flex="100" ng-show="addMenu && inputActive" layout="row" layout-align="space-between center">
                <form flex="100" ng-submit="addArticleMedia(url)">
                    <md-input-container md-no-float style="width:100%">
                        <md-icon md-svg-icon="link"></md-icon>
                        <input flex md-no-float md-autofocus="" ng-model="url" placeholder="Paste the Youtube or Vimeo or Soundcloud url here" class=" ng-valid md-autofocus md-input ng-empty ng-touched" aria-label="url" id="input_8" aria-invalid="false">
                        <div class="md-errors-spacer"></div>
                        <span class="md-caption" style="color:rgb(244, 67, 54);" ng-hide="error == ''">{{error}}</span>
                    </md-input-container>
                </form>
                <button class="md-primary md-button" flex="20" ng-disabled="url == ''" ng-click="addArticleMedia(url)">Done</button>
            </div>
        </div>
    </div>
</div>
