<div ng-if="isAllowed(allowedDance,creativity.type)">
    <div layout="column" ng-repeat="item in creativity.items track by $index" style="padding: 0px">
        <div ng-if="item.iframe != '' && item.mediaType == 'embed'">
            <div ng-bind-html="item.embedIframe"></div>
        </div>
    </div>
    <div layout="column">
        <center ng-show="videoAdded">
            <span>{{creativity.items[1].iframely.title}}</span>
            <md-button ng-click="removeDance()" class="md-button md-warn">
                <md-icon md-svg-icon="delete"></md-icon>
                Remove
            </md-button>
        </center>
        <div ng-hide="videoAdded" layout="row" layout-align="space-between center">
            <form flex="100" ng-submit="addDanceVideo(url)">
                <md-input-container md-no-float style="width:100%">
                    <md-icon md-svg-icon="human-handsup"></md-icon>
                    <input flex md-no-float md-autofocus="" ng-model="url" placeholder="Paste your dance video url here !" class=" ng-valid md-autofocus md-input ng-empty ng-touched" aria-label="url" id="input_8" aria-invalid="false">
                    <div class="md-errors-spacer"></div>
                    <span class="md-caption" style="color:rgb(244, 67, 54);" ng-hide="error == ''">{{error}}</span>
                </md-input-container>
            </form>
            <button class="md-primary md-button" flex="20" ng-disabled="url == ''" ng-click="addDanceVideo(url)" style="margin-bottom: 34px;">Done</button>
        </div>
    </div>
</div>
