<div ng-if="isAllowed(allowedDrawing, creativity.type)">
    <div flex-offset-gt-sm="10" layout="column" ng-repeat="item in creativity.items track by $index" style="padding: 0px">
        <div layout="column">
            <center style="margin-top: 40px;" ng-if="item.mediaType=='image'">
                <div layout="row" layout-align="center center" style="position: relative;background:#fafbfc;max-width: 500px;max-height: 500px;">
                    <!-- <img style="max-width: 100%" ngf-thumbnail="item.image" /> -->
                    <img style="max-width: 100%" ng-src = "{{item.image}}" />
                    <md-button style="position: absolute;top: 0px;right:0px;color: #fff;text-shadow: 0px 1px 3px black;" ng-if="creativity.items.length > 1" ng-click="removeItem($index)" class="md-icon-button md-warn">
                        <md-icon md-svg-icon="close-circle-outline"></md-icon>
                    </md-button>
                </div>
            </center>
        </div>
    </div>
    <div flex-offset-gt-sm="10" layout="column">
        <div layout="row" layout-align="strech center">
            <div layout="row" layout-align="strech center" ng-click="addMenu=!addMenu">
                <md-button class="md-icon-button" aria-label="Settings">
                    <md-icon md-svg-icon="shape-plus"></md-icon>
                    <md-tooltip md-direction="left">Add media</md-tooltip>
                </md-button>
                <span>Add media</span>
            </div>
            <md-button ng-show="addMenu" flex="20" ngf-select="uploadFiles($files, $invalidFiles)" multiple name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 500, height: 500}" ngf-resize-if="$width > 500 || $height > 500">
                Image
            </md-button>
            <md-button flex="20" ng-show="addMenu" ng-click="instagram()">
                <md-icon md-svg-icon="instagram"></md-icon>
                Instagram
            </md-button>
        </div>
    </div>
</div>
