<div>
    <div layout="column" ng-repeat="item in creativity.items track by $index" style="padding: 0px">
        <div layout="column">
            <center style="margin-top: 40px;" ng-if="item.mediaType=='image'">
                <div layout="row" layout-align="center center" style="position: relative;background:#fafbfc;max-width: 500px;max-height: 500px;">
                    <!-- <img style="max-width: 100%" ngf-thumbnail="item.image" /> -->
                    <img style="max-width: 100%" ng-style="css" ng-src="{{item.image}}" />
                    <md-button style="position: absolute;top: 0px;right:0px;color: #fff;text-shadow: 0px 1px 3px black;background-color: white;" ng-if="creativity.items.length > 1" ng-click="removeDrawing($index)" class="md-icon-button md-warn">
                        <md-icon md-svg-icon="close-circle-outline"></md-icon>
                    </md-button>
                    <md-button ng-if="creativity.items.length > 1" ng-click="filterToggle()" class="md-icon-button md-warn" style="position: absolute;top: 0px;right:50px;color: #fff;text-shadow: 0px 1px 3px black;background-color: white;">
                        <md-icon md-svg-icon="filter"></md-icon>
                    </md-button>
                </div>
                <md-card ng-cloak ng-if="creativity.items.length > 1" ng-show="filterVisible" style="max-width: 500px;max-height: 210px">
                    <md-content layout="row" layout-padding>
                        <md-slider-container flex="20">
                            <md-slider md-discrete ng-model="filter.brightness" min="50" max="200" aria-label="bass" class="md-primary" md-vertical></md-slider>
                            </md-slider>
                            <h5>Brightness</h5>
                        </md-slider-container>
                        <md-slider-container flex="20">
                            <md-slider md-discrete ng-model="filter.contrast" min="0" max="100" aria-label="bass" class="md-primary" md-vertical></md-slider>
                            </md-slider>
                            <h5>Contrast</h5>
                        </md-slider-container>
                        <md-slider-container flex="20">
                            <md-slider flex ng-model="filter.saturation" md-discrete min="50" max="200" aria-label="Master" md-vertical ng-readonly="readonly"></md-slider>
                            <h5>Saturation</h5>
                        </md-slider-container>
                        <md-divider></md-divider>
                        <div flex>
                            <div style="margin-bottom: 16px;margin-top: 8px;">Rotation</div>
                            <md-radio-group ng-model="filter.rotate">
                                <md-radio-button value="0">0 Deg</md-radio-button>
                                <md-radio-button value="90">90 Deg </md-radio-button>
                                <md-radio-button value="180">180 Deg</md-radio-button>
                                <md-radio-button value="270">270 Deg</md-radio-button>
                            </md-radio-group>
                        </div>
                    </md-content>
                </md-card>
            </center>
            <div ng-if="item.iframe != '' && item.mediaType == 'embed'">
                <div ng-bind-html="item.embedIframe"></div>
                <center>
                    <span>{{creativity.items[$index].display.title}}</span>
                    <md-button ng-if="item.iframe != '' && item.mediaType == 'embed'" ng-click="removeDrawing($index)" class="md-button md-warn">
                        <md-icon md-svg-icon="delete"></md-icon>
                        Remove
                    </md-button>
                </center>
            </div>
        </div>
    </div>
    <div layout="column">
        <div layout="row" layout-align="strech center">
            <md-button ngf-select="uploadFiles($files, $invalidFiles)" multiple name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 500, height: 500}" ngf-resize-if="$width > 500 || $height > 500">
                <md-icon md-svg-icon="laptop"></md-icon>
                Upload
            </md-button>
            <md-button ng-show="!inputActive" ng-click="activateInput()">
                <md-icon md-svg-icon="instagram"></md-icon>
                Instagram
            </md-button>
        </div>
        <div flex="100" ng-show="inputActive" layout="row" layout-align="space-between center">
            <form flex="100" ng-submit="addInstagram(url)">
                <md-input-container md-no-float style="width:100%;margin-bottom: -3px;">
                    <input flex md-no-float md-autofocus="" ng-model="url" placeholder="Paste Instagram image url here!" class=" ng-valid md-autofocus md-input ng-empty ng-touched" aria-label="url" id="input_8" aria-invalid="false">
                    <div class="md-errors-spacer"></div>
                    <span class="md-caption" style="color:rgb(244, 67, 54);" ng-hide="error == ''">{{error}}</span>
                </md-input-container>
            </form>
            <button class="md-primary md-button" flex="20" ng-disabled="url == ''" ng-click="addInstagram(url)">Done</button>
        </div>
    </div>
</div>
