<div>
    <div  layout="column" ng-repeat="item in creativity.items" style="padding: 0px">
        <div>
            <div ng-if="item.embed.iframe != '' && item.mediaType == 'embed'">
                <div ng-bind-html="item.embedIframe"></div>
            </div>
        </div>
    </div>
    <div  layout="column">
        <center ng-show="musicAdded">
            <span>{{creativity.items[1].display.title}}</span>
            <md-button ng-click="removeMusic()" class="md-button md-warn">
                <md-icon md-svg-icon="delete"></md-icon>
                Remove
            </md-button>
        </center>
        <div ng-hide="musicAdded" layout="row" layout-align="space-between center">
            <form flex="100" ng-submit="addMusic(url)">
                <md-input-container md-no-float style="width:100%">
                    <md-icon md-svg-icon="music-circle"></md-icon>
                    <input flex md-no-float md-autofocus="" ng-model="url" placeholder="Paste Youtube, Soundcloud or Vimeo url here" class=" ng-valid md-autofocus md-input ng-empty ng-touched" aria-label="url" id="input_8" aria-invalid="false">
                    <div class="md-errors-spacer"></div>
                    <span class="md-caption" style="color:rgb(244, 67, 54);" ng-hide="error == ''">{{error}}</span>
                </md-input-container>
            </form>
            <button class="md-primary md-button" flex="20" ng-disabled="url == ''" ng-click="addMusic(url)" style="margin-bottom: 34px;">Done</button>
        </div>
    </div>
</div>
