<div>
    <div layout-gt-xs="row" ng-hide="progress<1">
        <div flex-gt-sm="80" layout="column">
            <p class="md-display-1 creativity-title" style="outline: none; margin: 0px; font-size:40px;" bind-options="{disableReturn: true, disableExtraSpaces: true, 'toolbar': {'buttons': [ 'italic', 'underline']}}" ng-model="title" style="display: inline; margin: 0px" medium-editor data-placeholder="Title"></p>
        </div>
    </div>
    <add-dance ng-if="isAllowed(allowedDance,creativity.type)"></add-dance>
    <add-music ng-if="isAllowed(allowedMusic,creativity.type)" ></add-music>
    <add-drawing ng-if="isAllowed(allowedDrawing,creativity.type)" ></add-drawing>
    <add-article ng-if="isAllowed(allowedArticle,creativity.type)" ></add-article>
    <add-website ng-if="isAllowed(allowedWebsite,creativity.type)" ></add-website>
    <add-uiux ng-if="isAllowed(alloweduiux,creativity.type)" ></add-uiux>
</div>
