<div>
    <div layout-gt-xs="row" ng-hide="progress<1">
        <md-button ng-show="coverStatus" ng-click="removeCover()" class="md-icon-button" flex="5">
            <md-icon md-svg-icon="close-circle"></md-icon>
            <md-tooltip md-direction="left">Remove Cover</md-tooltip>
        </md-button>
        <div flex-gt-sm="80" layout="column">
            <p class="md-display-1" style="outline: none; margin: 0px" bind-options="{disableReturn: true, disableExtraSpaces: true, 'toolbar': {'buttons': [ 'italic', 'underline']}}" ng-model="title" style="display: inline; margin: 0px" medium-editor data-placeholder="Title"></p>
        </div>
    </div>
    <img style="padding: 0;width: 100%" ngf-thumbnail="item.image" ng-repeat="item in creativity.items" ng-if="(item.mediaType=='cover')" />
    <div ng-show="(item.embedUrl.description.length>50)">
        <md-button class="md-primary" layout="row" flex ngf-select="uploadCover($file)" ng-model="file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB" ngf-min-height="100" ngf-resize="{width: 1024, height: 800}">
            <md-icon md-svg-icon="image-area"></md-icon>
            {{coverStatus?"Edit":"Add"}} cover picture to your Article
        </md-button>
        <span>Adding a cover helps people help discover content better. <a target="_blank" href="http://unsplash.com"></a></span>
    </div>
    <center ng-repeat="item in creativity.items" style="padding: 0px">
        <iframe ng-if="item.mediaType == 'youtube'" width="560" height="315" ng-src="{{item.embedUrlIframe}}" frameborder="0" allowfullscreen></iframe>
        <iframe ng-if="item.mediaType == 'vimeo'" width="640" height="360" src="{{item.embedUrlIframe}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <iframe class="iframeIsFocused" ng-show="item.mediaType == 'soundcloud'" id="sc-widget" width="100%" height="162px" scrolling="no" frameborder="no" ng-src="{{item.embedUrlIframe}}"></iframe>
        <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
    </center>
    <div layout="row" layout-align="strech center" style="z-index: -1;margin-bottom: 120px;">
        <div class="md-dialog-content-body">
            <md-input-container md-no-float style="width:100%">
                <label>Paste the URL to the content here</label>
                <input flex md-autofocus="" ng-model="url" placeholder="http://" class=" ng-valid md-autofocus md-input ng-empty ng-touched" aria-label="url" id="input_8" aria-invalid="false">
                <div class="md-errors-spacer"></div>
                <span class="md-caption" style="color:rgb(244, 67, 54);" ng-hide="error == ''">{{error}}</span>
            </md-input-container>
        </div>
        <button class="md-primary md-button" ng-disabled="url == ''" ng-click="addItem(url, 'Soundcloud')">Add Link</button>
    </div>
    <md-button ng-show="!coverStatus" class="md-icon-button" flex-gt-xs="5" ngf-select="uploadCover($file)" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="100MB" ngf-min-height="300" ngf-min-width="400" ngf-resize="{width: 1000, height: 800}" ngf-resize-if="$width > 1000 || $height > 800">
        <md-icon md-svg-icon="image-area"></md-icon>
        <md-tooltip md-direction="left">Add Cover</md-tooltip>
    </md-button>
    <div layout="row" layout-align="strech center" style="z-index: -1;">
        <div layout="row" layout-align="strech center" ng-click="addMenu=!addMenu" ng-hide="progress<1">
            <md-button class="md-icon-button" aria-label="Settings">
                <md-icon md-svg-icon="shape-plus"></md-icon>
                <md-tooltip md-direction="left">Add media</md-tooltip>
            </md-button>
            <span>Add media</span>
        </div>
        <md-button ng-show="addMenu" flex="20" ngf-select="uploadFiles($files, $invalidFiles)" multiple name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="10MB" ngf-min-height="100" ngf-resize="{width: 500, height: 500}" ngf-resize-if="$width > 500 || $height > 500">
            <p>Image</p>
        </md-button>
        <md-button flex="20" ng-show="addMenu" ng-click="addItem(content.title)" ng-repeat="content in contents">
            <p>{{content.title}}</p>
        </md-button>
    </div>
</div>
