<div layout="column" layout-align="start center" flex="25" ng-class="{active: (currentState=='home.dashboard' || currentState=='home.creativity')}" ui-sref="home.dashboard" class="bottombar-item">
    <md-icon class="bottombar-item-icon" md-svg-icon="home"></md-icon>
    <p class="bottombar-item-text">Home</p>
</div>
<div layout="column" layout-align="start center" flex="25" ng-class="{active: (currentState=='home.searchAll' || currentState=='home.searchCreativity' || currentState=='home.searchStudents')}" ui-sref="home.searchAll" class="bottombar-item">
    <md-icon class="bottombar-item-icon" md-svg-icon="magnify"></md-icon>
    <p class="bottombar-item-text">Search</p>
</div>
<div layout="column" layout-align="start center" flex="25" ng-class="{active: (currentState == 'home.addCreativity')}" ui-sref="home.addCreativity" class="bottombar-item">
    <md-icon class="bottombar-item-icon" md-svg-icon="plus"></md-icon>
    <p class="bottombar-item-text">Add</p>
</div>
<div ng-if="authenticated" layout="column" layout-align="start center" flex="25" ng-click="vm.toggleRightSidebar()" class="bottombar-item">
    <img class="bottombar-item-user-icon" ng-src="{{user.image}}">
    <p class="bottombar-item-text">Me</p>
</div>
<div ng-if="!authenticated" layout="column" layout-align="start center" flex="25" ng-click="openLoginDialog()" class="bottombar-item">
    <md-icon class="bottombar-item-icon" md-svg-icon="account"></md-icon>
    <p class="bottombar-item-text">Login</p>
</div>