<div class="sidebar" layout="column" layout-fill flex>
    <md-button class="notif-profile-card" ng-class="" layout="row" layout-align="start center" ui-sref="home.myProfile({tab: 'profile'})" ng-click="vm.toggleRightSidebar()">
        <img ng-src="{{user.image}}" class="user-avatar" alt="{{user.name}}" />
        <div layout="column">
            <p class="cb-card-title">{{user.name}}</p>
            <p class="cb-card-body">View profile</p>
        </div>
    </md-button>
    <p class="cb-section-heading">Notifications</p>
    <md-divider></md-divider>
    <div class="notif-container" flex>
        <md-list ng-if="notifications.length>0">
            <md-list-item class="notif-item-container" ng-repeat="notification in notifications" ng-click="NotificationItemClicked(notification)">
                <!--Follower notification  -->
                <md-icon class="notif-item-icon" ng-if="notification.type=='follower'" md-svg-icon="account"></md-icon>
                <p class="notif-item-text" ng-if="notification.type=='follower'">{{notification.follower_username}} started following you.</p>
                <!--Content appreciate notification  -->
                <md-icon class="notif-item-icon" ng-if="notification.type=='content_appreciate'" md-svg-icon="all-inclusive"></md-icon>
                <p class="notif-item-text" ng-if="notification.type=='content_appreciate'">{{notification.total}} {{(notification.total>1)?'people have':'person has'}} appreciated your creativity.</p>
            </md-list-item>
        </md-list>
        <div class="notif-error" ng-if="notifications.length<1" layout="column" layout-align="start center">
            <md-icon class="cb-grey-fill" md-svg-icon="bell-ring"></md-icon>
            <p class="cb-grey-text">No new notification.</p>
        </div>
    </div>
    
    <md-divider></md-divider>
    <md-button class="notif-action-btn" layout="row" layout-align="start center" ng-click="logout();vm.toggleRightSidebar()">
        <md-icon class="notif-action-btn-icon" md-svg-icon="logout-variant"></md-icon>
        <p class="notif-action-btn-text" flex>Sign Out</p>
    </md-button>
</div>