<div flex layout="row" layout-align="center center">
    <p class="logo" ui-sref="home.creativity"> Campusbox</p>
    <form flex="45" ng-submit="searchedFast(searchText)">
        <input class="search" type="text" name="searchText" placeholder="Search Campusbox">
    </form>
    <div flex></div>
    <md-button layout="row" class="topbar-cta-btn" ng-click="authenticated?gotoState('addCreativity'):openLoginDialog()">
        <p class="topbar-cta-text">Add new content</p>
    </md-button>
    <div layout="column" ng-if="authenticated" class="topbar-item" layout-align="start center" aria-label="Notifications" ng-click="vm.toggleRightSidebar()">
        <md-icon class="topbar-item-icon" md-svg-icon="bell"></md-icon>
        <p class="topbar-item-text">Notifications</p>
    </div>
    <div ng-if="!authenticated" class="topbar-item" layout-align="start center" ng-click="openLoginDialog()">
        <md-icon class="topbar-item-icon" md-svg-icon="account"></md-icon>
        <p class="topbar-item-text">Login</p>
    </div>

</div>