<md-card class="content-card" flex-lg="30" flex-md="45" flex-sm="45" flex="100">
    <md-card-header>
        <md-card-avatar style="background: #f6f7f8">
            <img class="md-user-avatar" />
        </md-card-avatar>
        <md-card-header-text>
            <span style="width: 30%" class=" animated-background">Anything here  </span>
        </md-card-header-text>
    </md-card-header>
    <span class="md-headline animated-background" flex="90" flex-offset="10" style="padding: 40px; margin-bottom: 50px">and again</span>
</md-card>
