<md-card-header layout="row" layout-align="start center">
    <md-card-avatar style="margin-left: 0px;margin-right:5px;">
        <img class="md-user-avatar" ui-sref="home.profile({username: content.owner.username})" ng-src="{{content.owner.photo}}" />
    </md-card-avatar>
    <md-card-header-text ui-sref="home.singleContent({contentId: content.id})" class="" style="cursor: pointer">
        <span class="md-caption "><span class="capitalize blue_text"  ng-click="openProfile($event, content.owner.username);" >{{content.owner.name}} </span><span class="blue_text"> <span style="color: rgba(99,108,116,0.87);"><br> in</span> {{content.content_type?typesByID[content.content_type]:"Unknown"}} </span>
        </span>
    </md-card-header-text>
    <div layout="row" layout-align="start center" flex="50">
        <md-button class="appreciate-button md-icon-button" style="text-transform: capitalize;" ng-click="heart(content)" aria-label="Favorite" title="Recommend to share this article with your followers and let the author know you liked it">
            <md-icon class="pink" md-svg-icon="{{content.Actions.Appreciate.status? 'heart' : 'heart-outline' }}"></md-icon>
        </md-button>
        <span ng-click="showLikes(content.id, content.title)" style="cursor: pointer;" class="likesNumber"> {{content.Actions.Appreciate.total}}</span>
        <md-button class="md-icon-button" ng-controller="ShareController" ng-click="showCustom($event,'creativity',content.id)" aria-label="share ">
            <md-icon ng-class="" md-svg-icon="share"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="bookmark(content)" aria-label="Favorite">
            <md-icon ng-class="content.Actions.Bookmarked.status? 'grey':''" md-svg-icon="{{content.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
        </md-button>
    </div>
</md-card-header>
