<div class="creativity-card-actions" layout="row" layout-align="stretch center">
    <div layout="row" flex="50">
        <a ui-sref="home.profile({username: content.owner.username})">
            <img class="user-avatar" ng-src="{{content.owner.photo}}" />
        </a>
        <div layout="column" ui-sref="home.singleContent({contentId: content.id})">
            <p class="cb-caption-clickable" ng-click="openProfile($event, content.owner.username);">{{content.owner.name}} </p>
            <div layout="row" ng-show="showcategory">
                <p class="cb-caption-text">in&nbsp;&nbsp;</p>
                <p class="cb-caption-clickable">{{content.content_type?typesByID[content.content_type - 1]:"Unknown"}}</p>
            </div>
        </div>
    </div>
    <div layout="row" layout-align="start center" flex="50" ng-show="actions">
        <md-button class="cb-icon-button" ng-click="heart(content)" aria-label="Favorite" title="Recommend to share this article with your followers and let the author know you liked it">
            <md-icon class="cb-red-fill" md-svg-icon="{{content.actions.appreciate.status? 'heart' : 'heart-outline' }}"></md-icon>
        </md-button>
        <p ng-click="showLikes(content.id, content.title)" class="likesNumber">
            {{content.Actions.Appreciate.total}}</p>
        <md-button class="cb-icon-button" ng-controller="ShareController" ng-click="showCustom($event,'creativity',content.id)" aria-label="share ">
            <md-icon md-svg-icon="../../../../assets/svg/share-outline.svg"></md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="bookmark(content)" aria-label="Favorite">
            <md-icon ng-class="content.actions.bookmarks.status? 'cb-grey-fill':''" md-svg-icon="{{content.actions.bookmarks.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
        </md-button>
    </div>
</div>