function() {
    "use strict";
    angular.module("app").service("secretServices", function() { this.getGClientSecret = "kTeSyjAJoahjIOkWL-OIFVgP", this.getGClientId = "702228530885-vi264d7g6v5ivbcmebjfpomr0hmliomd.apps.googleusercontent.com" })
}();
