<md-dialog aria-label="Dog name" ng-class="dialog.css" class="_md md-default-theme md-transition-in" flex-gt-sm="40" role="dialog">
    <md-dialog-content class="md-dialog-content" r>
        <h2 class="md-heading ">Editing your creative content</h2>
        <div class="md-dialog-content-body">
            <p>You can style any text in the content by simply selecting the text you want to style.</p>
            <center>
                <img ng-src="assets/images/editing.png">
            </center>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button class="md-primary md-button " ng-click="dc.closeDialog();">Okay</button>
    </md-dialog-actions>
</md-dialog>
