<md-dialog aria-label="Dog name" ng-class="dialog.css" class="_md md-default-theme md-transition-in" flex-gt-sm="40" role="dialog">
    <md-dialog-content class="md-dialog-content" >
    <center>
        
        <h2 class=" ">Editing your creativity</h2>
        <div >
            <p >You can style any text in the content by simply selecting the text you want to style.</p>
            <center>
                <img ng-src="assets/images/editing.gif" style="max-width: 100%;border-color: #ccc;border-radius: 6px; border-style: solid;">
            </center>
        </div>
    </center>
    </md-dialog-content>
    <md-dialog-actions>
        <button class="md-primary md-button " ng-click="cancel();">Okay</button>
    </md-dialog-actions>
</md-dialog>
