<style type="text/css" media="screen">
/*
Optional adjustments for md-autocomplete in mobile screens
*/

#place-autocomplete > md-autocomplete md-input-container {
    margin-top: -10px;
}


/*Media query for tablets and above */

@media screen and (min-width: 480px) {
    #place-autocomplete > md-autocomplete md-input-container {
        padding-bottom: 0;
    }
}


/*image upload start*/

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 500px;
    height: 350px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}


/*image upload end*/
</style>
<md-dialog style="min-width:80%">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Event</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="window-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <md-tabs md-dynamic-height md-border-bottom="" md-selected="selectedIndex">
                <md-tab label="Basic Details">
                    <md-content class="md-padding">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Title</label>
                                <input type="text" ng-model="vm.event.name">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Ticket Price</label>
                                <input type="number" ng-model="vm.event.price">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label> Online link to the event?</label>
                                <input type="text" ng-model="vm.event.online">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <!--  <md-input-container class="md-block" flex-gt-sm>
                                <label>Venue</label>
                                <input type="text" ng-model="vm.event.venue">
                            </md-input-container> -->
                            <!-- <form id="form" role="form">
                                <md-input-container>
                                    <label for="Autocomplete">Generic Autocomplete</label>
                                    <input type="text" id="Autocomplete" class="form-control" ng-autocomplete="result1" details="details1" options="options1" />
                                </md-input-container>
                            </form> -->
                            <md-input-container>
                                <p>Start typing the name of a place/location below</p>
                                <div class="md-padding">
                                    <place-autocomplete ng-model="location"></place-autocomplete>
                                    <div ng-if="location.name">
                                        <h4>Selected location</h4>
                                        <pre>{{location|json}}</pre>
                                    </div>
                                </div>
                            </md-input-container>
                        </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Description</label>
                            <textarea ng-model="vm.event.description" md-maxlength="150" rows="4" md-select-on-focus></textarea>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="Additional Details">
                    <md-content class="md-padding">
                        <div layout-gt-sm="row" flex>
                            <md-input-container class="md-block">
                                <label>From Date</label>
                                <md-datepicker ng-model="vm.event.fromDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Start Time</label>
                                <md-select ng-model="vm.event.fromTime" placeholder="Start Time">
                                    <md-option ng-value="startTime" ng-repeat="startTime in ['12', '11', '10']">{{startTime}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex-gt-sm>
                                <label>Am/Pm</label>
                                <md-select ng-model="vm.event.fromZone">
                                    <md-option ng-value="fromZone" ng-repeat="fromZone in ['Am', 'Pm']">{{fromZone}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>To Date</label>
                                <md-datepicker ng-model="vm.event.toDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>End Time</label>
                                <md-select ng-model="vm.event.toTime" placeholder="End Time">
                                    <md-option ng-value="endTime" ng-repeat="endTime in ['12', '11', '10']">{{endTime}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container flex-gt-sm>
                                <label>Am/Pm</label>
                                <md-select ng-model="vm.event.toZone">
                                    <md-option ng-value="toZone" ng-repeat="toZone in ['Am', 'Pm']">{{toZone}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row" flex>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Event Category</label>
                                <md-select ng-model="vm.event.category" placeholder="Event Category">
                                    <md-option ng-value="category" ng-repeat="category in ['cultural', 'technical', 'Seminar or Talk']">{{category}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Event Topic</label>
                                <md-select ng-model="vm.event.topic">
                                    <md-option ng-value="topic" ng-repeat="topic in ['Science And Technology', 'Music', 'Hobies and Special Intrest', 'Sports']">{{topic}}</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Who is orgainizing the event ?</label>
                                <input type="text" ng-model="vm.event.organizer">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Online Link to the organizer</label>
                                <input type="text" ng-model="vm.event.onlineOrganizer">
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Poster">
                    <form name="myForm">
                        <md-button class="md-primary" ngf-select ng-model="picFile" accept="image/*">
                            Select Picture</md-button>
                        <div layout="row">
                            <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
                                <img-crop image="picFile  | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''" area-type="square">
                                </img-crop>
                            </div>
                            <div class="md-padding">
                                <img ng-src="{{croppedDataUrl}}" />
                            </div>
                        </div>
                        <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>
                        <span class="progress" ng-show="progress >= 0">
                      <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                    </span>
                        <span ng-show="result">Upload Successful</span>
                        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </form>
                </md-tab>
            </md-tabs>
            <md-dialog-actions layout="row">
                <span flex></span>
                <md-button ng-click="con(vm.event)">
                    Create
                </md-button>
                <md-button class="md-raised md-primary" ng-if="selectedIndex == 0" ng-click="selectedIndex = selectedIndex + 1">Next</md-button>
            </md-dialog-actions>
        </md-dialog-content>
    </form>
</md-dialog>
