<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Update</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
           
        </md-dialog-content>
        <md-dialog-actions layout="row">
            
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Update
            </md-button>
            <md-button ng-click="answer('useful')">
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
