<md-dialog aria-label="Mango (Fruit)" style="min-width:80%">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Profile</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="window-close" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <!-- <md-dialog-content> -->
        <!-- <md-tabs md-dynamic-height md-border-bottom="" md-selected="selectedIndex">
                <md-tab label="Basic Details">
                    <md-content class="md-padding">
                        <md-input-container class="md-block">
                            <label>Title</label>
                            <input type="text" ng-model="vm.event.title">
                        </md-input-container>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div> -->
        <md-content class="md-no-momentum">
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Basic Details">
                    <md-content class="md-padding">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                                <label>Name</label>
                                <md-icon md-svg-icon="account"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                                <label>Email</label>
                                <md-icon md-svg-icon="email"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                                <label>Phone</label>
                                <md-icon md-svg-icon="phone"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-icon-float md-block" flat-gt-sm>
                                <label>Gender</label>
                                <md-icon md-svg-icon="gender-male-female"></md-icon>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="gender in ['male', 'female']" ng-value="gender">
                                        {{gender}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block" flat-gt-sm>
                                <md-datepicker ng-model="ctrl.myDate" md-current-view="year" md-placeholder="Date of Birth"></md-datepicker>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Social Links">
                    <md-content class="md-padding">
                        <md-input-container>
                            <label>Facebook</label>
                            <md-icon md-svg-icon="facebook"></md-icon>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Instagram</label>
                            <md-icon md-svg-icon="instagram"></md-icon>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Twitter</label>
                            <md-icon md-svg-icon="twitter"></md-icon>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Snapchat</label>
                            <md-icon md-svg-icon="snapchat"></md-icon>
                            <input>
                        </md-input-container>
                        <br>
                        <md-input-container>
                            <label>Linkedin</label>
                            <md-icon md-svg-icon="linkedin"></md-icon>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Github</label>
                            <md-icon md-svg-icon="github-fac" e></md-icon>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Behance</label>
                            <md-icon md-svg-icon="behance"></md-icon>
                            <input>
                        </md-input-container>
                        <br>
                        <md-input-container>
                            <label>Youtube</label>
                            <md-icon md-svg-icon="youtube-play"></md-icon>
                            <input>
                        </md-input-container>
                        <md-input-container>
                            <label>Soundcloud</label>
                            <md-icon md-svg-icon="soundcloud"></md-icon>
                            <input>
                        </md-input-container>
                    </md-content>
                </md-tab>
                <md-tab label="College Details">
                    <md-content class="md-padding">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Roll Number</label>
                                <md-icon md-svg-icon="numeric"></md-icon>
                                <input ng-model="user.city">
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>College</label>
                                <md-icon md-svg-icon="domain"></md-icon>
                                <md-select ng-model="user.state">
                                    <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                                        {{state.abbrev}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row">
                            <md-input-container class="md-icon-float md-block">
                                <label>Graduation</label>
                                <md-icon md-svg-icon="account"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>Branch</label>
                                <md-icon md-svg-icon="account"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block">
                                <label>Passout year</label>
                                <md-icon md-svg-icon="account"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Hostel Details">
                    <md-content class="md-padding">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                                <label>Hostel</label>
                                <md-icon md-svg-icon="home-modern"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                            <md-input-container class="md-icon-float md-block" flex-gt-sm>
                                <label>Room Number</label>
                                <md-icon md-svg-icon="hotel"></md-icon>
                                <input ng-model="user.name" type="text">
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="Skills and Talent">
                    <md-content class="md-padding">
                        <md-card>
                            <md-toolbar class="md-hue-4">
                                <div class="md-toolbar-tools">
                                    <h2 flex md-truncate>Intermediate Skills</h2>
                                    <md-button class="md-icon-button" aria-label="More" ng-click="vm.editable()">
                                        <md-icon md-svg-icon="pencil"></md-icon>
                                    </md-button>
                                </div>
                            </md-toolbar>
                            <md-chips ng-model="vm.selectedVegetables" md-autocomplete-snap md-transform-chip="vm.transformChip($chip)" md-require-match="vm.autocompleteDemoRequireMatch" readonly="vm.readonly" md-removable="vm.removable">
                                <md-autocomplete md-selected-item="vm.selectedItem" md-search-text="vm.searchText" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.name" placeholder="Add a new skill">
                                    <span md-highlight-text="vm.searchText">{{item.name}} :: {{item.type}}</span>
                                </md-autocomplete>
                                <md-chip-template>
                                    <span>
                              <strong>{{$chip.name}}</strong>
                              <em>({{$chip.type}})</em>
                          </span>
                                </md-chip-template>
                            </md-chips>
                            <br/>
                            </md-card-content>
                        </md-card>
                    </md-content>
                </md-tab>
        </md-content>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button href="http://en.wikipedia.org/wiki/Mango" target="_blank" md-autofocus>
                Show more
            </md-button>
            <span flex></span>
            <md-button ng-click="answer('not useful')">
                Create
            </md-button>
            <md-button class="md-raised md-primary" ng-click="nextTab()">Next</md-button>
            <!-- </md-dialog-actions> -->
    </form>
</md-dialog>
