<md-dialog aria-label="Participants for ">
    <div class="table-responsive-vertical md-whiteframe-z1">
    <table id="table" class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Update Title</th>
                <th>Details</th>
                <th>Time Stamp</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="update in vm.tableData track by $index">
                <td data-title="ID">{{$index + 1}}</td>
                <td data-title="Issue">{{update.title}}</td>
                <td data-title="Status">{{update.content}}</td>
                <td data-title="Status">{{update.time}}</td>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</md-dialog>
