<md-dialog style="" >
    <md-toolbar>
      <div class="md-toolbar-tools" style="background-color: #0570c0;">
        <h2>Confirm</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog()">
          <md-icon md-svg-src="close" style="fill:white;" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content layout="row" class="md-padding">
    <div ng-controller="SelectLicenseController" class="md-padding" ng-cloak>
  <div>
    <h1 class="md-title">License</h1>
    <div layout="row">
      <md-input-container>
        <label>License</label>
        <md-select ng-model="selectedLicenses" multiple>
            <md-option ng-value="licenses.name" ng-repeat="License in licenses">{{licenses.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>
       <md-button flex="15" class="md-icon-button" ng-click="publish()"  aria-label=" Post">
                <md-icon ng-class=""  md-svg-icon="twitter"></md-icon>
            </md-button>
    </div>
    <p ng-if="selectedLicenses">
    {{printSelectedLicenses()}}.</p>
  </div>
</div>
           

    </md-dialog-content>

</md-dialog>
