<div ng-controller="SearchController as vm">
    <md-content class="md-padding">
        <md-autocomplete placeholder="Search country" md-selected-item="vm.selectedCountry" md-search-text="vm.searchText" md-no-cache="vm.disableCaching" md-items="item in vm.querySearch(vm.searchText)" md-item-text="item.display">
            <span md-highlight-text="vm.searchText">{{item.display}}</span>
        </md-autocomplete>
        <md-button class="md-raised md-warn" ng-click="var=1;">
            Filter
        </md-button>
    <div ng-controller="ControlPanelController as vm" class="md-padding"  ng-show="(var==1)" >
        <md-progress-linear class="widget-progress md-accent" md-mode="determinate" value="{{vm.determinateValue}}" ng-show="vm.showProgress">
        </md-progress-linear>
        <md-radio-group ng-model="vm.reloadServer">
            <md-radio-button class="md-accent" value="Staging">Student</md-radio-button>
            <md-radio-button class="md-accent" value="Production">Event</md-radio-button>
        </md-radio-group>
        <!-- <md-button class="md-raised md-warn" ng-click="vm.performProgress()">
            Reload server
        </md-button> -->
    </div>
    </md-content>
</div>
