<md-dialog style="" >
    <md-content class="md-padding" ng-controller="ShareController">
            <md-button class="md-icon-button" ng-click="" socialshare socialshare-provider="facebook" socialshare-title="{{content.title}}" socialshare-hashtags="campusbox" socialshare-url="{{$location.absUrl()}}" aria-label="facebook ">
                <md-icon ng-class=""  md-svg-icon="facebook"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="" socialshare socialshare-provider="twitter" socialshare-url="{{$location.absUrl()}}" aria-label="twitter ">
                <md-icon ng-class=""  md-svg-icon="twitter"></md-icon>
            </md-button>
    </md-content>
</md-dialog>
