<md-dialog style="" >
    <md-dialog-content class="md-padding">
            <md-button class="md-icon-button" ng-click="" socialshare socialshare-provider="facebook" socialshare-hashtags="campusbox" socialshare-url="{{type==='event'?shareUrl+event.id:shareUrl+content.id}}" aria-label="facebook ">
                <md-icon ng-class=""  md-svg-icon="facebook"></md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="" socialshare socialshare-provider="twitter" socialshare-url="{{type==='event'?shareUrl+event.id:shareUrl+content.id}}" aria-label="twitter ">
                <md-icon ng-class=""  md-svg-icon="twitter"></md-icon>
            </md-button>
            
    </md-dialog-content>
    <md-dialog-actions>
        <md-button class="md-icon-button" ng-click="closeDialog()" >
                <md-icon ng-class=""  md-svg-icon="close"></md-icon>
        </md-button>
    </md-dialog-actions>
</md-dialog>
