<md-dialog aria-label="Dog name" ng-class="dialog.css" class="_md md-default-theme md-transition-in" flex-gt-sm="40" role="dialog">
    <md-dialog-content class="md-dialog-content" r>
        <h2 class="md-title">Likes for "{{title}}"</h2>
        <div class="md-dialog-content-body">
            <md-list>
                <md-list-item ng-repeat="item in likes" class="md-2-line">
                    <img style="cursor: pointer;" ui-sref="home.profile({username: item.username})" ng-src="item.photo" class="md-avatar" alt="{{item.title}}" />
                    <div class="md-list-item-text" layout="column">
                        <h3 style="cursor: pointer;" ui-sref="home.profile({username: item.username})">{{item.title}}</h3>
                        <p ng-model="about | limitTo: 65">{{item.college.name}}</p>
                    </div>
                </md-list-item>
            </md-list>
        </div>
    </md-dialog-content>
    <md-dialog-actions>
        <button class="md-primary md-button " ng-click="cancel()">okay</button>
    </md-dialog-actions>
</md-dialog>
