<md-dialog class="md-dialog-fullscreen">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Updates</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-icon="window-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
        <span>{{title}}</span>
            <div class="md-padding">
            <md-list>
                <md-list-item class="md-2-line">
                    <img ng-src="{{phone.options.face}}?25" class="md-avatar" alt="{{phone.options.face}}" ng-if="phone.options.face" />
                    <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                        <h3>Event name</h3>
                        <!-- <p> Update</p> -->
                        <div ng-hide="editorEnabled">
                            {{title}}
                            <a href="#" ng-click="enableEditor()">Edit title</a>
                        </div>
                        <div ng-show="editorEnabled">
                            <input ng-model="editableTitle" ng-show="editorEnabled">
                            <a href="#" ng-click="save()">Save</a> or
                            <a href="#" ng-click="disableEditor()">cancel</a>.
                        </div>
                    </div>
                    <md-button class="md-icon-button">
                        <md-icon md-svg-icon="delete"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button">
                        <md-icon md-svg-icon="pencil"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
               <!--  <md-card>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">Event name</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="space-between">
                        <div class="md-media-xl card-media">
                            <md-input-container class="md-block" flex-gt-sm>
                                <label>Descrption</label>
                                <textarea ng-model="user.biography" md-maxlength="150" rows="5" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                        <md-card-actions layout="column">
                        </md-card-actions>
                    </md-card-content>
                </md-card> -->
                <md-dialog-actions layout="row">
                    <span flex></span>
                    <md-button class="md-primary" ng-click="cancel()">
                        Okay
                    </md-button>
                </md-dialog-actions>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>
