<md-dialog aria-label="Mango (Fruit)" style="min-width:80%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Social Usernames</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-icon="window-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content class="md-padding">
        <md-input-container>
            <label>Facebook</label>
            <md-icon md-svg-icon="facebook"></md-icon>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Instagram</label>
            <md-icon md-svg-icon="instagram"></md-icon>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Twitter</label>
            <md-icon md-svg-icon="twitter"></md-icon>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Snapchat</label>
            <md-icon md-svg-icon="snapchat"></md-icon>
            <input>
        </md-input-container>
        <br>
        <md-input-container>
            <label>Linkedin</label>
            <md-icon md-svg-icon="linkedin"></md-icon>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Github</label>
            <md-icon md-svg-icon="github-face" e></md-icon>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Behance</label>
            <md-icon md-svg-icon="behance"></md-icon>
            <input>
        </md-input-container>
        <br>
        <md-input-container>
            <label>Youtube</label>
            <md-icon md-svg-icon="youtube-play"></md-icon>
            <input>
        </md-input-container>
        <md-input-container>
            <label>Soundcloud</label>
            <md-icon md-svg-icon="soundcloud"></md-icon>
            <input>
        </md-input-container>
    </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-primary" ng-click="">Done
            <md-progress-circular ng-disabled="!vm.activated" md-mode="indeterminate" class="md-hue-2" md-diameter="20px"></md-progress-circular>
        </md-button>
    </md-dialog-actions>
</md-dialog>
