<div flex layout-gt-xs="row" layout="column">
    <md-card flex-gt-xs="65">
        <form name="eventForm" novalidate ng-submit=" submitEvent(event,tags)">
            <md-tabs md-dynamic-height md-border-bottom="" md-selected="selectedIndex">
                <md-tab label="Basic Details">
                    <div class="" layout="column" layout-padding>
                        <md-input-container md-no-float>
                            <label>Title</label>
                            <input placeholder="My demo event" placeholder="My demo event" md-autofocus="" ng-required="true" type="text" ng-model="event.title" md-maxlength="40">
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Sub title</label>
                            <textarea placeholder="Use this space to explain what exactly is your event." ng-required="true" ng-model="event.subtitle" md-maxlength="160" rows="2" md-select-on-focus></textarea>
                        </md-input-container>
                        <div layout-gt-sm="row" flex>
                            <md-input-container md-no-float flex>
                                <label>Opportunity Type</label>
                                <md-select required="" flex-xs ng-model="event.type" placeholder="Opportunity Type">
                                    <md-option ng-value="type.id" ng-repeat="type in types">{{type.title}}</md-option>
                                </md-select>
                            </md-input-container>
                          
                        </div>
                        <div layout-gt-sm="row" flex>
                            <md-input-container md-no-float flex>
                                <label>Opportunity Target Audience</label>
                                <md-select ng-required="true" flex-xs ng-model="event.audience">
                                    <md-option ng-value="audience.id" ng-repeat="audience in audiences">{{audience.title}}</md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container md-no-float flex>
                                <label>Entry Fees</label>
                                <input placeholder="0 = no entry fees" ng-required="true" type="number" min="0" value="0" ng-model="event.price">
                            </md-input-container>
                        </div>
                        <div layout-gt-sm="row" layout="column" flex>
                            <md-input-container flex-gt-sm="40" flex-xs class="md-block">
                                <label>From Date</label>
                                <md-datepicker ng-model="event.fromDate" ng-change="event.toDate=event.fromDate" ng-required="true" md-placeholder="Enter date"></md-datepicker>
                            </md-input-container>
                            <div layout="row" flex-gt-sm="60" layout-align="start center">
                                <md-button class="md-icon-button">
                                    <md-icon md-svg-icon="clock"></md-icon>
                                </md-button>
                                <md-input-container md-no-float flex>
                                    <label>Start Time</label>
                                    <md-select ng-model="event.fromTime" placeholder="Start Time" ng-required="true">
                                        <md-option ng-value="b" ng-repeat="b in  ['12:00','12:30','1:00','1:30','2:00','2:30','3:00','3:30','4:00','4:30','5:00','5:30','6:00','6:30','7:00','7:30','8:00','8:30','9:00','9:30','10:00','10:30','11:00','11:30']">{{b}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container md-no-float flex>
                                    <label>Period</label>
                                    <md-select ng-model="event.fromPeriod" ng-required="true">
                                        <md-option ng-value="fromPeriod" ng-repeat="fromPeriod in ['am', 'pm']">{{fromPeriod}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="column" layout-gt-sm="row" flex>
                            <md-input-container md-no-float flex-gt-sm="40" class="md-block">
                                <label>To Date</label>
                                <md-datepicker md-min-date="event.fromDate" ng-disabled="!event.fromDate" ng-required="true" ng-model="event.toDate" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
                            </md-input-container>
                            <div layout="row" flex-gt-sm="60" layout-align="start center">
                                <md-button class="md-icon-button">
                                    <md-icon md-svg-icon="clock"></md-icon>
                                </md-button>
                                <md-input-container md-no-float flex>
                                    <label>End Time</label>
                                    <md-select ng-model="event.toTime" placeholder="End Time" ng-disabled="!event.fromTime" ng-required="true">
                                        <md-option ng-value="b" ng-repeat="b in  ['12:00','12:30','1:00','1:30','2:00','2:30','3:00','3:30','4:00','4:30','5:00','5:30','6:00','6:30','7:00','7:30','8:00','8:30','9:00','9:30','10:00','10:30','11:00','11:30']">{{b}}</md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container md-no-float flex>
                                    <label>Period</label>
                                    <md-select ng-model="event.toPeriod" ng-disabled="!event.toTime" ng-required="true">
                                        <md-option ng-value="toPeriod" ng-repeat="toPeriod in ['am', 'pm']">{{toPeriod}}</md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                    </div>
                </md-tab>
                <md-tab label="Description">
                    <div class="">
                        <center ng-if="!tutorial">
                            <br>
                            <img ng-src="assets/images/addOpportunity.gif" style="border-color: #ccc;border-radius: 6px; border-style: solid;max-width: 90%" src="assets/images/editing.gif">
                            <br>
                            <md-button ng-click="gotIt();" class="md-primary" aria-label="description">Got it!</md-button>
                            <br>
                            <br>
                        </center>
                        <p  ng-hide="progress<1" style="outline: none; font-family: Georgia, Cambria, 'Times New Roman',Times,serif;" ng-model="event.description" medium-editor data-placeholder="Mention complete details about the event here (including rules and prizes)."></p>
                    </div>
                </md-tab>
                <md-tab label="Additional Details">
                    <div class="" layout="column">
                        <md-input-container md-no-float flex>
                            <!-- <label>Opportunity Venue</label> -->
                            <place-autocomplete placeholder="Mention college name if event is open for all participants" type="text" ng-model="event.venue" md-maxlength="100"></place-autocomplete>
                        </md-input-container>
                        <md-input-container md-no-float>
                            <label>Link to the event (website or facebook page)</label>
                            <input placeholder="http://" type="text" ng-model="event.link">
                        </md-input-container>
                      
                        <md-input-container md-no-float>
                            <label>Enter tags for your event</label>
                            <md-chips name="skills" ng-model="tags" md-separator-keys="customKeys" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-max-chips="5" readonly="readonly" md-removable="removable" md-require-match="autocompleteDemoRequireMatch">
                                <md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.name" placeholder="Press enter or semicolor after tag">
                                    <span md-highlight-text="searchText">{{item.name}}</span>
                                </md-autocomplete>
                                <md-chip-template custom-chip class="your-custom-chip">
                                    <span><strong>{{$chip.name}}</strong></span>
                                </md-chip-template>
                            </md-chips>
                        </md-input-container>
                        <br>
                        <div layout-gt-sm="row">
                            <md-input-container md-no-float flex>
                                <label>Organizer Name</label>
                                <input placeholder="Society or entitity behind the event." required="" type="text" ng-model="event.organiserName" md-maxlength="80">
                            </md-input-container>
                            <md-input-container md-no-float flex>
                                <label>Organizer Phone</label>
                                <input placeholder="987654321" required="" type="number" ng-model="event.organiserPhone" min="1000000000" max="9999999999">
                            </md-input-container>
                        </div>
                        <md-input-container md-no-float flex>
                            <label>Online Link to the organizer (website or facebook page)</label>
                            <input placeholder="http://" type="text" ng-model="event.organiserLink">
                        </md-input-container>
                    </div>
                </md-tab>
                <md-tab label="Poster">
                    <div layout="column" flex layout>
                        <md-button flex ng-hide="{{picFile}}" class="md-primary md-button-lg" ngf-select ng-model="picFile" accept="image/*">
                            Select Picture here</md-button>
                        <br>
                        <center>
                            <span> or drop in the box below</span>
                            <div ngf-drop class="cropArea">
                                <img-crop image="picFile  | ngfDataUrl" result-image="event.croppedDataUrl" ng-init="event.croppedDataUrl=''" area-type="square" area-min-size="250" result-image-size="420" result-image-quality="0.9">
                                </img-crop>
                            </div>
                        </center>
                        <!-- <button ng-click="upload(event.croppedDataUrl, picFile.name)">Submit</button> -->
                        <span class="progress" ng-show="progress >= 0">
                      <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
                  </span>
                    </div>
                    <span ng-show="result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                   
                </md-tab>
            </md-tabs>
            <md-dialog-actions layout="row">
                <div layout="row" ng-hide="!loading" layout-sm="column" layout-align="space-around">
                    <p>Please wait, we are uploading images and all content.
                        <br> This can take upto a minute.</p>
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <span flex></span>
                <!-- <md-button ng-click="nextTab()">Previous</md-button> -->
                <md-button ng-hide="loading" class=" md-primary" ng-click="nextTab()">Next</md-button>
                <md-button ng-hide="loading" class="md-raised md-primary" ng-disabled="(event.croppedDataUrl=='')" type="submit">Create</md-button>
                <!-- <md-button ng-hide="loading" class="md-raised md-primary" ng-disabled="(event.croppedDataUrl=='') || !eventForm.$valid" type="submit">Create</md-button> -->
            </md-dialog-actions>
        </form>
    </md-card>
    <div flex-gt-xs="30">
        <h1 >Preview - <small>Updated as you input.</small></h1>
        <md-card flex="100">
            <div style="position: relative;">
                <img style="width: 100% ;opacity: 0.9" class="event-cover-vertical" ng-src="{{event.croppedDataUrl}}" alt="{{event.title}}">
                <span class="md-caption" style="position: absolute;top: 20px;right: 20px;color: #fff;background: rgba(12,12,12,0.5);border-style: solid;border-width:0px;border-color: #fff;padding: 3px;border-radius: 4px;">
                        <md-icon  style="fill: #fff;" ng-show="event.location.type" md-svg-icon="currency-inr"></md-icon>
                        {{event.price?event.price:" No Fees"}}
                    </span>
                <span class="md-subhead" style="position: absolute;bottom: 20px;left: 20px;color: #fff;background: rgba(12,12,12,0.5);border-style: solid;border-width:0px;border-color: #fff;padding: 3px;border-radius: 4px;">
                        <md-icon style="fill: #fff;" ng-show="event.location.type" md-svg-icon="map-marker"></md-icon>
                        <md-icon style="fill: #fff;" ng-hide="event.location.type" md-svg-icon="earth"></md-icon>
                        {{event.city}}
                    </span>
            </div>
            <md-card-title ui-sref="home.singleEvent({eventId: event.id})" style="padding:8px 0px 0px 20px;">
                <span  style="font-weight: 400"> {{event.title?event.title:'Give it a title'}}</span>
            </md-card-title>
            <md-card-content ui-sref="home.singleEvent({eventId: event.id})">
                <div layout="row" layout-wrap>
                    <span style="padding-top:10px;text-align: center;font-weight: 500" flex="20"  md-colors="{color: 'red'}"><span>
                            {{event.fromDate?event.fromDate:null | date: 'MMM'}} </span>
                    <br>
                    <span style="color:#555555;text-align: center;">{{event.toDate==event.fromDate?event.fromDate:null | date: ' dd'}}</span>
                    </span>
                    <p flex="80" style="color: #777;" >
                        {{event.subtitle?event.subtitle:'Enter your message'| limitTo : 100}}
                    </p>
                </div>
            </md-card-content>
            <md-card-actions style="margin: 2px 17px 4px 4px;" layout="row" layout-align="end center">
                <md-button ng-show="event.participation_state==0" class="button-grey" aria-label="Favorite">
                    <md-icon md-svg-icon="check"></md-icon> Going
                </md-button>
                <md-button class="button-grey" aria-label="Favorite">
                    <md-icon md-svg-icon="star-outline"></md-icon> Interested
                </md-button>
                <md-select md-selected-text="getParticipationState(event, $index)" ng-show="event.participation_state !=0" ng-model="weapon" placeholder="Weapon" class="md-no-underline">
                    <md-option ng-click="change(event, $index, 2)" ng-show="event.participation_state !=2" value="interested">Intrested</md-option>
                    <md-option ng-click="change(event, $index, 1)" ng-show="event.participation_state !=1" value="going">Going</md-option>
                    <md-option ng-click="change(event, $index, 0)" ng-show="event.participation_state !=0" value="not going">Not going</md-option>
                </md-select>
                <span flex></span>
                <md-button class="share-button md-icon-button" ng-controller="ShareController" ng-click="showCustom($event, 'event');" aria-label="share">
                    <md-icon ng- md-svg-icon="share"></md-icon>
                </md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>