<style type="text/css">
.whiteText {
    color: #fff;
}

.color-blue {
    color: #0570c0;
}

md-toolbar {
    background-color: #06558f !important;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    height: 400px;
    /*min-height: 12vh;*/
    max-height: 400px !important;
}
</style>
<!-- <md-button class="md-fab md-fab-bottom-right" aria-label="upload photo">
    +
</md-button> -->
<div layout="column" flex>
    <md-toolbar hide-xs hide-sm layout="row" layout-align="center center">
        <section layout-align="start center">
            <md-button hide-sm hide-xs layout="row" layout-align="center center" class="md-toolbar-tools" aria-label="Home">
                                <md-icon md-svg-icon="school"></md-icon>

            </md-button>
        </section>
        <section layout-align="start center" flex>
            <form hide-sm hide-xs ng-submit="$event.preventDefault();openSearch(searchText)">
                <md-autocomplete ng-disabled="isDisabled" md-no-cache="true" md-selected-item="selectedItem" md-search-text-change="querySearch(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in searchTypes" md-item-text="item.title" md-min-length="0" placeholder="Search for anything here" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <md-list-item class="noright" ng-click="searched(item,searchText)">
                            <md-icon md-svg-icon="{{item.icon}}" class=" md-hue-3"></md-icon>
                            <p > Search "{{searchText}}" in <em> {{item.title}}</em> </p>
                        </md-list-item>
                      <!--   <md-list-item class="noright" ng-click="searched(item)">
                            <md-icon md-svg-icon="{{item.icon}}" class=" md-hue-3"></md-icon>
                            <p> Search "{{searchText}}" in <em>{{item.title}}</em></p>
                        </md-list-item>
                        <md-list-item class="noright" ng-click="searched(item)">
                            <md-icon md-svg-icon="{{item.icon}}" class=" md-hue-3"></md-icon>
                            <p> Search "{{searchText}}" in <em>{{item.title}}</em></p>
                        </md-list-item> -->
                    </md-item-template>
                    <!--  <md-item-template>
                        <md-list-item class="noright" ng-click="searched(item)">
                            <md-icon ng-if="(!item.image)" md-svg-icon="{{!(item.type=='event')?'comment-text':'calendar'}}" class=" md-hue-3"></md-icon>
                            <img ng-if="item.image" alt="{{ person.title }}" ng-src="{{item.image}}" class="md-avatar" />
                            <p>{{ item.title }}</p>
                        </md-list-item>
                    </md-item-template> -->
                </md-autocomplete>
            </form>
        </section>
        <section layout-align="end start">
            <md-button hide-sm hide-xs style="height: 53px;margin-top: 3px;margin-bottom: 0px;" ng-repeat="item in vm.menuItems" layout-align="center center" flex class="capitalize" ng-click="vm.selectItem(item)" ui-sref-active="whiteText" ui-sref="{{item.sref}}">
                <div class="md-tile-content" layout="column">
                    <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                </div>
                <div class="md-tile-content">
                    {{item.name}}
                </div>
            </md-button>
            <md-menu>
                <md-button style="height: 53px;margin-top: 3px;margin-bottom: 0px;min-width: 0px " layout-align="center center" flex class="capitalize" aria-label="Notifications" ng-click="$mdOpenMenu()">
                    <div hide-sm hide-xs class="md-tile-content" layout="column">
                        <md-icon md-svg-icon="plus-circle"></md-icon>
                    </div>
                    <div class="md-tile-content">
                        Add
                    </div>
                </md-button>
                <md-menu-content width="5">
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu()" ui-sref="home.addEvent">
                            <div layout="row" flex="" class="ng-scope layout-row flex">
                                <p flex="" class="flex">Add Events</p>
                                <md-icon md-svg-icon="calendar"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu()" ui-sref="home.addCreativity">
                            <div layout="row" flex="" class="ng-scope layout-row flex">
                                <p flex="" class="flex">Add Creativity</p>
                                <md-icon md-svg-icon="all-inclusive"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="addUpdate();$mdCloseMenu()" ui-sref="home.myProfile">
                            <div layout="row" flex="" class="ng-scope layout-row flex">
                                <p flex="" class="flex">Add Update</p>
                                <md-icon md-svg-icon="account"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </section>
        <section layout-align="end start">
            <md-button style="height: 53px;margin-top: 3px;margin-bottom: 0px;" hide-sm hide-xs layout-align="center center" flex class="capitalize" aria-label="Notifications" ng-click="vm.toggleRightSidebar()">
                <div hide-sm hide-xs class="md-tile-content" layout="column">
                    <md-icon md-svg-icon="account"></md-icon>
                    <!-- <span style="color:#fff" class="notifications-label"> </span> -->
                </div>
                <div class="md-tile-content">
                    Me
                </div>
            </md-button>
        </section>
    </md-toolbar>
    <md-content flex class="md-padding page-content">
        <div ui-view>
        </div>
    </md-content>
    <md-toolbar hide-gt-sm    style="height: 84px;"">
    </md-toolbar>
    <md-toolbar hide-gt-sm layout="row" style="position: fixed;bottom: 0px;" layout-align="center center">
        <md-button ng-repeat="item in vm.menuItems" layout-align="center center" flex class="capitalize" ng-click="vm.selectItem(item)" ui-sref-active="" ui-sref="{{item.sref}}">
            <div hide-md class="md-tile-content">
                <md-icon md-svg-icon="{{item.icon}}"></md-icon>
            </div>
            <div class="md-tile-content">
                {{item.name}}
            </div>
        </md-button>
        <md-button layout-align="center center" flex class="capitalize" aria-label="Notifications" ng-click="">
            <div hide-md class="md-tile-content">
                <md-icon md-svg-icon="magnify"></md-icon>
            </div>
            <div class="md-tile-content">
                Search
            </div>
        </md-button>
        <md-menu>
            <md-button style="min-width: 0;" layout-align="center center" flex class="capitalize" aria-label="Notifications" ng-click="$mdOpenMenu()">
                <div class="md-tile-content" >
                    <md-icon md-svg-icon="plus"></md-icon>
                </div>
                <div class="md-tile-content">
                    Add
                </div>
            </md-button>
            <md-menu-content width="5">
                <md-menu-item>
                    <md-button ng-click="$mdCloseMenu()" ui-sref="home.addEvent">
                        <div layout="row" flex="" class="ng-scope layout-row flex">
                            <p flex="" class="flex">Add Events</p>
                            <md-icon md-svg-icon="calendar"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$mdCloseMenu()" ui-sref="home.addCreativity">
                        <div layout="row" flex="" class="ng-scope layout-row flex">
                            <p flex="" class="flex">Add Creativity</p>
                            <md-icon md-svg-icon="all-inclusive"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="$mdCloseMenu()" ui-sref="home.myProfile">
                        <div layout="row" flex="" class="ng-scope layout-row flex">
                            <p flex="" class="flex">Add Update</p>
                            <md-icon md-svg-icon="account"></md-icon>
                        </div>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
        <md-button layout-align="center center" flex class="capitalize" aria-label="Notifications" ng-click="vm.toggleRightSidebar()">
            <div class="md-tile-content">
                <md-icon md-svg-icon="account"></md-icon>
            </div>
            <div class="md-tile-content">
                Me
            </div>
        </md-button>
        </md-menu>
    </md-toolbar>
    <md-sidenav md-component-id="right" class="md-sidenav-right">
        <section>
            <!-- <div ng-include src=" 'app/views/partials/messages.html'"></div> -->
            <div class="messages" layout-fill>
                <md-content class="messages-content">
                    <center>
                        <h3 class="color-blue">Profile</h3>
                        <md-divider></md-divider>
                    </center>
                    <md-menu-item>
                        <md-button ng-click="vm.toggleRightSidebar()" ui-sref="home.addEvent">
                            <div layout="row" flex="" class="ng-scope layout-row flex">
                                <p flex="" class="flex">My Events</p>
                                <md-icon md-svg-icon="calendar"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu()" ui-sref="home.addCreativity">
                            <div layout="row" flex="" class="ng-scope layout-row flex">
                                <p flex="" class="flex">My Creativity</p>
                                <md-icon md-svg-icon="all-inclusive"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu()" ui-sref="home.myProfile">
                            <div layout="row" flex="" class="ng-scope layout-row flex">
                                <p flex="" class="flex">My Profile</p>
                                <md-icon md-svg-icon="account"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <center>
                        <h3 class="color-blue">Notifications</h3>
                        <md-divider></md-divider>
                    </center>
                    <md-list>
                        <md-list-item class="md-2-line" ng-repeat="notification in notifications" ui-sref="home.singleContent({contentId: notification.content_id})">
                            <img ng-src="{{notification.image}}" class="md-avatar" alt="{{}}" />
                            <div class="md-list-item-text">
                                <p>{{notification.total}} {{(notification.total>1)?'people have':'person has'}} appreciated the creativity you uploaded</p>
                            </div>
                            <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                                <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                            </md-button>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                    <div flex></div>
                    <md-menu-item>
                        <md-button ng-click="logout();$mdCloseMenu();">
                            <div layout="row" flex="" class="ng-scope layout-row flex">
                                <p flex="">Sign Out</p>
                                <md-icon md-svg-icon="logout-variant"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-content>
            </div>
            <!-- </md-tab>
            <md-tab label="Search" data-ng-if="windowWidth<587">
                <md-content class="md-padding">
                    <div ng-include src=" 'app/views/partials/searchSidebar.html'"></div>
                </md-content>
            </md-tab>
            </md-tabs> -->
        </section>
    </md-sidenav>
</div>
