<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAoxkYb6Lkrz_CMGy__9Yqw5zHlvV6-kX4&libraries=places"></script>
<div layout="column" flex>
    <md-toolbar layout="row" layout-align="center center">
        <section layout-align="start center">
            <md-button  hide-sm hide-xs layout="row" layout-align="center center" class="md-toolbar-tools" aria-label="Home">
                <h1>
                <md-icon md-svg-icon="school"></md-icon>
                CampusBox
            </h1>
            <h1  hide-gt-sm >
                <md-icon md-svg-icon="school"></md-icon>
            </h1>
            </md-button>
        </section>
        <section layout-align="start center" flex>
           
            <form hide-sm hide-xs ng-submit="$event.preventDefault()">
                <md-autocomplete ng-disabled="isDisabled" md-no-cache="false" md-selected-item="selectedItem" md-search-text-change="querySearch(searchText)" md-search-text="searchText" md-selected-item-change="selectedItemChange(item)" md-items="item in searchData" md-item-text="item.title" md-min-length="0" placeholder="Pick an Angular repository" md-menu-class="autocomplete-custom-template">
                    <md-item-template>
                        <md-list-item class="noright">
                            <img alt="{{ person.title }}" ng-src="http://thapar.brinjal.in/superadmin/eventimg/{{item.id}}.jpg" class="md-avatar" />
                            <p>{{ item.title }}---</p>
                            <md-icon md-svg-icon="account-outline" class="md-secondary md-hue-3"></md-icon>
                            <!-- <md-icon md-svg-icon="calendar" class="md-secondary md-hue-3" ></md-icon> -->
                            <!-- <md-icon md-svg-icon="brush" class="md-secondary md-hue-3" ></md-icon> -->
                        </md-list-item>
                    </md-item-template>
                </md-autocomplete>
            </form>
        </section>
        <section layout-align="start center">
        </section>
        <section layout-align="end center">
            <!-- <md-button>
            <md-icon -->
            <!-- </md-button> -->
            <md-button  hide-sm hide-xs ng-repeat="item in vm.menuItems" layout-align="center center" flex class="capitalize " ng-click="vm.selectItem(item)" ui-sref-active="md-warn" ui-sref="{{item.sref}}">
                <div  class="md-tile-content">
                    <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                </div>
                <div class="md-tile-content">
                    {{item.name}}
                </div>
            </md-button>
            <!-- <md-button class="toolbar-button" aria-label="Search" ng-click="vm.toggleRightSidebar() ">
                <md-icon md-svg-icon="magnify"></md-icon>
            </md-button> -->
            <md-button hide-sm hide-xs  layout-align="center center" flex class="capitalize " aria-label="Notifications " ng-click="vm.toggleRightSidebar() ">
                <div hide-sm hide-md class="md-tile-content">
                    <md-icon md-svg-icon="bell"></md-icon>
                    <span style="color:#fff" class="notifications-label "> </span>
                </div>
                <div class="md-tile-content">
                    notifications
                </div>
            </md-button>
            
        </section>
        <section class="md-warn " layout="row " layout-align="center center ">
            <md-menu>
                <md-button layout-align="center center" flex class="capitalize " aaria-label="Open menu " ng-click="$mdOpenMenu()">
                <div hide-sm hide-md class="md-tile-content" >
                    <img  class="img-circle md-icon-svg" ng-src="{{user.url}}">
                </div>
              <!--   <div class="md-tile-content">
                    Me <md-icon md-svg-icon="chevron-down "></md-icon>  
                </div> -->
            </md-button>
            
                <md-menu-content width="5">
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu() " ui-sref="home.myProfile({tab:'0'})">
                            <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                <p flex=" " class="flex ">My Events</p>
                                <md-icon md-svg-icon="calendar"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu() " ui-sref="home.myProfile({tab:'2'})">
                            <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                <p flex=" " class="flex ">My Blogs</p>
                                <md-icon md-svg-icon="comment-text-outline"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu() " ui-sref="home.myProfile({tab:'0'})">
                            <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                <p flex=" " class="flex ">Items Uploads</p>
                                <md-icon md-svg-icon="tag"></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="$mdCloseMenu() " ui-sref="home.myProfile">
                            <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                <p flex=" " class="flex ">Profile</p>
                                <md-icon md-svg-icon="account "></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="logout();$mdCloseMenu(); ">
                            <div layout="row " flex=" " class="ng-scope layout-row flex ">
                                <p flex=" " ">Sign Out</p>
                                <md-icon md-svg-icon="logout-variant "></md-icon>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </section>
    </md-toolbar>
    <md-content flex class="md-padding page-content ">
        <div ui-view>
        </div>
    </md-content>
    <md-toolbar hide-gt-xs layout="row" layout-align="center center">
      
        <section layout-align="center center" layout="row">
            <!-- <md-button>
            <md-icon -->
            <!-- </md-button> -->
            <md-button ng-repeat="item in vm.menuItems" layout-align="center center" flex class="capitalize " ng-click="vm.selectItem(item)" ui-sref-active="md-warn" ui-sref="{{item.sref}}">
                <div hide-sm hide-md class="md-tile-content">
                    <md-icon md-svg-icon="{{item.icon}}"></md-icon>
                </div>
                <div class="md-tile-content">
                    {{item.name}}
                </div>
            </md-button>
            <!-- <md-button class="toolbar-button" aria-label="Search" ng-click="vm.toggleRightSidebar() ">
                <md-icon md-svg-icon="magnify"></md-icon>
            </md-button> -->
            <md-button layout-align="center center" flex class="capitalize " aria-label="Notifications " ng-click="vm.toggleRightSidebar() ">
                <div hide-sm hide-md class="md-tile-content">
                    <md-icon md-svg-icon="bell"></md-icon>
                    <span style="color:#fff" class="notifications-label "> </span>
                </div>
                <div class="md-tile-content">
                    notifications
                </div>
            </md-button>
             <md-button layout-align="center center" flex class="capitalize " aria-label="Notifications " ng-click="vm.toggleRightSidebar() ">
                <div hide-sm hide-md class="md-tile-content">
                    <md-icon md-svg-icon="magnify"></md-icon>
                </div>
                <div class="md-tile-content">
                    Search
                </div>
            </md-button>
            
        </section>
       
    </md-toolbar>
<md-sidenav md-component-id="right" class="md-sidenav-right " >
    
    <section>
         <md-tabs md-stretch-tabs="always " selected="{{selectedTab}} " md-dynamic-height md-border-bottom=" " md-selected="selectedIndex ">
            <md-tab hide-gt-xs label="Search ">
                <md-content class="md-padding ">
                    <div ng-include src=" 'app/views/partials/searchSidebar.html' ">
                </md-content>
            </md-tab>
            <md-tab label="Notifications ">
                <md-content class="md-padding ">
                    <div ng-include src=" 'app/views/partials/messages.html' ">
                    </div>
                </md-content>
             </md-tab>
        </md-tabs>
     </section>
</md-sidenav>
</div>
