<div layout="horizontal">
    <md-card flex="20">
        <img ng-src="assets/images/lakshit.jpg" class="md-card-image" alt="Washed Out">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Lakshit Anand</span>
                <span class="md-subhead">Thapar university</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p class="md-body-2">
                Web Developer, wants to create meaningful projects to positively impact the world.
            </p>
            <md-divider></md-divider>
            <p class="md-title">
                Skills
            </p>
            <md-chips>
                <md-chip>Hockey</md-chip>
                <md-chip>Lacrosse</md-chip>
                <md-chip>Baseball</md-chip>
                <!-- Static chips are transcluded -->
                <md-chip>Java Script</md-chip>
            </md-chips>
            <md-divider></md-divider>
            <p class="md-title">
                Social Accounts
            </p>
            <md-list>
                <md-list-item ng-click="navigateTo('data usage', $event)">
                    <md-icon md-svg-icon="facebook"></md-icon>
                    <p>Facebook</p>
                </md-list-item>
                <md-list-item ng-click="navigateTo('data usage', $event)">
                    <md-icon md-svg-icon="twitter"></md-icon>
                    <p>Twitter</p>
                </md-list-item>
<md-list-item ng-click="navigateTo('data usage', $event)">
                    <md-icon md-svg-icon="youtube-play"></md-icon>
                    <p>Youtube</p>
                </md-list-item>
<md-list-item ng-click="navigateTo('data usage', $event)">
                    <md-icon md-svg-icon="github-circle"></md-icon>
                    <p>Github</p>
                </md-list-item>
<md-list-item ng-click="navigateTo('data usage', $event)">
                    <md-icon md-svg-icon="facebook"></md-icon>
                    <p>Facebook</p>
                </md-list-item>
                
                <md-icon md-svg-icon="{{item.icon}}"></md-icon>
            </md-list>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button>Action 1</md-button>
            <md-button>Action 2</md-button>
        </md-card-actions>
    </md-card>
    <md-card flex="80">
        <md-card-content>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="About">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">About</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="Skills">
                        <md-content class="md-padding">
                            <md-toolbar layout="row" class="md-hue-3">
                                <div class="md-toolbar-tools">
                                    <span>Skills</span>
                                </div>
                            </md-toolbar>
                            <md-content>
                                <md-list flex>
                                    <md-divider></md-divider>
                                    <md-subheader class="md-no-sticky">Classes</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon md-svg-icon="" class="md-avatar" alt="{{phone.options.face}}" ng-if="phone.options.face" />
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> Guitar</h3>
                                            <p> Expert </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                                            <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon md-svg-icon="" class="md-avatar" alt="{{phone.options.face}}" ng-if="phone.options.face" />
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> Drums with double base</h3>
                                            <p> Expert </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                                            <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon md-svg-icon="" class="md-avatar" alt="{{phone.options.face}}" ng-if="phone.options.face" />
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> Angular Js</h3>
                                            <p> Intermediate </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                                            <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon md-svg-icon="" class="md-avatar" alt="{{phone.options.face}}" ng-if="phone.options.face" />
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> Slim PHP wil REST APIs</h3>
                                            <p> Beginner </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                                            <md-icon md-svg-icon="{{phone.options.actionIcon}}"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                    </md-tab>
                    <md-tab label="Blogs">
                        <md-content class="md-padding">
                            <h1 class="md-display-2">Blogs</h1>
                            <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
                </md-content>
    </md-card>
</div>
