<style type="text/css">
	.static-background{
		background:linear-gradient(#0570c0, #0570c0 70%, #f1f0f0 70.001%);
	}
</style>
<div layout="column"  flex>
  <!-- <div tawk-to="{{vm.id}}"></div> -->
  <md-toolbar   layout="row" style="background-color: #0570c0" layout-align="center center">
        <section layout-align="start">
    <img ng-src="http://campusbox.org/images/CB2.png" style="max-width:200px">
            </md-button>
        </section>
     <div flex></div>
    </md-toolbar>
   <md-content flex class="md-padding static-background">
        <div ui-view>
        </div>
    </md-content>
</div>
