body {
  color: #282c35;
}

.weight-500 {
  font-weight: 500 !important;
}

.pink {
  fill: #e91e63 !important;
}

.badge {
  margin: 0 0 0 8px;
  background-color: #aaa;
  color: white;
  padding: 2px 4px;
  border-radius: 2px;
}

.your-custom-chip {
  font-weight: 400 !important;
  font-style: normal !important;
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 13px !important;
  letter-spacing: 0px !important;
  text-decoration: none !important;
  background: #fafafa;
  border-radius: 3px !important;
  border: 1px solid #f0f0f0 !important;
}

.pointer {
  cursor: pointer;
}

.bottom-menu-item {
  margin: 0;
  padding: 0;
  overflow: visible;
  line-height: 28px;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  height: 400px;
  /*min-height: 12vh;*/
  max-height: 400px !important;
}

.grey {
  fill: #9E9E9E !important;
}

.blue_text {
  color: #0570c0 !important;
}

.blue-bg {
  color: #0570c0 !important;
}

.capitalize {
  text-transform: capitalize;
}

.toolbar-button {
  min-width: 20px;
}

.share-label {
  vertical-align: middle;
  margin-left: 10px;
}

.page-content {
  background-color: #fafafa;
}

.widget-progress {
  width: 95% !important;
  margin-left: 10px;
}

div.pageContainer {
  height: auto;
}

.capitalize {
  text-transform: capitalize;
}

.img-circle {
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
}

.messages {
  position: relative;
}
.messages-content {
  height: 100vh;
}

.notifications-label {
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  font-size: 12px;
  top: 2px;
  right: 2px;
  background-color: #E75753;
}

.panel-widget {
  background-color: white;
}
.panel-widget-toolbar {
  box-shadow: none;
  margin: 0;
}
.panel-widget-tittle {
  color: #282c35;
}

.options {
  transition: all linear 0.5s;
}

.options.ng-hide {
  opacity: 0;
}

.fixed-height-widget {
  height: 310px;
}

.donut-chart-title {
  text-align: center;
}

.custom-tooltip {
  font-size: 22px;
  color: #282c35;
  text-align: center;
}

md-radio-group {
  border: none;
}

md-icon {
  height: auto;
}

md-sidenav.md-locked-open.md-sidenav-left {
  width: 110px;
  min-width: 110px;
  max-width: 110px;
}

a.md-button.md-warn.md-raised,
a.md-button.md-warn.md-fab,
.md-button.md-warn.md-raised,
.md-button.md-warn.md-fab {
  color: white;
}

md-radio-button.md-accent.md-checked .md-label span {
  color: #009688;
}

.md-toolbar-tools h1 {
  font-size: 22px;
}

md-backdrop.md-sidenav-backdrop {
  position: fixed;
}

.material-icons {
  vertical-align: middle;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.nvd3.nv-pie .nv-pie-title {
  fill: #444444;
  font-weight: 600;
  font-size: 22px !important;
}

.nvtooltip {
  background-color: transparent;
  border: none;
  font-weight: 600;
}

.orange .md-bar2 {
  background-color: orange;
}

.orange .md-container {
  background-color: #ffecc9;
}

.flexy-16 {
  -ms-flex: 1 1 16%;
  flex: 1 1 16%;
  box-sizing: border-box;
}

.flexy-20 {
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
  box-sizing: border-box;
}

.flexy-30 {
  -ms-flex: 1 1 30%;
  flex: 1 1 30%;
}

.eventListItem .md-button {
  padding: 0 !important;
}

.eventListItem md-card {
  margin: 3px;
}

md-list-item:last-child md-divider {
  display: none;
}

.shimmer {
  /* the shimmer magic */
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background-size: 125px 100%;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -webkit-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 2s;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
/*colllege filter start*/
.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}

.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}

.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: auto;
}

.selectdemoSelectHeader md-content._md {
  max-height: 240px;
}

.pink {
  fill: #e91e63 !important;
}

.blue {
  fill: #0570c0 !important;
}

/*college filter end*/
.cssload-tetrominos {
  position: absolute;
  left: 50%;
  transform: translate(-109px, -94px);
  -o-transform: translate(-109px, -94px);
  -ms-transform: translate(-109px, -94px);
  -webkit-transform: translate(-109px, -94px);
  -moz-transform: translate(-109px, -94px);
}

.cssload-tetromino {
  width: 94px;
  height: 109px;
  position: absolute;
  transition: all ease 0.35s;
  -o-transition: all ease 0.35s;
  -ms-transition: all ease 0.35s;
  -webkit-transition: all ease 0.35s;
  -moz-transition: all ease 0.35s;
  background: url('data:image/svg+xml;utf-8,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612 684"%3E%3Cpath fill="%230570C0" d="M305.7 0L0 170.9v342.3L305.7 684 612 513.2V170.9L305.7 0z"/%3E%3Cpath fill="%324324" d="M305.7 80.1l-233.6 131 233.6 131 234.2-131-234.2-131"/%3E%3C/svg%3E') no-repeat top center;
}

/*
Optional adjustments for md-autocomplete in mobile screens
*/
#place-autocomplete > md-autocomplete md-input-container {
  margin-top: -10px;
}

/*Media query for tablets and above */
@media screen and (min-width: 480px) {
  #place-autocomplete > md-autocomplete md-input-container {
    padding-bottom: 0;
  }
}
/*image upload start*/
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width: 500px;
  height: 350px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

/*image upload end*/
.interest {
  background-color: rgba(158, 158, 158, 0.2);
  border-radius: 15px;
  text-transform: none !important;
  padding: 0px 16px;
  min-width: 0px;
}

.interest_selected {
  background-color: #f96262 !important;
  border-radius: 15px;
  text-transform: none !important;
  color: #fff;
  min-width: 60px;
}

.hint {
  /* Position the hint */
  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  /* Set our own color */
  color: #aaa;
}

.login-box {
  background: #fff;
}

.content-text p {
  margin: 0px;
  letter-spacing: 0.02em;
  line-height: 1.58;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.8);
}

.angular-medium-editor.medium-editor-element p {
  margin: 0px;
  letter-spacing: 0.02em;
  line-height: 1.58;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.8);
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.medium-editor-placeholder:after {
  position: relative;
}

.thumb {
  width: 24px;
  height: 24px;
  float: none;
  position: relative;
  top: 7px;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.uploadedImage {
  height: 100%;
  width: 100%;
  /*opacity: 0;*/
}

/*pasted from multiple images*/
.your-custom-chip {
  font-weight: 400 !important;
  font-style: normal !important;
  color: rgba(0, 0, 0, 0.44) !important;
  font-size: 13px !important;
  letter-spacing: 0px !important;
  text-decoration: none !important;
  background: #fafafa;
  border-radius: 3px !important;
  border: 1px solid #f0f0f0 !important;
}

md-chips.md-default-theme md-chip.mdfocused,
md-chips md-chip.md-focused {
  background-color: #fafafa !important;
  color: rgba(0, 0, 0, 0.44);
  border: 1px solid #616161 !important;
}

md-chips.md-default-theme md-chip,
md-chips md-chip,
md-chips md-chip.md-focused {
  /*border-color: rgba(2, 184, 117, 0.8);*/
  border: 1px solid #616161 !important;
}

md-chips.md-default-theme md-chip.md-focused md-icon,
md-chips md-chip.md-focused,
md-chips md-chip.md-focused md-icon {
  color: rgba(0, 0, 0, 0.44) !important;
}

md-icon.cross > svg {
  color: rgba(0, 0, 0, 0.44) !important;
  height: 15px;
  width: 15px;
  margin-top: 4px;
  margin-left: auto;
}

.publish-button {
  float: right;
  border: 1px solid #039BE5;
  color: #2899d1;
  text-transform: capitalize;
}

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
.animated-background {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
          animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  background: #f6f7f8;
  color: transparent !important;
  background: linear-gradient(to right, #f6f7f8 8%, #eee 18%, #f6f7f8 33%);
  background-size: 800px 104px;
  position: relative;
}

.appriciate-button {
  text-transform: capitalize;
  color: #e91e63;
}

.rsvp-button {
  text-transform: capitalize;
  color: #0570c0;
}

.appriciate-button.appriciated {
  background: #e91e63;
  color: white;
  border-color: #e91e63;
}

.white-bg {
  background-color: #fff;
}

.white-text {
  color: #fff;
}

.creativity-description {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  font-size: 23px;
  line-height: 1.58;
  margin-right: 30px;
  letter-spacing: -.022em;
  word-spacing: 0.1em;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.8);
  font-style: normal;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.creativity-description-single {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  margin-top: 29px;
  margin-bottom: 10px;
}

.creativity-description p {
  margin: 0px;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: 0.01em;
  word-spacing: 0.1em;
  font-weight: 300;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
}

.creativity-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 740px;
  margin-top: 31px;
  font-size: 29px;
  line-height: 1.04;
  text-decoration: none;
  letter-spacing: -.028em;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

.creativity-cover {
  cursor: pointer;
  height: 200px;
  object-fit: none;
  width: 100%;
}

.read-more {
  color: rgba(0, 0, 0, 0.44);
  font-size: 16px;
  cursor: pointer;
  margin-top: 0px;
  transition: .1s background-color, .1s border-color, .1s color, .1s fill;
}

.static-background {
  background: linear-gradient(#0570c0, #0570c0 70%, #f1f0f0 70.001%);
}

@media only screen and (max-width: 500px) {
  .static-background {
    background: #0570c0;
  }

  .read-more {
    color: rgba(0, 0, 0, 0.44);
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
    transition: .1s background-color, .1s border-color, .1s color, .1s fill;
  }

  .creativity-card {
    margin: 0px;
  }

  .creativity-cover {
    cursor: pointer;
    height: 150px;
    max-width: 100%;
    object-fit: none;
    width: 100%;
  }

  .creativity-title {
    margin-top: 31px;
    font-size: 23px;
    line-height: 1.04;
    margin-right: 20px;
    text-decoration: none;
    letter-spacing: -.028em;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.8);
  }

  .creativity-description {
    margin: 0px;
    margin-top: 10px;
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    line-height: 1.22;
    letter-spacing: -.022em;
    word-spacing: 0.1em;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.87);
    font-style: normal;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  }

  .creativity-title-single {
    margin-right: 20px;
    margin-left: 20px;
  }

  .creativity-description-single {
    margin-top: 29px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .creativity-description p {
    margin: 0px;
    font-size: 16px;
    line-height: 1.58;
    letter-spacing: .01em;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 300;
    font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  }

  .interest {
    padding: 0px 7px;
    min-width: 0px;
    font-size: 12px;
    margin: 7px 2px;
  }

  .page-content {
    padding: 8px 0px !important;
  }
}
.table {
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
  margin-bottom: 2rem;
  background-color: #fff;
}
.table > thead > tr,
.table > tbody > tr,
.table > tfoot > tr {
  transition: all 0.3s ease;
}
.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  text-align: left;
  padding: 1.2rem;
  vertical-align: top;
  border-top: 0;
  transition: all 0.3s ease;
}
.table > thead > tr > th {
  font-weight: 400;
  color: #757575;
  vertical-align: bottom;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.table .table {
  background-color: #fff;
}
.table .no-border {
  border: 0;
}

.table-bordered {
  border: 0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 768px) {
  .table-responsive-vertical > .table {
    margin-bottom: 0;
    background-color: transparent;
  }
  .table-responsive-vertical > .table > thead,
  .table-responsive-vertical > .table > tfoot {
    display: none;
  }
  .table-responsive-vertical > .table > tbody {
    display: block;
  }
  .table-responsive-vertical > .table > tbody > tr {
    display: block;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 1.2rem;
  }
  .table-responsive-vertical > .table > tbody > tr > td {
    background-color: #fff;
    display: block;
    vertical-align: middle;
    text-align: right;
  }
  .table-responsive-vertical > .table > tbody > tr > td[data-title]:before {
    content: attr(data-title);
    float: left;
    font-size: inherit;
    font-weight: 400;
    color: #757575;
    padding-right: 10px;
  }
  .table-responsive-vertical.shadow-z-1 {
    box-shadow: none;
  }
  .table-responsive-vertical.shadow-z-1 > .table > tbody > tr {
    border: none;
  }
  .table-responsive-vertical > .table-bordered {
    border: 0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td {
    border: 0;
    border-bottom: 1px solid #e0e0e0;
  }
  .table-responsive-vertical > .table-bordered > tbody > tr > td:last-child {
    border-bottom: 0;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td,
  .table-responsive-vertical > .table-striped > tbody > tr:nth-child(odd) {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-striped > tbody > tr > td:nth-child(odd) {
    background-color: #f5f5f5;
  }
  .table-responsive-vertical > .table-hover > tbody > tr:hover > td,
  .table-responsive-vertical > .table-hover > tbody > tr:hover {
    background-color: #fff;
  }
  .table-responsive-vertical > .table-hover > tbody > tr > td:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
}

.event-description {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #555555;
}

.section-heading {
  font-size: 29px;
  font-weight: 300;
}

@media only screen and (max-width: 500px) {
  .section-heading {
    font-size: 25px;
    font-weight: 300;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .event-description {
    /*margin-top: -10px;*/
    /*margin-bottom: -1px;*/
    color: #555555;
  }

  md-card-actions.event-actions {
    margin: 0px;
  }
}
