<div layout-gt-xs="row" layout-xs="column">
    <center style="margin-top:8px; " hide-xs hide-sm flex="20" layou="row" layout-wrap>
        <h3 class="md-title">Categories</h3>
        <md-button ng-repeat="type in types" ng-class="type.intrested?'interest_selected':'interest'" ng-checked="exists(type, selected)" ng-click="toggle(type, selected)">
            {{ type.title }}
        </md-button>
    </center>
    <div layout-align="start center" layout="row" hide-gt-xs>
        <md-button class="" ng-click="filterToggle()">
            <md-icon md-svg-icon="filter-outline"></md-icon>
            Filter
        </md-button>
        <span flex></span>
        <md-button ui-sref="home.addCreativity"  style="text-transform:none;">
                Add a Creativity
                <!-- <md-icon md-svg-icon="all-inclusive"></md-icon> -->
        </md-button>
    </div>
    <div layout="row" ng-if="filterShow" layout-wrap show-xs show-sm hide-gt-sm>
        <md-button ng-repeat="type in types" ng-class="type.intrested?'interest_selected':'interest'" ng-checked="exists(type, selected)" ng-click="toggle(type, selected)">
            {{ type.title }}
        </md-button>
        <span flex></span>
        <md-button ng-click="filterToggle();" class="md-primary">
            Done
        </md-button>
    </div>
    <div flex layout-align="space-around" layout-gt-xs="row" layout-xs="row" layout-wrap class="creativity-page" infinite-scroll="myPagingFunction() " infinite-scroll-disabled='creativityLoading' infinite-scroll-distance="3 ">
        <md-card class="content-card" flex-lg="30" flex-md="45" flex-sm="45" flex-xs="100" ng-repeat="content in finalContents track by $index" style="margin-left: 4px;">
            <md-card-content style="padding: 0px">
                <div ng-if="(content.type == 'vimeo') || (content.type == 'soundcloud') " layout-align="center center">
                    <!-- <iframe ng-show="(content.type == 'youtube')" width="100%" height="315" ng-src="{{content.url}}" frameborder="0" allowfullscreen></iframe> -->
                    <iframe id="sc-widget" ng-show="(content.type == 'soundcloud')" width="100%" height="170" scrolling="no" frameborder="0" ng-src="{{content.url}}" allowfullscreen></iframe>
                    <iframe ng-show="(content.type == 'vimeo')" width="100%" height="228" ng-src="{{content.url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>
                <a ng-if="(content.type == 'cover' || content.type == 'image')" ui-sref="home.singleContent({contentId: content.id})">
                    <img class="creativity-cover" ng-class="(mediaTypes.indexOf(content.content.type) !== -1)?'creativity-cover-full':''" alt="" ng-src="{{content.url}}">
                </a>
                <div ng-if="(content.type == 'youtube')" style="position: relative;">
                    <a ui-sref="home.singleContent({contentId: content.id})">
                        <img style="background:url('https://img.youtube.com/vi/{{content.url}}/hqdefault.jpg');object-fit: cover;background-size: cover;background-position: center;" class="creativity-cover" alt="">
                        <md-icon class="play-button" md-svg-icon="play" ng-if="(content.type == 'youtube')" ui-sref="home.singleContent({contentId: content.id})" style="" aria-label="Alarm Icon"></md-icon>
                    </a>
                </div>
            </md-card-content>
            <md-card-header layout="column" flex ng-hide="(mediaTypes.indexOf(content.content.type) !== -1)">
                <a ui-sref="home.singleContent({contentId: content.id})" style="text-decoration: none;">
                    <span class="creativity-title" ng-bind-html="content.title"></span>
                </a>
                <a ui-sref="home.singleContent({contentId: content.id})" style="text-decoration: none;text-overflow: ellipsis;">
                    <p class="creativity-description md-body-2 creativity-description-list" ui-sref="home.singleContent({contentId: content.id})" style="cursor: pointer" ng-bind-html="content.description  | limitTo: 10">
                    </p>
                </a>
            </md-card-header>
            <md-card-header layout="row" layout-align="start center">
                <md-card-avatar style="margin-left: 0px;margin-right:5px;">
                    <img class="md-user-avatar" ui-sref="home.profile({username: content.created.by.username})" ng-src="{{content.created.by.image}}" />
                </md-card-avatar>
                <md-card-header-text ui-sref="home.singleContent({contentId: content.id})" class="" style="cursor: pointer">
                    <span class="md-caption "><span class="capitalize blue_text"  ng-click="openProfile($event, content.created.by.username);" >{{content.created.by.name}} </span><span class="blue_text"> <span style="color: rgba(99,108,116,0.87);"><br> in</span> {{content.category?content.category:"Unknown"}} </span>
                    </span>
                    <!-- <span style="color: rgba(99,108,116,0.87);" class="md-caption">{{content.created.at  | date: 'd MMM'}}</span> -->
                </md-card-header-text>
                <div layout="row" layout-align="start center" flex="50">
                    <md-button class="appreciate-button md-icon-button" style="text-transform: capitalize;" ng-click="heart(content)" aria-label="Favorite" title="Recommend to share this article with your followers and let the author know you liked it">
                        <md-icon class="pink" md-svg-icon="{{content.Actions.Appreciate.status? 'heart' : 'heart-outline' }}"></md-icon>
                    </md-button>
                    <span ng-click="showLikes(content.id, content.title)" style="cursor: pointer;" class="likesNumber"> {{content.Actions.Appreciate.total}}</span>
                    <md-button class="md-icon-button" ng-controller="ShareController" ng-click="showCustom($event,'creativity',content.id)" aria-label="share ">
                        <md-icon ng-class="" md-svg-icon="share"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="bookmark(content)" aria-label="Favorite">
                        <md-icon ng-class="content.Actions.Bookmarked.status? 'grey':''" md-svg-icon="{{content.Actions.Bookmarked.status? 'bookmark' : 'bookmark-outline' }}"></md-icon>
                    </md-button>
                </div>
            </md-card-header>
        </md-card>
       <loading-creativity  layout-wrap style="width: 100%" layout="row" layout-align="space-around" hide-xs ></loading-creativity>
       <loading-creativity layout="column" style="width: 100%" layout-align="space-around" hide-gt-xs ></loading-creativity>
        <!-- <md-card class="content-card" ng-if="creativityLoading" ng-repeat="content in [1,2,3]" flex-lg="30" flex-md="45" flex-sm="45" flex="100">
            <md-card-header>
                <md-card-avatar style="background: #f6f7f8">
                    <img class="md-user-avatar" />
                </md-card-avatar>
                <md-card-header-text>
                    <span style="width: 30%" class=" animated-background">Anything here  </span>
                </md-card-header-text>
            </md-card-header>
            <span class="md-headline animated-background" flex="90" flex-offset="10" style="padding: 40px; margin-bottom: 50px">and again</span>
        </md-card> -->
    </div>
</div>
