/**
 * Colours
 */

$main-bg-color: #fff !important;
// $text-color: #373737;
$cb-green-color: #23CF5F !important;
$grey-color: #484848;
$accent-color: rgb(0, 150, 136);
$warning-color: #E75753;
$text-color-black: rgba(0, 0, 0, .87) !important;
$text-color-red: #e91e63 !important;
$text-color-grey: rgba(0, 0, 0, .6) !important;
$text-color-light-grey: rgba(0, 0, 0, .44) !important;

/**
 * typography
 */

//families
$font-family: 'Open Sans',
-apple-system,
BlinkMacSystemFont,
Roboto,
Helvetica Neue,
sans-serif !important;
// sizes
$f-1: 36px;
$f-2: 24px;
$f-3: 20px;
$f-4: 16px;
$f-5: 14px;
$f-6: 13px;
$f-7: 12px;
// weights
$thin :300;
$normal:400;
$semi-bold :600;
$bold :700;
// letter spacing
$spacing-increase:0.035em;
$spacing-reduce:-0.02em;
// word spacing

/**
 * layouts
 */

$border-radius:2px;
$inner-max-width:720px;
$left-sidenav-width: 110px;
$s-0:0px;
$s-1:4px;
$s-2:8px;
$s-3:12px;
$s-4:16px;
$s-5:20px;
$s-6:24px;
$s-7:28px;
$s-8:32px;
$s-9:36px;
$s-10:40px;

/**
 * Card
 */

$card-shadow: 0 4px 16px -2px rgba(0, 0, 0, .1),
0 0 0 1px rgba(0, 0, 0, .02);