.cb-white-fill {
    fill: #ffffff;
}

.cb-dark-grey-fill {
    fill: $text-color-grey;
}

.cb-grey-fill {
    fill: $text-color-grey !important;
    opacity: 0.6;
}

.cb-red-fill {
    fill: $text-color-red;
}


/*main.html*/

.white_text {
    color: #fff !important;
}

.capitalize.grey_text.md-button.active md-icon {
    fill: #23cf5f;
}

.active.capitalize.grey_text.bottom-menu-item {
    // .capitalize.grey_text.md-button.active .md-tile-content {
    color: #23cf5f;
}


/*Defaults*/

.cb-green-bg {
    background: #23CF5F !important;
}