/**
 * Material overides
 */

.md-button.md-raised:not([disabled]) {
    box-shadow: none;
}

.md-button {
    text-transform: none;
}


/**
 * generic
 */

.pointer {
    cursor: pointer;
}

.horizontal-scroll {
    height: 375px;
    overflow-y: hidden;
}

.center {
    margin: auto;
}

.text-center {
    text-align: center;
}


/**
 * other elements
 */

.main-container {
    max-width: 1500px;
    margin: auto;
    padding-top: 16px;
    padding-left: 16px;
}

.creativity-description p {
    margin: $s-0;
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    color: transparent!important;
    background: linear-gradient(to right, #f6f7f8 8%, #eee 18%, #f6f7f8 33%);
    background-size: 800px 104px;
    position: relative;
}

.cb-card-vertical {
    overflow: hidden;
    background-color: white;
    border-radius: $border-radius;
    margin: $s-0;
    margin-right: $s-7;
    margin-bottom: $s-7;
    box-shadow: $card-shadow;
    width: 280px;
}

.cb-card-horizontal {
    overflow: hidden;
    background-color: white;
    border-radius: $border-radius;
    margin: $s-0;
    margin-bottom: $s-4;
    margin-right: $s-4;
    box-shadow: $card-shadow;
}

.cb-body-container {
    max-width: $inner-max-width;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    .btn-add-mobile {
        padding: $s-0;
        margin: $s-0;
        margin-right: $s-4;
        margin-bottom: $s-4;
    }
}