/**
 * generic
 */

.pointer {
    cursor: pointer;
}

.horizontal-scroll {
    height: 375px;
    overflow-y: hidden;
}

.center {
    margin: auto;
}

.text-center {
    text-align: center;
}


/**
 * other elements
 */

.main-container {
    max-width: 1500px;
    margin: auto;
    padding-top: 16px;
    padding-left: 16px;
}

.cb-card-title p {
    margin: $s-0;
    color: inherit;
    font-size: inherit;
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    color: transparent!important;
    background: linear-gradient(to right, #f6f7f8 8%, #eee 18%, #f6f7f8 33%);
    background-size: 800px 104px;
    position: relative;
}

.cb-card-vertical {
    overflow: hidden;
    background-color: white;
    border-radius: $border-radius;
    margin: $s-0;
    margin-right: $s-7;
    margin-bottom: $s-7;
    box-shadow: $card-shadow;
    width: 280px;
}

.cb-card-horizontal {
    overflow: hidden;
    background-color: white;
    border-radius: $border-radius;
    margin: $s-0;
    margin-bottom: $s-4;
    margin-right: $s-4;
    box-shadow: $card-shadow;
}

.cb-body-container {
    max-width: $inner-max-width;
    margin: auto;
}

.user-avatar {
    height: $s-8;
    width: $s-8;
    border-radius: 25px;
    margin-right: $s-2;
}

.interest_selected {
    background-color: $text-color-red;
    border-radius: $border-radius-chip;
    padding: $s-0 $s-3;
    text-transform: none !important;
    color: white !important;
    min-width: $s-0;
    font-size: $f-6;
}

.interest {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: $border-radius-chip;
    text-transform: none !important;
    padding: $s-0 $s-3;
    min-width: $s-0;
    font-size: $f-6;
}

@media only screen and (max-width: 600px) {
    .btn-add-mobile {
        padding: $s-0;
        margin: $s-0;
        margin-right: $s-4;
        margin-bottom: $s-4;
    }
    .interest {
        padding: 0px 7px;
        min-width: 0px;
        font-size: 12px;
        margin: 7px 2px;
    }
}