* {
    font-family: $font-family;
    color: $text-color-black;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

md-toolbar {
    background: white !important;
}

p {
    margin: 0px;
    padding: 0px;
}

md-button md-raised:not([disabled]) {
    box-shadow: none;
}

md-button {
    text-transform: none;
}