/*
    Contents
        1. typography classes
*/


/*Typography
    1. section heading
    2. card heading
    3. page heading
    4. page subheading

    1. card body
    2. button text
    3. body text

    usage: cb-a-b ;
*/


/*TEXT COLORS*/

.cb-white {
    color: white;
}

.cb-grey-text {
    color: $text-color-grey;
}

.cb-caption-clickable {
    color: $cb-green-color;
    text-transform: capitalize;
    font-size: $f-7;
}

.cb-caption-text {
    color: $text-color-grey;
    text-transform: capitalize;
    font-size: $f-7;
}

.cb-card-title {
    color: text-color-black;
    font-size: $f-3;
    font-weight: $semi-bold;
    margin: $s-4;
}

.cb-card-body {
    font-size: $f-5;
    letter-spacing: $spacing-increase;
    font-weight: $normal;
    margin: $s-4 !important;
    margin-top: $s-0 !important;
    color: $text-color-light-grey;
    text-align: justify;
}

.cb-body {
    font-size: 20px;
    letter-spacing: 0;
    line-height: 1.5em;
    font-weight: 400;
}

.cb-info-text-white {
    color: $main-bg-color;
    font-size: $f-5;
    font-weight: $semi-bold;
    margin: $s-0;
}

.cb-info-text-grey {
    color: $text-color-grey;
    font-size: $f-5;
    font-weight: $normal;
    margin: $s-0;
}

.cb-info-text {
    font-size: $f-4;
    font-weight: $normal;
    margin: $s-0;
}

.text-limit-lines-7 {
    height: 205px;
    line-height: 29px;
    overflow: hidden;
}

.text-limit-lines-3 {
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}

.text-limit-lines-2 {
    height: 40px;
    line-height: 20px;
    overflow: hidden;
}

.capitalize {
    text-transform: capitalize;
}

.justify {
    text-align: justify;
}

@media only screen and (max-width: 500px) {
    .cb-section-heading {
        font-size: 20px;
        font-weight: 600;
        margin: 0px;
    }
    .cb-body {
        font-size: 13px;
        letter-spacing: 0;
        font-weight: 400;
        margin: 0px;
    }
}

// Page specific typography
.creativity-card {
    height: 343px;
    position: relative;
    .cb-card-body {
        text-align: left;
    }
}

// .cb-section-heading {
//     font-size: 24px;
//     font-weight: 700;
//     margin: 0px;
// }
// .cb-section-subheading {
//     font-size: 16px;
//     font-weight: 400;
//     margin: 0px;
// }
// .cb-card-heading {
//     font-size: 16px;
//     font-weight: 700;
//     letter-spacing: .035em;
//     margin: 0px;
// }
// .cb-page-heading {
//     font-size: 36px;
//     font-weight: 700;
//     letter-spacing: -.02em;
//     margin: 0px;
// }
// .cb-page-subheading {
//     font-size: 20px;
//     font-weight: 400;
//     letter-spacing: -.02em;
//     margin: 0px;
// }
// .cb-button-text {
//     font-size: 12px;
//     letter-spacing: .02em;
//     margin: 0px;
// }
// .cb-body-text {
//     font-size: 18px;
//     font-weight: 400;
//     letter-spacing: -.004em;
//     margin: 0px;
// }